@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel;
@using PrototypeWithAuth.AppData
@using PrototypeWithAuth.ViewModels;

@{
    var markReadOnlyClass = "";
    if (Model.ModalType == AppUtility.VendorModalType.Edit || Model.ModalType == AppUtility.VendorModalType.SummaryFloat)
    {
        markReadOnlyClass = "mark-readonly";
    }
}
<div id="contact-info">
    <div class="row modal-tab-name">
        <span class="heading-1 col-12 modal-tab-name">Contact Info</span>
    </div>
    <input type="hidden" value="@Model.VendorContacts.Count" id="contact-index" />
    @for (int x = 0; x < Model.VendorContacts.Count(); x++)
    {

        await Html.RenderPartialAsync("ContactInfoPartial", new AddContactViewModel { VendorContact = Model.VendorContacts[x].VendorContact, Index = x, ModalType = Model.ModalType });

    }
</div>
<div class="text-center">
    <input id="addSuplierContact" type="button" value="+ Add contact name" class="btn  btn-rounded border no-box-shadow pt-1 pb-1 pr-5 pl-5 text-capitalize @markReadOnlyClass" style="font-size:1rem;" />
</div>
