@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel;
@using PrototypeWithAuth.AppData


    <div class="row modal-tab-name">
        <span class="heading-1 col-12 modal-tab-name">Payment</span>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Vendor.VendorBank" class="control-label"></label>
                <input asp-for="Vendor.VendorBank" class="form-control-plaintext border-bottom mark-readonly" disabled />
                <span asp-validation-for="Vendor.VendorBank" class="text-danger-centarix"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Vendor.VendorBankBranch" class="control-label"></label>
                <input asp-for="Vendor.VendorBankBranch" class="form-control-plaintext border-bottom mark-readonly" disabled />
                <span asp-validation-for="Vendor.VendorBankBranch" class="text-danger-centarix"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Vendor.VendorAccountNum" class="control-label"></label>
                <input asp-for="Vendor.VendorAccountNum" class="form-control-plaintext border-bottom mark-readonly" disabled />
                <span asp-validation-for="Vendor.VendorAccountNum" class="text-danger-centarix"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label asp-for="Vendor.VendorSwift" class="control-label"></label>
            <input asp-for="Vendor.VendorSwift" class="form-control-plaintext border-bottom mark-readonly" disabled />
            <span asp-validation-for="Vendor.VendorSwift" class="text-danger-centarix"></span>
        </div>
        <div class="col-4">
            <label asp-for="Vendor.VendorBIC" class="control-label"></label>
            <input asp-for="Vendor.VendorBIC" class="form-control-plaintext border-bottom mark-readonly" disabled />
            <span asp-validation-for="Vendor.VendorBIC" class="text-danger-centarix"></span>
        </div>
        <div class="col-4">
            <label asp-for="Vendor.VendorRoutingNum" class="control-label "></label>
            <input asp-for="Vendor.VendorRoutingNum" class="form-control-plaintext border-bottom mark-readonly" disabled />
            <span asp-validation-for="Vendor.VendorRoutingNum" class="text-danger-centarix"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Vendor.VendorGoldAccount" class="control-label"></label>
                <input asp-for="Vendor.VendorGoldAccount" class="form-control-plaintext border-bottom mark-readonly" disabled />
                <span asp-validation-for="Vendor.VendorGoldAccount" class="text-danger-centarix"></span>
            </div>
        </div>
    </div>