@model PrototypeWithAuth.Models.VendorContact

@{
    ViewData["Title"] = "AddContact";
    //Layout = "~/Views/Vendors/Create.cshtml";
}
<div class="row mb-3 ">
    <div class="col-6 mr-4  ">
        <label asp-for="VendorContactName" class="control-label"></label>
        <input asp-for="VendorContactName" class="form-control-plaintext border-bottom" />
        <span asp-validation-for="VendorContactName" class="text-danger"></span>
    </div>
    <div class="col-5  ">
        <label class="control-label">Category</label>
        <input  class="form-control-plaintext border-bottom" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-6 mr-4">
        <label asp-for="VendorContactEmail" class="control-label"></label>
        <input asp-for="VendorContactEmail" class="form-control-plaintext border-bottom" />
        <span asp-validation-for="VendorContactEmail" class="text-danger"></span>
    </div>
    <div class="col-5 mb-5 ">
        <label asp-for="VendorContactPhone" class="control-label"></label>
        <input asp-for="VendorContactPhone" class="form-control-plaintext border-bottom" />
        <span asp-validation-for="VendorContactPhone" class="text-danger"></span>
    </div>
</div>