@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel;
@using PrototypeWithAuth.ViewModels;
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{ 
    string sectionClass = "";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

    if (Model.SectionType.Equals(AppUtility.MenuItems.LabManagement))

    {
        sectionClass = "supplier-form";
    }
    else
    {
        sectionClass = "accounting-form";
    }

    <div class="col-12  mx-auto on-form-modal @sectionClass add-item-box scroll-page" @*style="width: 60%"*@>
        <div class="on-form-modal-border" id="addVendorModal">
            <form action="" id="myForm" class="createVendorForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                @{ await Html.RenderPartialAsync("~/Views/Vendors/_VendorTabs.cshtml", Model);}
            </form>
        </div>
    </div>


}

@section Scripts{
    <script src="~/js/Validation/CreateVendorFormValidation.js"></script>
    <script src="~/js/validate.js"></script>
}

<script>

    $(".popover-url").off('click').click(function () {
        if ($("#VendorWebsite .accounting-popover a").attr("href") == "") {
            $(this).popover('hide');
        }
        else {
            var val = $(this).val();
            console.log("url popover")
            $('[data-toggle="popover"]').popover('dispose');
            $(this).popover({
                sanitize: false,
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('#' + val).html();
                }
            });
            $(this).popover('toggle');
        }

    });

    $("#Vendor_VendorWebsite").on("focusout", function (e) {
        var inputText = $(this).val();
        $.ajax({
            async: true,
            url: "/Requests/GetUrlFromUserData?inputtedUrl=" + inputText,
            traditional: true,
            type: "GET",
            cache: false,
            success: function (data) {
                $("#VendorWebsite a").attr("href", data);
                $("#VendorWebsite a label").html(inputText);
                return false;
            }
        });
        $(".popover-url").popover('hide');
    });
</script>
<script src="~/js/commentPopover.js"></script>