@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel;
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
@{

    <div class="modal modal-view right fader on-form-modal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

        <div class="modal-dialog modal-lg" role="document" style="max-height:100%; width: 50%; max-width: 100%">

            <div class="modal-content d-inline-block">

                <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="createVendorForm" autocomplete="off">

                    @{ await Html.RenderPartialAsync("~/Views/Vendors/_VendorTabs.cshtml", Model);}
                </form>
            </div>
        </div>

    </div>
}