@model IEnumerable<PrototypeWithAuth.Models.Vendor>
@using PrototypeWithAuth.AppData
    @{
        ViewData["Title"] = "IndexForPayment";

        if (TempData["SectionType"].Equals(AppUtility.MenuItems.LabManagement))
        {
            Layout = "~/Views/Shared/RequestNavView.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/RequestNavView.cshtml";
        }
    }
<input type="hidden" value="@TempData["SectionType"]" id="SectionType"/>
    <div class="indexTable">
        @{ await Html.RenderPartialAsync("_IndexForPayment", Model);}
    </div>
