@using PrototypeWithAuth.AppData
@model PrototypeWithAuth.ViewModels.VendorSearchViewModel
@{
//ViewData["Title"] = "Search";
}
@if (TempData["SectionType"].Equals(AppUtility.MenuItems.LabManagement))
{
    Layout = "~/Views/Shared/SuppliersNavViewForLabManage.cshtml";
}
else
{ 
    Layout = "~/Views/Shared/SuppliersNavView.cshtml";
}

<div class="card-body border-0 m-auto" style="max-width:55%;">
    <form asp-action="Search">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="new-modal-header border-bottom box-shadow container-fluid" style="padding: 0.5em 6em">
            <div class="row mt-3 mb-5">
                <div class="col-8 offset-0">
                    <h2 class="mt-1">Search Supplier</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label asp-for="Vendor.VendorEnName" class="control-label"></label>
                        <input asp-for="Vendor.VendorEnName" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Vendor.VendorEnName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Vendor.VendorHeName" class="control-label"></label>
                        <input asp-for="Vendor.VendorHeName" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Vendor.VendorHeName" class="text-danger"></span>
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-6">
                            @Html.DisplayNameFor(model => model.ParentCategories.FirstOrDefault().ParentCategoryDescription)


                            @Html.DropDownListFor(model => model.SelectedParentCategoryID, new SelectList(
                                                                                        Model.ParentCategories,
                                dataValueField: "ParentCategoryID",
                                dataTextField: "ParentCategoryDescription"),
                                optionLabel: "Select A Category ",
                                htmlAttributes: new
                                     {
                                    @class = "form-control-plaintext border-bottom"
                                     })
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Vendor.VendorBuisnessID" class="control-label"></label>
                            <input asp-for="Vendor.VendorBuisnessID" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorBuisnessID" class="text-danger"></span>
                        </div>
                    </div>


                    <div class=" row">
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorCity" class="control-label"></label>
                            <input asp-for="Vendor.VendorCity" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorCity" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorStreet" class="control-label"></label>
                            <input asp-for="Vendor.VendorStreet" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorStreet" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorZip" class="control-label"></label>
                            <input asp-for="Vendor.VendorZip" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorZip" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorTelephone" class="control-label"></label>
                            <input asp-for="Vendor.VendorTelephone" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorTelephone" class="text-danger"></span>
                        </div>


                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorCellPhone" class="control-label"></label>
                            <input asp-for="Vendor.VendorCellPhone" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorCellPhone" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorFax" class="control-label"></label>
                            <input asp-for="Vendor.VendorFax" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorFax" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.OrdersEmail" class="control-label"></label>
                            <input asp-for="Vendor.OrdersEmail" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.OrdersEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.InfoEmail" class="control-label"></label>
                            <input asp-for="Vendor.InfoEmail" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.InfoEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorWebsite" class="control-label"></label>
                            <input asp-for="Vendor.VendorWebsite" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorWebsite" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorBank" class="control-label"></label>
                            <input asp-for="Vendor.VendorBank" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorBank" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorBankBranch" class="control-label"></label>
                            <input asp-for="Vendor.VendorBankBranch" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorBankBranch" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorAccountNum" class="control-label"></label>
                            <input asp-for="Vendor.VendorAccountNum" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorAccountNum" class="text-danger"></span>
                        </div>

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-4 ">
                            <label asp-for="Vendor.VendorSwift" class="control-label"></label>
                            <input asp-for="Vendor.VendorSwift" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorSwift" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorBIC" class="control-label"></label>
                            <input asp-for="Vendor.VendorBIC" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorBIC" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorGoldAccount" class="control-label"></label>
                            <input asp-for="Vendor.VendorGoldAccount" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Vendor.VendorGoldAccount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group text-center m-auto" style="width:50%;">
                        <input type="submit" value="Search" class=" inv-supplier-button mt-1 mb-4 btn-block p-0" />
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>  