@model PrototypeWithAuth.ViewModels.VendorSearchViewModel
@{
    //ViewData["Title"] = "Search";
    //Layout = "~/Views/Shared/SuppliersNavView.cshtml";
}

<div class="modal-dialog  modal-dialog-scrollable modal-lg" role="document" style="max-height:100%; overflow-y:auto;">

    <div class="modal-content d-inline-block">

        <h1>Search Supplier</h1>

        <div class="row">
            <div class="col-md-12">
                <form asp-action="Search">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Vendor.VendorEnName" class="control-label"></label>
                        <input asp-for="Vendor.VendorEnName" class="form-control" />
                        <span asp-validation-for="Vendor.VendorEnName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Vendor.VendorHeName" class="control-label"></label>
                        <input asp-for="Vendor.VendorHeName" class="form-control" />
                        <span asp-validation-for="Vendor.VendorHeName" class="text-danger"></span>
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-6">
                            @Html.DisplayNameFor(model => model.ParentCategories.FirstOrDefault().ParentCategoryDescription)


                            @Html.DropDownListFor(model => model.SelectedParentCategoryID, new SelectList(
                                                                                        Model.ParentCategories,
                                dataValueField: "ParentCategoryID",
                                dataTextField: "ParentCategoryDescription"),
                                optionLabel: "Select A Category ",
                                htmlAttributes: new { @class = "form-control" })
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Vendor.VendorBuisnessID" class="control-label"></label>
                            <input asp-for="Vendor.VendorBuisnessID" class="form-control" />
                            <span asp-validation-for="Vendor.VendorBuisnessID" class="text-danger"></span>
                        </div>
                    </div>


                    <div class=" row">
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorCity" class="control-label"></label>
                            <input asp-for="Vendor.VendorCity" class="form-control" />
                            <span asp-validation-for="Vendor.VendorCity" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorStreet" class="control-label"></label>
                            <input asp-for="Vendor.VendorStreet" class="form-control" />
                            <span asp-validation-for="Vendor.VendorStreet" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorZip" class="control-label"></label>
                            <input asp-for="Vendor.VendorZip" class="form-control" />
                            <span asp-validation-for="Vendor.VendorZip" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorContactPhone1" class="control-label"></label>
                            <input asp-for="Vendor.VendorContactPhone1" class="form-control" />
                            <span asp-validation-for="Vendor.VendorContactPhone1" class="text-danger"></span>
                        </div>


                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorContactPhone2" class="control-label"></label>
                            <input asp-for="Vendor.VendorContactPhone2" class="form-control" />
                            <span asp-validation-for="Vendor.VendorContactPhone2" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorFax" class="control-label"></label>
                            <input asp-for="Vendor.VendorFax" class="form-control" />
                            <span asp-validation-for="Vendor.VendorFax" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.OrderEmail" class="control-label"></label>
                            <input asp-for="Vendor.OrderEmail" class="form-control" />
                            <span asp-validation-for="Vendor.OrderEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.ContactEmail" class="control-label"></label>
                            <input asp-for="Vendor.ContactEmail" class="form-control" />
                            <span asp-validation-for="Vendor.ContactEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorWebsite" class="control-label"></label>
                            <input asp-for="Vendor.VendorWebsite" class="form-control" />
                            <span asp-validation-for="Vendor.VendorWebsite" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorBank" class="control-label"></label>
                            <input asp-for="Vendor.VendorBank" class="form-control" />
                            <span asp-validation-for="Vendor.VendorBank" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorBankBranch" class="control-label"></label>
                            <input asp-for="Vendor.VendorBankBranch" class="form-control" />
                            <span asp-validation-for="Vendor.VendorBankBranch" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Vendor.VendorAccountNum" class="control-label"></label>
                            <input asp-for="Vendor.VendorAccountNum" class="form-control" />
                            <span asp-validation-for="Vendor.VendorAccountNum" class="text-danger"></span>
                        </div>

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-6 ">
                            <label asp-for="Vendor.VendorSwift" class="control-label"></label>
                            <input asp-for="Vendor.VendorSwift" class="form-control" />
                            <span asp-validation-for="Vendor.VendorSwift" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Vendor.VendorBIC" class="control-label"></label>
                            <input asp-for="Vendor.VendorBIC" class="form-control" />
                            <span asp-validation-for="Vendor.VendorBIC" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Vendor.VendorGoldAccount" class="control-label"></label>
                        <input asp-for="Vendor.VendorGoldAccount" class="form-control" />
                        <span asp-validation-for="Vendor.VendorGoldAccount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Vendor.ContactPerson" class="control-label"></label>
                        <input asp-for="Vendor.ContactPerson" class="form-control" />
                        <span asp-validation-for="Vendor.ContactPerson" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>