@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels._RepairsViewModel

<div class="row"><span class="heading-1 modal-tab-name">Repairs</span></div>
<div class="row mt-3 text-center">
    <div class="col-12">
        <button class="text custom-button custom-button-font lab-man-background-color saveRepairs between-button-margin">Save</button>
        <button class="custom-button custom-cancel text dont-save-request-edits  ">Cancel</button>
    </div>
</div>