@model PrototypeWithAuth.ViewModels.CreateCalibrationViewModel;
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager

    <div class="col-12  mx-auto on-form-modal supplier-form" style="width: 60%">
        <div class="on-form-modal-border" >
            <form action="" id="myForm" class="createCalibration" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
              <input type="hidden" asp-for="RequestID"/>
                     <div class="new-modal-header border-bottom container-fluid" style="padding: 0">
                    <div class="row">
                        <div class="col-7 form-group modal-line-1-header modal-sides">
                            <div class="mt-1 heading-1">@Model.ProductDescription</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center modal-sides">
                                <ul class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0 nav-tabs-icons" style="">
                                    <li class="nav-item"><a data-toggle="tab" href="#instructions"  class="nav-link next-tab  lab-man-nav-link "><i class="icon-assignment-24px" style="font-size: 2rem;"></i><br />Instructions</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#repairs" class="nav-link next-tab  lab-man-nav-link" disabled><i class="icon-category-24px1" style="font-size: 2rem;"></i><br />Repairs</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#externalCalibration"  class="nav-link next-tab  lab-man-nav-link" ><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />External Calibration</a></li>
                                    <li class="nav-item"><a data-toggle="tab"  href="#internalCalibration" class="nav-link next-tab  lab-man-nav-link " ><i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />In House Maintainance</a></li>
                                    <li class="nav-item"><a data-toggle="tab"  href="#history" class="nav-link next-tab   lab-man-nav-link" ><i class="icon-history-24px" e.css style="font-size: 2rem;"></i><br />History</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-modal-body">
                    <div class="container-fluid div-tabs no-box-shadow p-0">
                        <div class="tab-content">
                            <div id="instructions" class="tab-pane fade">
                                <div class="modal-sides modal-body-top-p">
                                   </div>
                            </div>
                            <div id="repairs" class="tab-pane fade">
                                <div class="modal-sides modal-body-top-p">
                                 
                                </div>
                            </div>
                            <div id="externalCalibration" class="tab-pane fade">
                                <div class="modal-sides modal-body-top-p">

                                </div>
                            </div>
                             
                            <div id="internalCalibration" class="tab-pane fade">
                                <div class="modal-sides modal-body-top-p">
                                </div>
                            </div>
                            <div id="history" class="tab-pane fade">
                                
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
