@model PrototypeWithAuth.ViewModels.AddLocationViewModel
<script src="~/js/LocationType.js"></script>
<script src="~/js/customDropdown.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Validation/AddLocationFormValidation.js"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>

<div class="modal supplier-form modal-view  overflow-auto" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog no-box-shadow modal-lg on-form-modal" role="document" >

        <div class="modal-content d-inline-block  modal-border-radius modal-box-shadow">


            @*<div class="spinner-border center" role="status"
                   style="display:none;">
                    <span class="sr-only">Loading...</span>
                </div>*@
            <div class="center" role="status" id="loading" style="display:none;">
                <img src="~/images/css/Loading/centarix_loading3.gif" />
            </div>

            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('add-location');">
                <span aria-hidden="true">&times;</span>
            </button>
            <!--HERE!-->

            <form id="myForm" action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding addLocationForm">

                <div style="overflow: hidden;">
                    <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>

                    <div class="no-modal-header p-0">
                    </div>

                    <div class="modal-body" style=" min-height:500px;">

                        <div class="row">
                            <div class="form-group col-12">
                                @*<label asp-for="LocationTypesDepthOfZero" class="control-label">Type of storage</label>*@
                                <div class=" form-control-plaintext p-0">
                                    <select class=" mdb-select custom select-dropdown form-control-plaintext " asp-for="LocationInstance.LocationTypeID" id="locationTypeDDL">
                                        <option value="">Location Type</option>
                                        @foreach (var lp in Model.LocationTypesDepthOfZero)
                                        {
                                            <option value="@lp.LocationTypeID">@lp.LocationTypeName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="LocationInstance.LocationTypeID" class="text-danger-centarix"></span>

                                </div>

                            </div>


                        </div>
                        <div class="row divSublocations mx-0 px-0">
                        </div>
                        <br />
                        <div class="modal-footer-no">
                            <div class="text-center modal-footer-mt">
                                <input id="submitAddLocation" type="submit" value="Save" @*asp-action="AddLocation"*@ class="lab-man-background-color 
                                       custom-button custom-button-font  between-button-margin activeSubmit" />@*style="margin-right:11rem;"*@
                                @*@if (@User.IsInRole("Admin") || @User.IsInRole("Manager"))
                                    {
                                        <button class="btn btn-link load-add-location-type float-none" style="color: #2196F3;">[Add Location Type]</button>
                                    }*@
                                <input type="button" value="Cancel" data-dismiss="modal" class="custom-cancel custom-button " onclick="$.fn.CloseModal('add-location');" />
                            </div>
                            <br />
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#locationTypeDDL").materialSelect();
    $("#locationTypeDDL").change(function () {
        var id = $(this).val();
        if (id != "") {
            var myDiv = $(".divSublocations");
            $.ajax({
                async: true,
                url: "/Locations/SubLocation/?ParentLocationTypeID=" + id + "",
                type: 'GET',
                cache: true,
                context: myDiv,
                success: function (result) {
                    this.html(result);
                    $('.sub-select').materialSelect();
                    $("input[type='hidden']").remove();
                }
            });
        }

    });
    $("#submitAddLocation").click(function (e) {
        e.preventDefault();       
        $("#myForm").data("validator").settings.ignore = "";
        var valid = $("#myForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {
            e.preventDefault();
            if (!$('.activeSubmit').hasClass('disabled-submit')) {
                $('.activeSubmit').addClass('disabled-submit')
            }

        }
        else {
            $("#loading").show();
            //$('.activeSubmit ').removeClass('disabled-submit')
            $('#submitAddLocation').prop('disabled', true)
            var formData = new FormData($("#myForm")[0]);
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: "/Locations/AddLocation",
                data: formData,
                traditional: true,
                type: "POST",
                timeout: 540000,
                cache: false,
                success: function (data) {
                    $("#loading").hide();
                    $('#submitAddLocation').prop('disabled', false)
                    $.fn.CloseModal('add-location');
                    $('.render-body').html(data);
                    return true;
                },
                error: function (x, t, m) {
                    if (t === "timeout") {
                        alert ("browser timed out. you may not see location for another couple of minutes")
                        $.fn.CloseModal('add-location');
                    }
                    $('#submitAddLocation').prop('disabled', false)
                }
            })
        }
        $("#myForm").data("validator").settings.ignore = ':not(select:hidden, .location-error:hidden,input:visible, textarea:visible)';
        
    })
</script>
