@model PrototypeWithAuth.ViewModels.AddLocationTypeViewModel

<div class="modal modal-view fader" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg" role="document" style="max-height:100%; overflow-y:auto; max-width: 30rem;">
        <div class="modal-content d-inline-block" style="width:30rem;">
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-header">
                    <h4>MODAL ADD LOCATION TYPE</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                @*<input type="text" class="form-control" asp-for="Sublocations[0]" />
                    <input type="text" class="form-control" asp-for="Sublocations[1]" />*@

                <div class="modal-body">
                    <label class="control-label">Name:</label>
                    <input asp-for="Sublocations[0]" type="text" class="form-control nameSublocation" />
                    <span class="text-danger nameError"></span>
                    <br />
                    <div class="addSublocation">
                    </div>
                    <br />
                    <input type="button"
                           class="btn btn-outline-secondary btn-sm btnAddSublocation" value="Add Sublocation" />
                </div>

                <div class="modal-footer">
                    <input type="submit" value="SAVE" class="inv-button" asp-action="AddLocationType" />
                    <input type="button" value="CANCEL" data-dismiss="modal" class="cancel-button" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
