@model PrototypeWithAuth.ViewModels.AddLocationViewModel

<script src="~/js/site.js" asp-append-version="true"></script>
<div class="modal-dialog  modal-dialog-scrollable modal-lg  modal-view" role="document" style="max-height:100%; overflow-y:auto;">
    <div class="modal-content d-inline-block">
        <form id="AddLocationForm" action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="modal-header">
                <h4>MODAL ADD LOCATION</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="LocationInstance.LocationInstanceName" class="control-label"> </label>
                    <input asp-for="LocationInstance.LocationInstanceName" type="text" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="LocationTypesDepthOfZero" class="control-label"></label>
                    @Html.DropDownListFor(m => m.LocationInstance.LocationTypeID,
                    new SelectList(Model.LocationTypesDepthOfZero, "LocationTypeID", "LocationTypeName"),
                    "Select Type", new { @class = "form-control" })
                    <span asp-validation-for="LocationInstance.LocationTypeID" class="text-danger"></span>
                </div>

                <div class="col-md-12 divSublocations">
                    SublocationsHolder
                </div>

                <button class="btn btn-dark load-add-location-type">Add Location Type</button>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Save" asp-action="AddLocation" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


