 @{
     var locationHeightID = "LocationInstances_0__Height";
     var locationHeightName = "LocationInstances[0].Height";
     var locationTypeID = "LocationInstances_1__LocationTypeID";
     var locationTypeName = "LocationInstances[1].LocationTypeID";
 }
<span class="addLocationFont">
    Shelf
</span>
<input name="@locationHeightName" id="@locationHeightID" min="0" class="form-control-plaintext border-bottom" />
<input name="@locationTypeName" id="@locationTypeID" value="501" style="display: none;" />