@model PrototypeWithAuth.ViewModels.LocationTypeViewModel;
@using PrototypeWithAuth.AppData;
@{
    ViewData["Title"] = "Index";
    switch (TempData[AppUtility.TempDataTypes.MenuType.ToString()])
    {
        case AppUtility.MenuItems.OrdersAndInventory:
            Layout = "~/Views/Shared/RequestNavView.cshtml";
            break;
        case AppUtility.MenuItems.LabManagement:
            Layout = "~/Views/Shared/RequestNavView.cshtml";
            break;
    }
}
<div class="locations-page">
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @*<div class="row mt-4">
            <div class="col-2 offset-1">
            </div>

        </div>
        <br />*@
    <div class="row">
        <div class="col-9">
            <div class="row">
                @foreach (var type in Model.LocationTypes)
                {
                    <ul class="pl-0">
                        <li class="list-inline-item">
                            <button class="opac-87 clicked-button btn location-type-name  top-menu load-location-index-view mr-3 pt-0 mt-0 ml-0 pl-0" value=@type.LocationTypeID>
                                @type.LocationTypeName
                            </button>
                        </li>
                        @* opac87 btn load-location-index-view clicked-button location-type-name *@
                    </ul>
                }
            </div>
        </div>
        <div class="col-3">
            @if ((@User.IsInRole("Admin") || @User.IsInRole("Manager")) && Model.SectionType == AppUtility.MenuItems.LabManagement)
            {
                <button class="custom-button custom-button-font lab-man-background-color load-add-location  mt-3 float-right" data-target="item" data-backdrop="static" data-keyboard="false" href="item" style="vertical-align: middle;">
                    + &nbsp;&nbsp; Add Location
                </button>

            }
        </div>
    </div>


    <div class="row w-100">
        <div class="col-md-3 colOne pr-0" style="max-width:20%;">

        </div>
        <div class="row colTwoSublocations text-center pl-0" style="max-width:40%;">

        </div>

        <div class="col-md-6 VisualBoxColumn" style="max-width:40%;">

        </div>
    </div>

</div>