@model PrototypeWithAuth.ViewModels.LocationTypeViewModel;
@using PrototypeWithAuth.AppData;
@{
    if (!AppUtility.IsAjaxRequest(Context.Request))
    {
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/RequestNavView.cshtml";
    }
    var pagetype = "";
    switch (TempData[AppUtility.TempDataTypes.MenuType.ToString()])
    {
        case AppUtility.MenuItems.Requests:
            pagetype = "orders-and-inv";
            break;
        case AppUtility.MenuItems.LabManagement:
            pagetype = "labmanage";
            break;
    }
}

<input type="hidden" asp-for="SectionType" />
<script src="~/js/site.js"></script>
<div class="locations-page @pagetype " style=" margin-right: -5.625rem !important;">
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @*<div class="row mt-4">
            <div class="col-2 offset-1">
            </div>

        </div>
        <br />*@
    <div class="row top-row">
        <div class="col-9">
            <div class="row pl-0 ">
                @foreach (var type in Model.LocationTypes)
                {
                    <ul class="pl-0">
                        <li class="list-inline-item">
                            <span class="opac-87 location-type-name  top-menu load-location-index-view" value=@type.LocationTypeID>
                                @type.LocationTypeName
                            </span>
                        </li>
                        @* opac87 btn load-location-index-view clicked-button location-type-name *@
                    </ul>
                }
            </div>
        </div>
        <div class="col-3">
            @*@if ((@User.IsInRole("Admin") || @User.IsInRole("Manager")) && Model.SectionType == AppUtility.MenuItems.LabManagement)
                {
                    <button class="custom-button custom-button-font lab-man-background-color load-add-location  mt-3 float-right" data-target="item" data-backdrop="static" data-keyboard="false" href="item" style="vertical-align: middle;">
                        + &nbsp;&nbsp; Add Location
                    </button>

                }*@
        </div>
    </div>


    <div class="row w-100">
        <div class="col-md-3 colOne pr-0" style="max-width:15%;">

        </div>

        <div class=" second-col  text-center  pl-0 pt-3 " style="width:40%; min-width:670px; ">
            <div class="container-fluid li-name-container d-none"><div class="row location-parent-name  li-name pb-4" style=" padding-left: 2.8125rem !important;"></div></div>
            <div class="">
                <div class="row p-0 m-0 colTwoSublocations"></div>
            </div>
        </div>

        <div class="col-7 VisualBoxColumn mr-0  pr-0 location-parent-name" style="        max-width: 40%;

">

        </div>
    </div>

</div>