@model PrototypeWithAuth.ViewModels.LocationTypeViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLocationView.cshtml";
}
<div class="locations-page">
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @if (@User.IsInRole("Admin") || @User.IsInRole("Manager"))
    {
        <div class="row mt-4">
            <div class="col-2 offset-1">
                <button class="inv-button load-add-location" data-target="item" data-backdrop="static" data-keyboard="false" href="item">
                    ADD LOCATION
                </button>
            </div>

        </div>
    }
    <br />
    <div class="row ml-5">

        @foreach (var type in Model.LocationTypes)
        {
            <ul class="list-inline ">
                <li class="list-inline-item mr-3"><button class="opac87 btn load-location-index-view clicked-button " value=@type.LocationTypeID>@type.LocationTypeName</button></li>
            </ul>
        }

    </div>


    <div class="row w-100">
        <div class="col-md-3 colOne pr-0 pl-5" style="max-width:15%;">

        </div>
        <div class="row  sublocation-background  colTwoSublocations text-center pl-0" style="max-width:35%;">

        </div>

        <div class="col-md-6 VisualBoxColumn" style="max-width:50%;">

        </div>
    </div>

</div>