
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLocationView.cshtml";
}

<h1>Index</h1>
<div class="row">
    <button class="btn btn-block text-dark load-add-location" data-target="item" data-backdrop="static" data-keyboard="false" href="item">Add Location</button>
</div>
<br />
<div class="row">
    <div class="col-md-6 border">
        <br />
        List Placeholder
    </div>
    <div class="col-md-6 border">
        <button class="btn btn-block">Zoom In</button>
        Box Placeholder
    </div>
</div>

