@model PrototypeWithAuth.ViewModels.LocationTypeViewModel;
@using PrototypeWithAuth.AppData;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLocationView.cshtml";
}
<div class="locations-page">
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @*<div class="row mt-4">
        <div class="col-2 offset-1">
        </div>

    </div>
    <br />*@
    <div class="row ml-5">
        <div class="col-9">
            <div class="row">
                @foreach (var type in Model.LocationTypes)
                {
                    <ul class="list-inline ">
                        <li class="list-inline-item mr-3">
                            <button class="opac-87 clicked-button btn location-type-name load-location-index-view" value=@type.LocationTypeID>
                                @type.LocationTypeName
                            </button>
                        </li>
                        @* opac87 btn load-location-index-view clicked-button location-type-name *@
                    </ul>
                }
            </div>
        </div>
        <div class="col-3">
            @if ((@User.IsInRole("Admin") || @User.IsInRole("Manager")) && Model.SectionType == AppUtility.MenuItems.LabManagement)
            {
                <button class="lab-man-button lab-man-background-color load-add-location px-5 mt-3 float-right" data-target="item" data-backdrop="static" data-keyboard="false" href="item" style="vertical-align: middle;">
                    + &nbsp;&nbsp; ADD LOCATION
                </button>

            }
        </div>
    </div>


    <div class="row w-100">
        <div class="col-md-3 colOne pr-0 pl-5" style="max-width:15%;">

        </div>
        <div class="row colTwoSublocations text-center pl-2" style="max-width:35%;">

        </div>

        <div class="col-md-6 VisualBoxColumn" style="max-width:50%;">

        </div>
    </div>

</div>