@model PrototypeWithAuth.ViewModels.LocationIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLocationView.cshtml";
}

<script src="~/js/site.js" asp-append-version="true"></script>
<h1>Index</h1>
<div class="row">
    <button class="btn btn-block text-dark load-add-location" data-target="item" data-backdrop="static" data-keyboard="false" href="item">Add Location</button>
</div>
<br />
<div class="row">
    <div class="col-md-3 border colOne">
        <br />

        <table class="table table-sm">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(item => item.LocationsDepthOfZero.FirstOrDefault().LocationInstanceName)

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.LocationsDepthOfZero)
                {

                <tr>
                    <td>
                        <button class="btn btn-block load-sublocation-view" value="@item.LocationInstanceID">@item.LocationInstanceName</button>
                    </td>
                </tr>
                }

            </tbody>


        </table>

    </div>
    <div class="col-md-3 border colTwoSublocations text-center">

    </div>
    <div class="col-md-6 border VisualBoxColumn">
        @*<button class="btn btn-block">Zoom In</button>
        Box Placeholder*@
    </div>
</div>

