@model PrototypeWithAuth.ViewModels.LocationIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLocationView.cshtml";
}

<script src="~/js/site.js" asp-append-version="true"></script>
<h1>Index</h1>
<div class="row">
    <button class="btn btn-block text-dark load-add-location" data-target="item" data-backdrop="static" data-keyboard="false" href="item">Add Location</button>
</div>
<br />
<div class="row">
    <div class="col-md-6 border">
        <br />

        <table class="table table-sm">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(item => item.LocationsDepthOfZero.FirstOrDefault().LocationInstanceName)

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.LocationsDepthOfZero)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationInstanceName)
                            @{
                                bool hasChildLocation = true;
                                while (hasChildLocation)
                                {
                                    bool childLocationFound = false;
                                    foreach (var subLocationItem in Model.SubLocationInstances)
                                    {
                                        if (subLocationItem.LocationInstanceParentID == item.LocationInstanceID)
                                        {
                                            childLocationFound = true;
                                            <ul>
                                                <li>
                                                    @Html.DisplayFor(modelSubLocationItem => subLocationItem.LocationInstanceName)
                                                </li>
                                            </ul>
                                            continue; //make sure this breaks out of just foreach
                                        }


                                    }
                                    if (childLocationFound == false)
                                        hasChildLocation = false;

                                };


                            }


                        </td>
                    </tr>
                 }


            </tbody>


        </table>

    </div>
    <div class="col-md-6 border">
        <button class="btn btn-block">Zoom In</button>
        Box Placeholder
    </div>
</div>

