@model PrototypeWithAuth.ViewModels.LocationIndexViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/js/site.js" asp-append-version="true"></script>
@*<div class="spinner-border center" role="status" id="loading3" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div>*@

<div class="center" role="status" id="loading2" style="display:none;">
    <img src="~/images/css/Loading/centarix_loading3.gif" />
</div>

<div class="row">
    <div class="col location-index-container pl-0 pr-0">
        <table class="table table-sm table-hover ">
            @foreach (var item in Model.LocationsDepthOfZero)
            {

                <tr class="location-index-border">
                    <td class="">
                        <button class="btn btn-block load-sublocation-view parent-location clicked-outer-button clicked-button overflow-hidden location-font-size" value="@item.LocationInstanceID" name="@item.LocationInstanceName">
                            @item.LocationInstanceName
                            <i class="icon-back-24px ml-3 large-icon float-right" ></i>
                        </button>
                    </td> @*Freezer names*@
                </tr>
            }
        </table>
    </div>
</div>