@model PrototypeWithAuth.ViewModels.SublocationIndexViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/js/site.js" asp-append-version="true"></script>
@if (!Model.IsSmallestChild)
{
    <div class="spinner-border center" role="status" id="loading1" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="col ">
        <table class="table table-borderless">
            @foreach (var locationInstance in Model.SublocationInstances)
            {
                <tr class="border-bottom border-left-0 border-right-0 border-top-0 border-dark" name="@locationInstance.LocationInstanceParentID">
                    <td class="">
                        <button class="btn btn-block load-sublocation-view clicked-inside-button clicked-button" value="@locationInstance.LocationInstanceID">@locationInstance.LocationInstanceName</button>
                    </td>
                </tr>
                @*l.LocationInstanceName.ToString();*@
            }
        </table>
    </div>

}