@model PrototypeWithAuth.ViewModels.SubLocationInstancesViewModel

@if (Model.ListLocationInstances == null || Model.ListLocationInstances.Any())
{
    <script src="~/js/site.js" asp-append-version="true"></script>
    <div class="col-md-12">
        <label class="control-label">@Model.LocationTypeName:</label>
        @Html.DropDownListFor(m => m.locationInstanceSelected,
            new SelectList(Model.ListLocationInstances, "LocationInstanceID", "LocationInstanceName"),
        "Select " + Model.LocationTypeName, new { @class = "form-control-plaintext border-bottom locationInstanceName" })
    </div>
}