@model PrototypeWithAuth.ViewModels.SublocationIndexViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/js/site.js" asp-append-version="true"></script>
@if (!Model.IsSmallestChild)
{
    @*<div class="spinner-border center" role="status" id="loading1" style="display:none;">
            <span class="sr-only">Loading...</span>
        </div>*@

    <div class="center" role="status" id="loading2" style="display:none;">
        <img src="~/images/css/Loading/centarix_loading3.gif" />
    </div>

    <div class="col px-0">
        <table class="table table-sm">
            @{
                if (Model.PrevLocationInstance != null)
                {

                }
            }
            @foreach (var locationInstance in Model.SublocationInstances)
            {
                <tr class="" name="@locationInstance.LocationInstanceParentID">
                    <td class="">
                        <button class="btn btn-block load-sublocation-view clicked-inside-button clicked-button" value="@locationInstance.LocationInstanceID">
                            @locationInstance.LocationInstanceName
                            <i class="icon-back-24px ml-3 large-icon float-right"></i>
                        </button>
                    </td>
                </tr>
                @*l.LocationInstanceName.ToString();*@
            }
        </table>
    </div>

}