@model PrototypeWithAuth.ViewModels.SubLocationViewModel

@*@if (Model.locationsTier2Models != null)
    {
        Html.DropDownListFor()
    }*@

@{ 
    //instantiated this with -1 and not 0 because it was only letting me increment it on top of the form group and not below (for some wierd reason)
    var i = -1;
} 
@foreach (var item in Model.LocationTypes)
{
    i++;
    <div class="form-group">
        @Html.DisplayFor(modelItem => item.LocationTypeName)
        <br />
        <label asp-for="LocationInstances[i].Height" class="control-label"></label>
        <input asp-for="LocationInstances[i].Height" class="form-control" />
        <label asp-for="LocationInstances[i].Width" class="control-label"></label>
        <input asp-for="LocationInstances[i].Width" class="form-control" />
    </div>
    
    
}