@model List<LocationInstance>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@foreach(var locationInstance in Model)
{
    <span>@locationInstance.LocationInstanceName</span>
        <br />
    @*l.LocationInstanceName.ToString();*@
}
