@model IEnumerable<PrototypeWithAuth.Models.Menu>
@using PrototypeWithAuth.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    <div class="container p-0 m-0 " style="width:343px; height: 462px;">
        <div class="row m-0 pt-3  mb-2" >

            @for (int i = 0; i < Model.Count() ; i++)
            {

                    <div class="col-4 py-3 module-button-div text-center d-inline-block" >
                        <a class="module-button  text-center"  href="@Url.ActionLink(Model.ElementAt(i).ActionName, Model.ElementAt(i).ControllerName, Model.ElementAt(i).RouteValues)"><img class=" px-3" height="50" src=@Model.ElementAt(i).SmallMenuImageURL alt="Protocols" /><br /><span class="m-auto text-nowrap text-center d-inline-block" style="width: calc(80%); text-overflow: ellipsis; font-size: 14px; overflow: hidden; ">@Model.ElementAt(i).MenuViewName</span></a>
                    </div>

            }
        </div>
      
    </div>

