@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginView.cshtml";


}
   
        <div class="text-center">
            <h6>Welcome @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</h6>
            <div class="btn-group">
                <button type="submit" class="button btn btn-outline-secondary">Protocols</button>
                &nbsp;
                @Html.ActionLink("Orders And Inventory (Index)", "Index", "Products", new { }, new { @class = "btn btn-outline-secondary" })
                &nbsp;
                @Html.ActionLink("Orders And Inventory (IndexCopy)", "IndexCopy", "Products", new { }, new { @class = "btn btn-outline-secondary" })
                &nbsp;
                <button type="submit" class="button btn btn-outline-secondary">Expenses</button>
                &nbsp;
                <button type="submit" class="button btn btn-outline-secondary">Biomarkers</button>
            </div>
        </div>
