
@model PrototypeWithAuth.ViewModels.TwoFactorAuthenticationViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginView.cshtml";
}

<section>
    <div class="container col-md-7 offset-2.5">

        <form id="account" method="post">

            <div asp-validation-summary="All" class="text-danger-centarix"></div>
            <div class="form-group text-center">
                <input asp-for="TwoFACode" class="form-control login-field" placeholder="Authentication Code" />
                <span asp-validation-for="TwoFACode" class="text-danger-centarix"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn mt-6 login-button ">Verify</button>
            </div>

        </form>
    </div>
</section>

