@model PrototypeWithAuth.ViewModels.DocumentsModalViewModel 

<div class="card iframe-container document-border m-0">

    <div class="card-body responsive-iframe-container">
        <iframe src="@Model.FileStrings[0]" title="View" class="responsive-iframe" scrolling="no"></iframe>
    </a>
    </div>
    <div class="card-body d-flex text-center align-items-center justify-content-center">

        <a href="@Model.FileStrings[0]" target="_blank" class="mx-3  view-img">
            <i class="icon-centarix-icons-09 protocols-color" style="font-size:2rem"></i>
        </a>
        @if (Model.ShowSwitch || Model.IsEdittable)
        {
            <a href="" class="delete-document delete-file-document @Model.SectionType.ToString() mx-3" url="@Url.Action("DeleteDocumentModal", "Protocols", new { FileString = Model.FileStrings[0], id = Model.ObjectID, RequestFolderNameEnum = Model.FolderName, IsEdittable = true, SectionType = Model.SectionType, ParentFolderName = Model.ParentFolderName })">
                <i style="font-size:2rem;" class="icon-delete-24px documents-delete-icon hover-bold protocols-color"></i>
            </a>
         }
    </div>
</div>