@model PrototypeWithAuth.ViewModels.DocumentsModalViewModel 

<div class="report-function" reportID="@Model.ObjectID">
    <div class="card iframe-container document-border m-0 report-file-card" contenteditable="false" style="width:90px; height:150px;">
        @{
            var rootPath = $"{Context.Request.Scheme}://{Context.Request.Host.Value}{Context.Request.PathBase.Value.ToString()}";
        }
        <div class="card-body responsive-iframe-container p-0">
            <iframe src="@rootPath\/@Model.FileStrings[0]" title="View" class="responsive-iframe" marginheight="0" frameborder="0" marginwidth="0"
                    scrolling="no"></iframe>
        </div>
        <div class="card-body d-flex text-center align-items-center justify-content-center p-0">

            <a href="@rootPath\/@Model.FileStrings[0]" target="_blank" class="mx-1  view-img">
                <i class="icon-centarix-icons-09 protocols-color" style="font-size:1rem"></i>
            </a>
            @if (Model.ShowSwitch || Model.IsEdittable)
            {
                <a href="" class="remove-function report-file @Model.SectionType.ToString() mx-1" url="@Url.Action("DeleteDocumentModal", "Requests", new { FileString = Model.FileStrings[0], id = Model.ObjectID, RequestFolderNameEnum = Model.FolderName, IsEdittable = true, SectionType = Model.SectionType, ParentFolderName = Model.ParentFolderName })">
                    <i style="font-size:1rem;" class="icon-delete-24px documents-delete-icon hover-bold protocols-color"></i>
                </a>
            }
        </div>
    </div>
    <div class="small">@Model.FileStrings[0].Split("\\").Last()<br /></div>
</div>