@model ProtocolsFilterViewModel

@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.ViewModels;

@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


<div class="container-fluid ">
    <div class="row">
        <ul class="list-unstyled mb-0 ">
            <li class="filter-and-search protocols">
                <input type="text" placeholder="Search" class="text section-outline-color custom-button mx-3 search-by-name" />
                <button type="button" id="protocolFilterPopover" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-container="body"
                        class="text custom-button section-outline-color" value="Filter">
                    Filter
                </button>
            </li>
            <div style="display:none;" id="protocolFilterContent" class="container-fluid">
                @{
                    await Html.RenderPartialAsync("_ProtocolFilterResults", Model);
                }
            </div>

        </ul>
        <div id="protocolFilterContentDiv" class="container protocolFilterDiv">

        </div>
    </div>
</div>
<script>


    $("#protocolFilterPopover").click(function () {
        $('[data-toggle="popover"]').popover('dispose');
        $('#protocolFilterPopover').popover({
            sanitize: false,
            placement: 'bottom',
            container: '#protocolFilterContentDiv',
            html: true,
            trigger: 'manual',
            content: function () {
                return $('#protocolFilterContent').html();
            }
        });
        $('#protocolFilterPopover').popover('toggle');
        $('#protocolFilterPopover').addClass('section-bg-color custom-button-font');
        $('#protocolFilterPopover').removeClass('section-outline-color');
        //$('#inventoryFilterContent').style.display = "block";
    });
</script>