@model PrototypeWithAuth.ViewModels.CreateProtocolsViewModel
@using PrototypeWithAuth.AppData
@using Microsoft.Extensions.Primitives

            <form action="" class=" on-form-modal protocol-form modal-padding inner-lines-link" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                <input type="hidden" asp-for="Protocol.ProtocolTypeID" />
                <div class="row text-danger-centarix error-message d-none"> @Model.ErrorMessage </div>
              
                <div class="item-table">
                    <ul class=" pl-0 nav" style="">
                        <li class="list-inline-item m-0 nav-item">
                            <a data-toggle="tab" href="#Theory@(Model.ModalType)" class="next-tab nav-link  new-button Theory new-protocols-button protocol-tab active show">
                                <i class="new-icon icon-theory-tab-24px"></i>
                                <label class="new-button-text">Theory</label>
                            </a>
                        </li>
                        <li class="list-inline-item m-0 nav-item">
                            <a data-toggle="tab" href="#Materials@(Model.ModalType)" class="next-tab nav-link new-button Materials new-protocols-button protocol-tab ">
                                <i class=" new-icon icon-centarix-icons-03"></i>
                                <label class="new-button-text">Material</label>
                            </a>
                        </li>
                        <li class="list-inline-item m-0 nav-item">
                            <a data-toggle="tab" href="#Protocol@(Model.ModalType)" class="next-tab nav-link new-button new-protocols-button protocol-tab lines-tab ">
                                <i class="new-icon icon-protocol-tab-24px"></i>
                                <label class="new-button-text">Protocols</label>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content _CreateProtocolTabs">
                    @{ await Html.RenderPartialAsync("_CreateProtocolTabs", Model);}
                </div>
            </form>
