@model PrototypeWithAuth.ViewModels.ReportsIndexViewModel
@using PrototypeWithAuth.AppData

@{
    var years = Enumerable.Range(2017, DateTime.Today.Year - 2016);
    int curYear = DateTime.Today.Year /*Model.CurrentYear*/;
}
<input type="hidden" asp-for="ReportsIndexObject.ReportCategory.ResourceCategoryID" class="reportCategoryID"/>
<div class="col-5">
    <a style="z-index:2000" href="@Url.Action("ReportsCategories", "Protocols")"
       class="title-label btn-link heading-1 ">
        <i class="icon-arrow_back_ios-24px-1" style="font-size:1.4rem;"></i>
        <label class="px-2 ">@Model.ReportsIndexObject.ReportCategory.ResourceCategoryDescription</label>
    </a>
</div>


<div class="_IndexTable scroll-body">
    @{
        await Html.RenderPartialAsync("_ReportsIndexTable", Model);
    }
</div>
@*else
{
    <div>
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_EmptyPagePartial.cshtml", Model);
        }
    </div>
}*@
