@model Report
@using PrototypeWithAuth.AppData
@{
    Layout = null;
}

<div class="col-6">
    <span role="textbox" contenteditable="false" class="editable-span report-text form-control-plaintext h-100 text-transform-none">
    @if (Model.TemporaryReportText == null)
    {
        <div contenteditable="true" class="editable-span report-text form-control-plaintext text-transform-none"></div>
    }
    else
    {
        @Html.Raw(Model.TemporaryReportText)
    }
    </span>
    <input type="hidden" id="ReportText" name="Report.ReportText" value="@Model.TemporaryReportText" />
</div>

<script>
    $(".report-text").on('change', function (e) {
        console.log($(this).html())
        $("#ReportText").val($(this).html())
    })
</script>
<script src="~/js/function.js"></script>
<script src="~/js/spanContentEditable.js"></script>