@model ProtocolInstance
@using PrototypeWithAuth.AppData
@{
    Layout = null;
}

<div class="col-12">
    <span role="textbox" contenteditable="false" id="freeText" class="editable-span text-editor form-control-plaintext h-100 text-transform-none">
        @{ var lineContent = "";
            if (Model.TemporaryResultDescription == null || Model.TemporaryResultDescription == "")
            {
                lineContent = " <div contenteditable='true' class='editable-span text form-control-plaintext text-transform-none start-div'><span class='focusedText'></span></div>";
            }
            else
            {
                lineContent = Model.TemporaryResultDescription;
            }
        }
        @Html.Raw(lineContent)
    </span>
    <input type="hidden" id="TemporaryResultDescription" name="ProtocolInstance.TemporaryResultDescription" value="@Model.TemporaryResultDescription" />
    <input type="hidden" id="closingTags" value="div" />
</div>
<script>
    $(document).ready(function (e) {
        $(".text-editor").trigger("focus")
        $("#TemporaryResultDescription").val($(".text-editor").html());
    });
</script>
<script src="~/js/TextEditor.js"></script>
<script src="~/js/function.js"></script>
<script src="~/js/spanContentEditable.js"></script>