@model PrototypeWithAuth.ViewModels.AddFunctionViewModel
@using PrototypeWithAuth.AppData
<div class="modal modal-document fader" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false">
    <div class=" modal-dialog-centered mx-auto" style="width:30%">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$.fn.CloseModal('add-function');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding protocol-form materialForm">
                <div class="modal-header border-0 pt-0 px-0 modal-header-padding text-center">
                    <div class="container p-0">
                        <label class="text-danger-centarix p-2" style="width:100%; text-align: center">@Model.ErrorMessage</label>

                        <div>
                            <span class="heading-1"><i class="@Model.FunctionLine.FunctionType.Icon"></i>&ensp;@Model.FunctionLine.FunctionType.FunctionDescription</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body m-0 p-0">
                    @switch (Enum.Parse<AppUtility.FuctionTypes>(Model.FunctionLine.FunctionType.DescriptionEnum))
                    {
                        case AppUtility.FuctionTypes.AddComment:
                        case AppUtility.FuctionTypes.AddTip:
                        case AppUtility.FuctionTypes.AddWarning:
                            <textarea class="border form-control-plaintext " rows="6" asp-for="FunctionLine.Text"></textarea>
                            break;
                        case AppUtility.FuctionTypes.AddFile:
                            break;
                        case AppUtility.FuctionTypes.AddImage:
                            break;
                        case AppUtility.FuctionTypes.AddLinkToProduct:
                            break;
                        case AppUtility.FuctionTypes.AddLinkToProtocol:
                            break;
                        case AppUtility.FuctionTypes.AddStop:
                            break;
                        case AppUtility.FuctionTypes.AddTable:
                            break;
                        case AppUtility.FuctionTypes.AddTemplate:
                            break;
                        case AppUtility.FuctionTypes.AddTimer:
                            <input class="border form-control-plaintext " rows="6" asp-for="FunctionLine.Timer" />
                            break;

                    }
                </div>
                <div class="modal-footer border-0 p-0">
                    <div class="mx-auto modal-footer-mt">
                        <input type="submit" class="custom-button custom-button-font protocols-background-color between-button-margin " value="Save" />
                        <button type="button" class="custom-button custom-cancel " data-dismiss="modal" onclick="$.fn.CloseModal('add-function');">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
