@model PrototypeWithAuth.ViewModels.AddResourceViewModel;

@{
    var Heading = "";
    switch (Model.ResourceType)
    {
        case 1:
            Heading = "Add Article or Link";
            break;
        case 2:
            Heading = "Add Resource";
            break;
    }

}
<script src="~/js/AddResource.js"></script>
<div class="modal modal-view fader on-form-modal add-resource-modal" id="myModal" data-backdrop="false">
    <div class=" modal-dialog-centered mx-auto" style="width:54.625rem;">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">

            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('add-resources')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" id="myForm" class="modal-padding">
                <div class="row top-menu under-row-margin">
                    <div class="col-12">
                        @Heading
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-12">
                        <label asp-for="Resource.Title" class="control-label"></label>
                        <input asp-for="Resource.Title" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.Title" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-12">
                        <label asp-for="Resource.Summary" class="control-label"></label>
                        <input asp-for="Resource.Summary" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.Summary" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-6">
                        <label asp-for="Resource.FirstAuthor" class="control-label"></label>
                        <input asp-for="Resource.FirstAuthor" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.FirstAuthor" class="text-danger-centarix"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Resource.LastAuthor" class="control-label"></label>
                        <input asp-for="Resource.LastAuthor" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.LastAuthor" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-4">
                        <label asp-for="Resource.PubMedID" class="control-label"></label>
                        <input asp-for="Resource.PubMedID" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.PubMedID" class="text-danger-centarix"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Resource.City" class="control-label"></label>
                        <input asp-for="Resource.City" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.City" class="text-danger-centarix"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Resource.Journal" class="control-label"></label>
                        <input asp-for="Resource.Journal" class="form-control-plaintext border-bottom" />
                        <span asp-validation-for="Resource.Journal" class="text-danger-centarix"></span>
                    </div>
                </div>
                <hr style="box-shadow: 0px 0px .1rem #707070;" />
                <div class="row under-row-margin top-menu">
                    <div class="col-12">
                        Select Tags
                    </div>
                </div>
                <div class="row mb-1 text-center">
                    @foreach (var mainCategory in Model.ResourceCategories.Where(rc => rc.IsMain))
                    {
                        <div class="col-3">
                            <span class="resources-tags-big light-gray-background-color add-padding w-100">
                                @mainCategory.ResourceCategoryDescription
                            </span>
                        </div>
                    }
                </div>
                <div class="row under-row-margin">
                    <div class="col-12">
                        @foreach (var category in Model.ResourceCategories.Where(rc => !rc.IsMain))
                        {
                            <span class="resources-tags-big light-gray-background-color mx-2 my-1">
                                @category.ResourceCategoryDescription
                            </span>
                        }
                    </div>
                </div>
                @*<input class="form-control-plaintext border-bottom" id="ResourceID" name="ResourceID" value="0">*@
            </form>

        </div>
    </div>
</div>