@model List<ProtocolInstance>
@{
    ViewData["Title"] = "Current Protocols";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
    <div class="_IndexTable">
        <div class="container-fluid">
            <label class="m-2 heading-1 mb-lg-4">Current Protocols</label>
            <div class="under-row-margin row text-center">
                @foreach (var workflow in Model)
                {
                    <div class="type-div" style="width:22%;">
                        <fieldset class=" resource-fieldset px-3 pt-2">
                            <div class="resource-title heading-1">@workflow.Protocol.Name</div>
                            <div class="resource-icons list-buttons row m-2 py-4 form-element-border-top-small w-100">
                                <a class="btn-link text no-hover requests start-protocol-fx" value="@workflow.ProtocolID">
                                    <i class="icon-play_circle_outline-24px-1 start-protocol-fx" style="color: #4CAF50"></i>
                                    <label class="m-2">Continue</label>
                                </a>
                            </div>
                        </fieldset>
                    </div>
                }               
            </div>
            </div>
        </div>
<script>
    $(".start-protocol-fx").off("click").click(function (e) {
        e.preventDefault();
        //switch this to universal share request and the modelsenum send in
        $.fn.StartProtocol($(this).attr("value"), true);
    });
</script>