@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData
<div class="modal modal-view fader on-form-modal add-resource-modal protocol-form" id="myModal" data-backdrop="false">
    <div class=" modal-dialog-centered mx-auto" style="width:52%">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">

            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('edits')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="_ProtocolsProductDetails">
              
                @{ await Html.RenderPartialAsync("_ProtocolsProductDetails", Model);}
            </div>
        </div>
    </div>
</div>