@model PrototypeWithAuth.ViewModels.CreateProtocolsViewModel
@using PrototypeWithAuth.AppData
@using Microsoft.Extensions.Primitives
<div class="modal modal-view fader on-form-modal  protocol-form" id="myModal" data-backdrop="false">
    <div class=" modal-dialog-centered mx-auto" style="width:52%; height:100%">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow " style="height:100%">

            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('protocol-details')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="container-fluid ml-5 mt-5 back-btn-container">
                <div class="row">
                    <a style=""
                       class="title-label  link-details-back-btn">
                        <i class="icon-arrow_back_ios-24px-1" style="font-size:1.4rem;"></i>
                    </a>
                </div>
                </div>
                <input type="hidden" class="lastUrl" value="" />
                <input type="hidden" class="currentUrl" value="@(Context.Request.Path+Context.Request.QueryString)" />
                <div class="_ProtocolsDetailsFloatModal">
                    @{ await Html.RenderPartialAsync("_ProtocolsDetailsFloatModal", Model);}
                </div>


         
        </div>
    </div>
</div>