
@model PrototypeWithAuth.ViewModels.ProtocolsIndexViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Favorites";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

<div class="_IndexTable">
    @{ await Html.RenderPartialAsync("_IndexTable", Model);}
</div>
