@model PrototypeWithAuth.ViewModels.ResourcesListIndexViewModel;

@{
    ViewData["Title"] = "ResourcesFavorites";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
    <div class="resources-favorites-partial">
        @{ await Html.RenderPartialAsync("_ResourcesListIndex", Model);}
    </div>