
    <div class="modal modal-view fader res-notes-modal" id="myModal" data-backdrop="false">
        <div class="add-invoice-modal modal-dialog-centered mx-auto" style="width:54.625rem;">
            <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
                <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('resource-notes-modal')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body outer-page-margins">
                    Hello World
                </div>
            </div>
        </div>
    </div>