
<div class="modal modal-view fader on-form-modal res-notes-modal protocol-form" id="myModal" data-backdrop="false">
    <div class=" modal-dialog-centered mx-auto" style="width:54.625rem;">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
        </div>
    </div>
</div>