@model PrototypeWithAuth.ViewModels.CreateProtocolsViewModel
@{
    ViewData["Title"] = "Robiotic Protocol";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<div class="_CreateProtocol">
    @{ await Html.RenderPartialAsync("_CreateProtocol", Model);}
</div>
