@model PrototypeWithAuth.Models.ExperimentEntry
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal modal-view add-entry-modal" id="myModal" data-backdrop="false" style="z-index: 9100">
    <div class="elixir-modal-sm modal-dialog-centered mx-auto" style="width:27rem;">
        <div class="modal-content d-inline-block modal-box-shadow ">
        </div>
    </div>
</div>