@model PrototypeWithAuth.ViewModels.NewEntryViewModel
@using PrototypeWithAuth.AppData
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/InitializeDatePicker.js"></script>
<script src="~/js/Validation/_NewEntryFormValidation.js"></script>
<div class="modal modal-view add-entry-modal" id="myModal" data-backdrop="false" style="z-index: 9100">
    <div class="elixir-modal-sm modal-dialog-centered mx-auto" style="width:27rem;">
        <div class="modal-content d-inline-block modal-box-shadow ">
            <div class="modal-header biomarkers-background-color">
                <span class="heading-1 text-white">Add New Entry</span>
                <button type="button" class="close modal-close-padding modal-close-style cancel-add" @*data-dismiss="modal"*@ aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%;" id="myForm" class="small-modal-padding add-entry-form on-form-modal">
                @Html.HiddenFor(m => m.ParticipantID)
                <div class="row under-row-margin">
                    <div class="col-12">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" type="text" class="form-control-plaintext border-bottom datepicker" asp-format="@AppUtility.AspDateFormatString" />
                        <span asp-validation-for="Date" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-12">
                        <label class="control-label ">Visit No.</label>
                        @Html.DropDownListFor(
                        m =>
                   m.VisitNumber,
                  Model.VisitNumbers,
                   optionLabel: "Select Visit",
                   htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext ", @searchable = "default value", }
                   )
                        <span asp-validation-for="VisitNumber" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-12">
                        <label class="control-label">Site</label>
                        @Html.DropDownListFor(
                        m =>
                   m.SiteID,
                  new SelectList(
                                            Model.Sites,
                                            dataValueField: "SiteID",
                                            dataTextField: "Name"),
                   optionLabel: "Select Site",
                   htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext ", @searchable = "default value", }
                   )
                        <span asp-validation-for="SiteID" class="text-danger-centarix"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="cancel-add custom-button custom-cancel text-black custom-button-small-font px-5" value="Cancel" />
                    </div>
                    <div class="col-6">
                        <input type="submit" class="submit-add custom-button custom-button-font biomarkers-background-color" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".cancel-add").on("click", function (e) {
        e.preventDefault();
        $.fn.CloseModal('new-entry');
    });
    $(".submit-add").on("click", function (e) {
        e.preventDefault();
        $('.add-entry-form').data("validator").settings.ignore = "";
        var valid = $('.add-entry-form').valid();
        if (valid) {
            $("#loading").show();
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: "/Biomarkers/_NewEntry",
                data: new FormData($("#myForm")[0]),
                traditional: true,
                type: "POST",
                cache: false,
                success: function (data) {
                    $.fn.CloseModal('new-entry');
                    $(".entries-list ._BiomarkersRows").html(data);
                    $("#loading").hide();
                    return true;
                },
                error: function (jqxhr) {
                    $("#loading").hide();
                    return true;
                }
            });
        }
    });
</script>
