@model Participant
@{
}
<div class="modal modal-view add-participant-modal " id="myModal"  data-backdrop="false" style="z-index: 9100">
    <div class="elixir-modal-sm modal-dialog-centered mx-auto"style="width:27rem;">
        <div class="modal-content d-inline-block modal-box-shadow " >
            <div class="modal-header biomarkers-background-color">
                <span class="heading-1 text-white">Add New Participant</span>
                <button type="button" class="close modal-close-padding modal-close-style cancel-add" @*data-dismiss="modal"*@ aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%;" id="myForm" class="modal-padding">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="CentarixID" class="control-label"></label>
                        <input asp-for="CentarixID" class="form-control-plaintext border-bottom" value="" />
                        <span asp-validation-for="CentarixID" class="text-danger-centarix"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".cancel-add").on("click", function (e) {
        $.fn.CloseModal('add-participant');
    });
</script>