@using PrototypeWithAuth.AppData
@model PrototypeWithAuth.ViewModels.EntriesViewModel
@{
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<div class="_ParticipantEntries">
    @{ Html.RenderPartialAsync("_Entries", Model); }
</div>