@using PrototypeWithAuth.AppData
@model PrototypeWithAuth.ViewModels.EntriesViewModel
@{
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<div class="_ParticipantEntries ">
    @{ await Html.RenderPartialAsync("_Entries", Model); }
</div>