@model PrototypeWithAuth.ViewModels.DeleteHourViewModel
@using PrototypeWithAuth.AppData

@{
    Layout = null;
    var bcColor = "timekeeper-color";
    

}

<div class="modal modal-view" id="myModal" role="dialog" @*aria-labelledby="Request"*@ data-backdrop="false">

    <div class="modal-dialog-centered modal-lg mx-auto " role="document" style="max-height:100%;  overflow-y:auto;">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
            <button type="button" class="close modal-close-padding modal-close-style" aria-label="Close" onclick="$.fn.CloseModal('delete-item');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding">
                @Html.HiddenFor(model => model.EmployeeHour.Date)
                @Html.HiddenFor(model => model.EmployeeHour.EmployeeHoursID)
                @Html.HiddenFor(model => model.EmployeeHour.EmployeeID)

                <div class="modal-header border-bottom modal-header-padding">
                    <span class="heading-1">Are you sure you would like to delete the following information for @AppUtility.FormatDate(Model.EmployeeHour.Date) ?</span>
                </div>

                <div class="modal-body">
                    <div class="container-fluid ">
                        <span class="text ">Details:</span>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" asp-for="EmployeeHour.Entry1"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="EmployeeHour.Entry1" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="EmployeeHour.Exit1"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="EmployeeHour.Exit1" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" asp-for="EmployeeHour.Entry2"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="EmployeeHour.Entry2" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="EmployeeHour.Exit2"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="EmployeeHour.Exit2" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="EmployeeHour.TotalHours"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="EmployeeHour.TotalHours" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;">Off Day Type</label>
                                    <input class="form-control-plaintext border-bottom" asp-for="EmployeeHour.OffDayType.Description" disabled />
                                </div>
                            </div>
                        </div>
                        <span class="text ">Hours Awaiting Approval:</span>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" asp-for="Ehaa.Entry1"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.Entry1" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="Ehaa.Exit1"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.Exit1" disabled />
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" asp-for="Ehaa.Entry2"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.Entry2" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="Ehaa.Exit2"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.Exit2" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="Ehaa.TotalHours"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.TotalHours" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;"> Partial Off Day Type</label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.PartialOffDayType.Description" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:500;" asp-for="Ehaa.PartialOffDayHours"></label>
                                    <input class="form-control-plaintext border-bottom" asp-for="Ehaa.PartialOffDayHours" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center mx-auto modal-footer-mt">
                        <button type="submit" asp-action="DeleteHourModal" class="custom-button custom-button-font @bcColor between-button-margin">Confirm</button>
                        <button type="button" class="custom-cancel custom-button " @*data-dismiss="modal"*@ onclick="$.fn.CloseModal('delete-item');">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>