@model List<PrototypeWithAuth.ViewModels.SummaryOfDaysOffViewModel>
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Report Days Off";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

}
<div class="container-fluid  report-days-off-partial">
    @{ await Html.RenderPartialAsync("_ReportDaysOff", Model);}
</div>
