@model PrototypeWithAuth.ViewModels.ReportDaysViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Summary Days";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
    <div class="summaryDaysOffTable">
        @{await Html.RenderPartialAsync("_SummaryDaysOff", Model); }
    </div>