@model PrototypeWithAuth.ViewModels.UpdateHoursViewModel
@using PrototypeWithAuth.AppData

<div class="modal modal-document fader on-form-modal timekeeper-form" id="workFromHomeModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true">
    <div class="modal-dialog-centered mx-auto work-from-home-modal" style="width:50% !important">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="e => {
        e.preventDefault(); $(this).closest('.modal').modal('hide');
    }">
                <span aria-hidden="true">&times;</span>
            </button>

            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto; " class="modal-padding UpdateHoursForm">
                <input type="hidden" asp-for="IsForgotToReport" />
                @{var disabled = false;
                    if (Model.PageType?.Equals("SummaryHours") == true)
                    {
                        disabled = true;
                    }
                }
                <div class="modal-header border-0 border-bottom modal-header-padding">
                    <div class="container">
                        <label class="text-danger-centarix p-2" style="width:100%; text-align: center">@Model.ErrorMessage</label>

                        <div class="heading-1">
                            Update Hours
                        </div>
                        <div class="">
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="modal-body p-0 border-0 rounded mx-4">

                    <div class="row">
                        <div class="col-md-6 pr-4">
                            <label class="control-label">Day</label>
                            <input asp-for="EmployeeHour.Date.DayOfWeek" class="form-control-plaintext  border-bottom day-of-week " disabled />
                            <span asp-validation-for="EmployeeHour.Date.DayOfWeek" class="text-danger-centarix " />
                        </div>

                        <div class="col-md-6">
                            <label asp-for="EmployeeHour.Date" class="control-label"></label>
                            @if (disabled)
                            {
                                <input asp-for="EmployeeHour.Date" asp-format="{0:dd/MM/yyyy}" class="form-control-plaintext  border-bottom update-hour-date datepicker " type="text" disabled />
                                <input type="hidden" asp-for="EmployeeHour.Date" asp-format="{0:dd/MM/yyyy}" />
                            }
                            else
                            {
                                <input asp-for="EmployeeHour.Date" asp-format="{0:dd/MM/yyyy}" type="text" data-workday="@Model.AutoFillEntry1Type" class="form-control-plaintext  border-bottom update-hour-date datepicker " />
                            }

                            <span asp-validation-for="EmployeeHour.Date" class="text-danger-centarix " />
                        </div>
                    </div>
                    <br />

                    <div class="update-hours-partial">
                        @{ await Html.RenderPartialAsync("_UpdateHours", Model);}
                    </div>

                    <div class="modal-footer  border-0  modal-footer-mt">
                        <div class="mx-auto text-center">
                            <button @*type="submit"*@ class="custom-button custom-button-font timekeeper-color between-button-margin update-hours" @*asp-action="UpdateHours"*@ data-val="@Model.PageType" value="Save">Save</button>
                            <button type="button" class="custom-cancel custom-button cancel-email" data-dismiss="modal" onclick="$(this).closest('.modal').modal('hide');">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".update-hours").on("click", function (e) {
        $('#myForm').data("validator").settings.ignore = "";
        var valid = $('#myForm').valid();
        console.log("valid form: " + valid)
        if (!valid) {
            e.preventDefault();
            if (!$('input[type="submit"], button[type="submit"] ').hasClass('disabled-submit')) {
                $('input[type="submit"], button[type="submit"] ').addClass('disabled-submit')
            }

        }
        else {
            $('input[type="submit"], button[type="submit"] ').removeClass('disabled-submit')
            var pageType = $('#myForm').attr("data-val");
            var url = "/Timekeeper/UpdateHours/?PageType=" + pageType;
            console.log("url: " + url);
            var formData = new FormData($("#myForm")[0]);
            console.log(formData);
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: url,
                type: 'POST',
                data: formData,
                cache: true,
                success: function (data) {
                    //alert(data);
                    $('.render-body').html(data);
                    $(".modal").modal('hide');
                    $(".modal").replaceWith('');
                },
                error: function (jqxhr) {
                    $('.modal').replaceWith('');
                    $(".modal-backdrop").remove();
                    var modal = $(jqxhr.responseText);
                    $('body').append(modal);
                    if ($(".modal").length > 0) {

                        $(".modal").modal({
                            backdrop: true,
                            keyboard: false,
                        });
                        $(".modal").modal('show');
                    }

                }
            });
        }
        $('#myForm').data("validator").settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';

    
    })
</script>

<script src="~/js/InitializeDatePicker.js"></script>
