@model PrototypeWithAuth.Models.EmployeeHours;

<div class="modal modal-document fader" id="workFromHomeModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true">
    <div class="modal-dialog modal-sm  work-from-home-modal">
        <div class="modal-content d-inline-block" style="border-radius:2rem;">
            <button type="button" class="close mr-4 mt-4" data-dismiss="modal" aria-label="Close" style="font-size:2.5rem; font-weight:400;">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="m-5">
                @Html.HiddenFor(r => r.EmployeeHoursID)
                @Html.HiddenFor(r => r.EmployeeHoursStatusID)
                @Html.HiddenFor(r => r.OffDayTypeID)
                <div class="modal-header border-0 border-bottom">
                    <div class="container">
                        <div class="">
                            <h3><strong>Update Hours</strong></h3>
                        </div>
                        <div class="mt-5 mb-3">
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="modal-body border-0 rounded mx-4">
                    <div class="row">
                        <div class="col-md-6 pr-4">
                            <label class="control-label">Day</label>
                            <input asp-for="Date.DayOfWeek" class="form-control-plaintext  border-bottom day-of-week " disabled />
                            <span asp-validation-for="Date.DayOfWeek" class="text-danger " />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" class="form-control-plaintext  border-bottom update-hour-date " />
                            <span asp-validation-for="Date" class="text-danger " />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4 ">
                            <label asp-for="Entry1" class="control-label">Entry</label>
                            <input asp-for="Entry1" class="form-control-plaintext border-bottom " />
                            <span asp-validation-for="Entry1" class="text-danger"></span>
                        </div>
                        <div class="col-4 ">
                            <label asp-for="Exit1" class="control-label">Exit</label>
                            <input asp-for="Exit1" class="form-control-plaintext border-bottom " />
                            <span asp-validation-for="Exit1" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="TotalHours" class="control-label"></label>
                            <input asp-for="TotalHours" class="form-control-plaintext border-bottom " step="60" placeholder="00:00" />
                            <span asp-validation-for="TotalHours" class="text-danger"></span>
                        </div>
                    </div>
                    @if (Model.Entry2 != null)
                    {

                        <div class="row entry2Div">
                            <div class="col-4 ">
                                <input asp-for="Entry2" class="form-control-plaintext border-bottom " />
                                <span asp-validation-for="Entry2" class="text-danger"></span>
                            </div>
                            <div class="col-4 ">
                                <input asp-for="Exit2" class="form-control-plaintext border-bottom " />
                                <span asp-validation-for="Exit2" class="text-danger"></span>
                            </div>
                        </div>
                    }

                </div>
                <div class="modal-footer mt-4 border-0 p-4" style="justify-content:center;">
                    <input type="submit" class="timekeeper-button mr-4" asp-action="UpdateHours" value="Save" style="width:40%;" />
                    <button class="cancel-button cancel-email" data-dismiss="modal" style="width:40%;">Cancel</button>@*FAIGE: should this delete the request?*@
                </div>
            </form>
        </div>
    </div>
</div>