<div class="modal modal-document fader on-form-modal timekeeper-form" id="workFromHomeModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true">
    <div class="modal-dialog-centered modal-sm  mx-auto work-from-home-modal">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding">
                <div class="modal-header border-0 border-bottom modal-header-padding">
                    <div class="container">
                        <div class="">
                            <div class="heading-1">Report Vacation</div>
                        </div>
                        <div class="">
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="datepicker-here" data-range="true" id="vacation-dates"
                     data-multiple-dates-separator=" - " data-language='en'></div>
                <div class="modal-footer mt-4 border-0">
                    <div class="text-center m-auto">
                        <input type="submit" class="custom-button custom-button-font timekeeper-color between-button-margin" id="saveVacation" value="Save" />
                        <button class="custom-button custom-cancel cancel-email" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/datepicker.min.js"></script>
<!-- Include English language -->
<script src="~/js/datepicker.en.js"></script>
