@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData

<div class="container h-100">
    <div class="row flex-column h-100 justify-content-center align-items-center" style="max-height: 750px">
        <label class="empty-page-text">Nothing is here</label>
        <div class="py-3">
            <img src="~/images/css/Empty_Page.png" width="350" alt="Empty Page">
        </div>
    </div>
</div>
