@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModelByVendor
@using System.Text;
@using System.Globalization;
@using PrototypeWithAuth.AppData
@using React.AspNet
@using Newtonsoft.Json;
@using Newtonsoft.Json.Converters;
<script src="~/js/IndexTablePartial.js"></script>
<script src="~/js/accounting.js"></script>
<script src="~/js/PricePopoverScript.js"></script>
<form method="post" enctype="multipart/form-data" style="height: 100%;">
    @{
    //for button for selected items
    var btnText = "Pay Selected";
    var ajaxLink = "pay-selected";
        var sectionClass = ""; //if no section class, accounting color is default

    switch (Model.SidebarType)
    {
    case AppUtility.SidebarEnum.NoInvoice:
    ajaxLink = "add-to-selected";
    btnText = "Add To Selected";
    break;
    case AppUtility.SidebarEnum.Installments:
    ajaxLink = "pay-invoice-selected";
    break;
    case AppUtility.SidebarEnum.Quotes:
    ajaxLink = "update-quote-for-selected";
    btnText = "Add To Selected";
    sectionClass = "labmanage";
    break;
    case AppUtility.SidebarEnum.Orders:
    ajaxLink = "load-terms-for-selected";
    btnText = "Order Selected";
    sectionClass = "labmanage";
    break;
    case AppUtility.SidebarEnum.Cart:
    ajaxLink = "load-terms-for-selected";
    btnText = "Order Selected";
    sectionClass = "orders-and-inv";
    break;
    default:
    break;
    }
    }
    @Html.React("RootComponent", new { viewModel = Model, viewEnum ="/_IndexTableDataByVendor", btnText = btnText, sectionClass = sectionClass, ajaxLink = ajaxLink })
    @Html.ReactGetScriptPaths()
    @Html.ReactInitJavaScript()




</form>
