@model InventoryFilterViewModel

@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.ViewModels;

@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using System.Globalization
@using X.PagedList.Mvc.Core @* import this so we get our HTML Helper *@

@{ 
    var colorClass = "section-outline-color";
    var sectionClass = "orders";
    if (Model.SectionType == AppUtility.MenuItems.Operations)
    {
        colorClass = "section-outline-color";
        sectionClass = "operations";

    }
}
<div class="container-fluid ">
    <div class="row">
        <ul class="list-unstyled mb-0 ">
            <li class="filter-and-search @sectionClass">
                <input type="text" placeholder="Search" class="text @colorClass custom-button mx-3 search-by-name"  />
                <button type="button" id="invFilterPopover" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-container="body"
                        class="text custom-button @colorClass" value="Filter">
                    Filter
                </button>
            </li>
            <div style="display:none;" id="inventoryFilterContent" class="container-fluid">
                @{
                    await Html.RenderPartialAsync("_InventoryFilterResults", Model);
                }
            </div>
        </ul>
        <div id="inventoryFilterContentDiv" class="container inventoryFilterDiv">

        </div>

    </div>
</div>
