@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="_IndexTable">
    @{ await Html.RenderPartialAsync("_IndexTable", Model);}
</div>
