@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Centarix Management";
    //Layout = "~/Views/Shared/_GeneralView.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>@ViewData["Title"] - Centarix Management System</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Master.css" rel="stylesheet" />
    @*need to have decompressed full css file and set the apend tag to true in any file that doesnt hve or inherit from this file*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">



</head>
<body>
    <div class="text-center container  center-horizontally" style="min-width:560px">
        <div class="row h-100">
            <div class="col-6 offset-3 my-auto">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    @*<footer class="border-top footer text-muted text-center">
            <div class="container">
                &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @*load jquery ui*@

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/validate.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
