@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel
@using PrototypeWithAuth.AppData


<div class=" _EditVendorTabs ">
    @{ await Html.RenderPartialAsync("~/Views/Vendors/_VendorTabs.cshtml", Model);}
</div>
