@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div >
    <p class="text" style="color:red; font-size:32px; font-weight:bold; text-align:center; padding: 5rem">
        Invalid Url
    </p>
</div>