@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/site.js"></script>
<div class="modal modal-view on-form-modal right fader invalid-right-modal edits users-form" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">
    <div class="modal-dialog modal-lg box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        @*style needed here to override bootstraps modal width limitations*@
        <div class="modal-content d-inline-block">

            <div class="new-modal-header modal-line-1-header-with-back modal-sides" style="padding: 0.5em 6em">

                <div class="back-button">
                    <button class="back-button" type="button" @*data-dismiss="modal"*@ style="border-width: 0; background: transparent" @*onclick="$(this).closest('.modal').modal('hide');*@>
                        <img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" />
                    </button>
                </div>
                @{ await Html.RenderPartialAsync("InvalidLinkPage.cshtml");}
            </div>
        </div>
    </div>
</div>