@using PrototypeWithAuth.Data;
@using PrototypeWithAuth.AppData;
@{
    string color = "";
    if (TempData["SectionType"].Equals(AppUtility.MenuItems.LabManagement))
    {
        ViewData["Title"] = "ManageLocationView";
        Layout = "~/Views/Shared/LabManageView.cshtml";
        color = "var(--lab-man-color)";
    }
    else
    {
        ViewData["Title"] = "ManageSharedView";
        Layout = "~/Views/Shared/View.cshtml";
        color = "var(--order-inv-color)";
    }

    <div style="display: flex;">
        <div style="width: 110px; min-height: 100rem;" class="p-2 sidebar-shadow text-center p-3">
            <ul class="nav flex-column nav-pills nav-stacked mt-3 ">
                <li class="nav-item">
                    <a href="#" class="inv-link-clr" style="        color: @color;"> <i class="icon-zoom_in-24px-01" style="font-size: 2rem;"></i> <br /> List</a>
                </li>
            </ul>
        </div>
        <div class="outer-page-margins pl-3" style="flex-grow: 1; position:relative;">
            @RenderBody()
            </div >
            </div >

            <!--Add Location Modal -->
            <div class="modal location-modal-view" id="myModal" role="dialog" aria-labelledby="Request">
            </div>
            }
            @*<script src="~/js/site.js" asp-append-version="true"></script>*@

          
