@using PrototypeWithAuth.Data;
@using PrototypeWithAuth.AppData;
@{ 
    string color = "";
    ViewData["Title"] = "ManageSharedView";
    if (TempData["SectionType"].Equals(AppUtility.MenuItems.LabManagement))
    {
        Layout = "~/Views/Shared/LabManageView.cshtml";
        color = "var(--lab-man-color)";
    }
    else if (TempData["SectionType"].Equals(AppUtility.MenuItems.OrdersAndInventory))
    {
        Layout = "~/Views/Shared/View.cshtml";
        color = "var(--order-inv-color)";
    }
    else if (TempData["SectionType"].Equals(AppUtility.MenuItems.Operation))
    {
        Layout = "~/Views/Shared/OperationsView.cshtml";
        color = "var(--operations-color)";
    }
<div style="display:flex;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div style="width: 110px; min-height: 100rem;" class="p-2 sidebar-shadow text-center p-3">
        <ul class="nav flex-column nav-pills nav-stacked mt-3 ">
            <li class="nav-item">
                <a href="#" class="inv-link-clr" style="        color: @color;"> <i class="icon-zoom_in-24px-01" style="font-size: 2rem;"></i> <br /> Search </a>
            </li>
        </ul>
    </div>
    <div style="flex-grow: 1; position:relative; padding: 2rem;">
        @RenderBody()
    </div>
</div>
    }
