
<div class="two-factor-expired"></div>
<div class="add-invoice"></div>
<div class="adjust-payments"></div>
<div class="confirm-edit"></div>
<div class="confirm-exit"></div>
<div class="confirm-email"></div>
<div class="documents-delete"></div>
<div class="documents"></div>
<div class="edit-quote"></div>
<div class="order-late"></div>
<div class="payments-pay"></div>
<div class="payments-invoice"></div>
<div class="received-item"></div>
<div class="reorder-item"></div>
<div class="terms"></div>
<div class="upload-order"></div>
<div class="upload-quote"></div>
<div class="step-1"></div>
<div class="step-2"></div>
<div class="cart-total"></div>
<div class="visual-zoom"></div>
<div class="suspend-user"></div>
<div class="user-picture"></div>
<div class="deny-approval"></div>
<div class="delete-item"></div>
<div class="edits"></div>
<div class="add-location"></div>
<div class="update-time-worked"></div>
<div class="off-day"></div>
<div class="hours-awaiting-approval"></div>
<div class="share-request"></div>
<div class="add-material"></div>
<div class="late-order"></div>
<div class="add-resources"></div>
<div class="material-info"></div>
<div class="add-function"></div>
<div class="resource-notes-modal"></div>
<div class="share-modal"></div>
