

<div class="add-invoice"></div>
<div class="adjust-payments"></div>
<div class="confirm-edit"></div>
<div class="confirm-exit"></div>
<div class="confirm-email"></div>
<div class="confirm-quote-email"></div>
<div class="documents-delete"></div>
<div class="documents"></div>
<div class="edit-item"></div>
<div class="edit-quote"></div>
<div class="order-late"></div>
<div class="payments-pay"></div>
<div class="received-item"></div>
<div class="reorder-item"></div>
<div class="terms"></div>
<div class="upload-order"></div>
<div class="upload-quote"></div>
<div class="step-1"></div>
<div class="step-2"></div>
<div class="cart-total"></div>