@font-face {
    font-family: 'elixir-icons';
    src: url('fonts/elixir-icons.eot?f6qb0w');
    src: url('fonts/elixir-icons.eot?f6qb0w#iefix') format('embedded-opentype'), url('fonts/elixir-icons.ttf?f6qb0w') format('truetype'), url('fonts/elixir-icons.woff?f6qb0w') format('woff'), url('fonts/elixir-icons.svg?f6qb0w#elixir-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'elixir-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back_ios-24px-1:before {
    content: "\e962";
}

.icon-arrow_forward_ios-24px:before {
    content: "\e963";
}

.icon-insert_drive_file-24px-1:before {
    content: "\e964";
}

.icon-luggage-24px-1:before {
    content: "\e965";
}

.icon-sick-24px-1:before {
    content: "\e966";
}

.icon-info-24px-2:before {
    content: "\e967";
}

.icon-description-24px-2:before {
    content: "\e968";
}

.icon-highlight_off-24px:before {
    content: "\e969";
}

.icon-event-24px:before {
    content: "\e96a";
}

.icon-exit-24px:before {
    content: "\e96b";
}

.icon-entry-24px:before {
    content: "\e96c";
}

.icon-notification_approve-24px:before {
    content: "\e95b";
}

.icon-notification_didnt_arrive-24px:before {
    content: "\e95c";
}

.icon-notification_received-24px:before {
    content: "\e95d";
}

.icon-notification_shared-24px:before {
    content: "\e95e";
}

.icon-notification_time-24px:before {
    content: "\e95f";
}

.icon-notifications_border-24px:before {
    content: "\e960";
}

.icon-access_time-24px:before {
    content: "\e961";
}

.icon-report_problem-24px-2:before {
    content: "\e94c";
}

.icon-standing_orders-24px:before {
    content: "\e901";
}

.icon-https-24px:before {
    content: "\e902";
}

.icon-notifications_number-24px .path1:before {
    content: "\e905";
    color: rgb(128, 128, 128);
}

.icon-notifications_number-24px .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(233, 82, 82);
}

.icon-more-24px:before {
    content: "\e907";
}

.icon-approve-24px:before {
    content: "\e908";
}

.icon-back-24px:before {
    content: "\e909";
}

.icon-account_box-24px-1:before {
    content: "\e90b";
}

.icon-categories-24px:before {
    content: "\e90c";
}

.icon-notifications-24px:before {
    content: "\e90d";
}

.icon-insert_chart-24px:before {
    content: "\e900";
}

.icon-table_chart-24px-1:before {
    content: "\e903";
}

.icon-pie_chart-24px-2:before {
    content: "\e904";
}

.icon-centarix-icons-19:before {
    content: "\e959";
}

.icon-centarix-icons-20:before {
    content: "\e95a";
}

.icon-local_offer-24px-1:before {
    content: "\e90a";
}

.icon-cancel_presentation-24px:before {
    content: "\e90e";
}

.icon-centarix-icons-18:before {
    content: "\e90f";
}

.icon-add_box-24px-01:before {
    content: "\e910";
}

.icon-add_box-24px:before {
    content: "\e911";
}

.icon-delete-24px:before {
    content: "\e946";
}

.icon-centarix-icons-17:before {
    content: "\e912";
}

.icon-arrow_drop_down-24px:before {
    content: "\e913";
}

.icon-zoom_in-24px-01:before {
    content: "\e914";
}

.icon-zoom_in-24px:before {
    content: "\e915";
}

.icon-notifications-24px1:before {
    content: "\e916";
}

.icon-clear-24px:before {
    content: "\e917";
}

.icon-centarix-icons-12:before {
    content: "\e918";
}

.icon-centarix-icons-13:before {
    content: "\e919";
}

.icon-centarix-icons-14:before {
    content: "\e91a";
}

.icon-centarix-icons-15:before {
    content: "\e91b";
}

.icon-comment-24px:before {
    content: "\e958";
}

.icon-centarix-icons-10:before {
    content: "\e91c";
}

.icon-centarix-icons-11:before {
    content: "\e91d";
}

.icon-centarix-icons-09:before {
    content: "\e91e";
}

.icon-centarix-icons-07:before {
    content: "\e91f";
}

.icon-centarix-icons-08:before {
    content: "\e920";
}

.icon-centarix-icons-05:before {
    content: "\e921";
}

.icon-centarix-icons-06:before {
    content: "\e950";
}

.icon-camera_alt-24px:before {
    content: "\e922";
}

.icon-credit_card-24px:before {
    content: "\e923";
}

.icon-chrome_reader_mode-24px:before {
    content: "\e924";
}

.icon-book-24px:before {
    content: "\e925";
}

.icon-assignment-24px:before {
    content: "\e954";
}

.icon-history-24px:before {
    content: "\e926";
}

.icon-attach_file-24px:before {
    content: "\e927";
}

.icon-category-24px:before {
    content: "\e955";
}

.icon-centarix-icons-03:before {
    content: "\e928";
}

.icon-centarix-icons-04:before {
    content: "\e929";
}

.icon-format_list_bulleted-24px-01:before {
    content: "\e957";
}

.icon-monetization_on-24px:before {
    content: "\e92a";
}

.icon-storefront-24px1:before {
    content: "\e92b";
}

.icon-add_circle_outline-24px:before {
    content: "\e92c";
}

.icon-add_circle-24px:before {
    content: "\e92d";
}

.icon-add-24px:before {
    content: "\e92e";
}

.icon-archive-24px:before {
    content: "\e92f";
}

.icon-assignment-24px1:before {
    content: "\e930";
}

.icon-broken-link:before {
    content: "\e931";
}

.icon-business-24px:before {
    content: "\e932";
}

.icon-category-24px1:before {
    content: "\e933";
}

.icon-check_box_outline_blank-24px:before {
    content: "\e934";
}

.icon-check_box-24px:before {
    content: "\e935";
}

.icon-create-24px:before {
    content: "\e936";
}

.icon-delete-24px1:before {
    content: "\e937";
}

.icon-done-24px:before {
    content: "\e938";
}

.icon-face-24px:before {
    content: "\e956";
}

.icon-favorite_border-24px:before {
    content: "\e939";
}

.icon-favorite-24px:before {
    content: "\e93a";
}

.icon-file_copy-24px:before {
    content: "\e93b";
}

.icon-folder_open-24px:before {
    content: "\e93c";
}

.icon-format_list_numbered-24px:before {
    content: "\e93d";
}

.icon-home-24px:before {
    content: "\e93e";
}

.icon-library_books-24px:before {
    content: "\e93f";
}

.icon-local_mall-24px:before {
    content: "\e940";
}

.icon-local_shipping-24px:before {
    content: "\e941";
}

.icon-monetization_on-24px1:before {
    content: "\e942";
}

.icon-more_vert-24px:before {
    content: "\e943";
}

.icon-notification_important-24px:before {
    content: "\e944";
}

.icon-payment-24px:before {
    content: "\e945";
}

.icon-perm_contact_calendar-24px:before {
    content: "\e952";
}

.icon-place-24px:before {
    content: "\e953";
}

.icon-priority_high-24px:before {
    content: "\e947";
}

.icon-radio_button_checked-24px:before {
    content: "\e948";
}

.icon-radio_button_unchecked-24px:before {
    content: "\e949";
}

.icon-remove_red_eye-24px:before {
    content: "\e94a";
}

.icon-remove_shopping_cart-24px:before {
    content: "\e94b";
}

.icon-share-24px-1:before {
    content: "\e94d";
}

.icon-shopping_cart-24px:before {
    content: "\e94e";
}

.icon-storefront-24px:before {
    content: "\e94f";
}

.icon-update-24px:before {
    content: "\e951";
}
