@font-face {
    font-family: 'elixir-icons';
    src: url('fonts/elixir-icons.eot?kb8s6d');
    src: url('fonts/elixir-icons.eot?kb8s6d#iefix') format('embedded-opentype'), url('fonts/elixir-icons.ttf?kb8s6d') format('truetype'), url('fonts/elixir-icons.woff?kb8s6d') format('woff'), url('fonts/elixir-icons.svg?kb8s6d#elixir-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'elixir-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-create-project-24px:before {
    content: "\e96c";
}

.icon-add-24px:before {
    content: "\e97b";
}

.icon-stop-24px:before {
    content: "\e97c";
}

.icon-tip-24px:before {
    content: "\e97d";
}

.icon-research-24px:before {
    content: "\e97e";
}

.icon-theory-tab-24px:before {
    content: "\e97f";
}

.icon-protocol-tab-24px:before {
    content: "\e980";
}

.icon-kit-protocol-24px:before {
    content: "\e981";
}

.icon-sop-protocol-24px:before {
    content: "\e982";
}

.icon-troubleshooting-24px:before {
    content: "\e983";
}

.icon-results-24px:before {
    content: "\e984";
}

.icon-print-24px-1:before {
    content: "\e985";
}

.icon-attach-item-24px:before {
    content: "\e986";
}

.icon-attach-protocol-24px:before {
    content: "\e987";
}

.icon-clipboard-24px-1:before {
    content: "\e988";
}

.icon-label-24px-1:before {
    content: "\e989";
}

.icon-play_circle_outline-24px-1:before {
    content: "\e98a";
}

.icon-add_task-24px:before {
    content: "\e98b";
}

.icon-local_shipping-24px:before {
    content: "\e98c";
}

.icon-info-24px-2:before {
    content: "\e902";
}

.icon-notification_time-24px:before {
    content: "\e903";
}

.icon-centarix-icons-20:before {
    content: "\e904";
}

.icon-cancel_presentation-24px:before {
    content: "\e905";
}

.icon-centarix-icons-10:before {
    content: "\e906";
}

.icon-centarix-icons-09:before {
    content: "\e907";
}

.icon-centarix-icons-06:before {
    content: "\e908";
}

.icon-centarix-icons-08:before {
    content: "\e909";
}

.icon-search-list-24px:before {
    content: "\e900";
}

.icon-search-advanced-24px:before {
    content: "\e901";
}

.icon-notification_timekeeper-24px:before {
    content: "\e97a";
}

.icon-settings-24px-1:before {
    content: "\e978";
}

.icon-calibrate-24px:before {
    content: "\e979";
}

.icon-inhouse-maintainance-24px:before {
    content: "\e975";
}

.icon-miscellaneous_services-24px-1:before {
    content: "\e976";
}

.icon-build-24px:before {
    content: "\e977";
}

.icon-notification_ordered-24px:before {
    content: "\e96f";
}

.icon-pending-24px-1:before {
    content: "\e970";
}

.icon-security-24px:before {
    content: "\e971";
}

.icon-assignment_ind-24px-1:before {
    content: "\e972";
}

.icon-notification_top_menu:before {
    content: "\e973";
}

.icon-block-24px:before {
    content: "\e974";
}

.icon-toggle_off-24px-1:before {
    content: "\e96d";
}

.icon-toggle_on-24px-1:before {
    content: "\e96e";
}

.icon-arrow_back_ios-24px-1:before {
    content: "\e962";
}

.icon-arrow_forward_ios-24px:before {
    content: "\e963";
}

.icon-insert_drive_file-24px-1:before {
    content: "\e964";
}

.icon-luggage-24px-1:before {
    content: "\e965";
}

.icon-sick-24px-1:before {
    content: "\e966";
}

.icon-description-24px2:before {
    content: "\e90a";
}

.icon-highlight_off-24px:before {
    content: "\e90b";
}

.icon-event-24px:before {
    content: "\e90c";
}

.icon-exit-24px:before {
    content: "\e90d";
}

.icon-entry-24px:before {
    content: "\e90e";
}

.icon-notification_approve-24px:before {
    content: "\e90f";
}

.icon-notification_didnt_arrive-24px:before {
    content: "\e910";
}

.icon-notification_received-24px:before {
    content: "\e911";
}

.icon-notification_shared-24px:before {
    content: "\e912";
}

.icon-notifications_border-24px:before {
    content: "\e913";
}

.icon-access_time-24px:before {
    content: "\e914";
}

.icon-report_problem-24px2:before {
    content: "\e915";
}

.icon-standing_orders-24px:before {
    content: "\e916";
}

.icon-https-24px:before {
    content: "\e917";
}

.icon-notifications_number-24px .path1:before {
    content: "\e918";
    color: rgb(128, 128, 128);
}

.icon-notifications_number-24px .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(233, 82, 82);
}

.icon-more-24px:before {
    content: "\e91a";
}

.icon-approve-24px:before {
    content: "\e91b";
}

.icon-back-24px:before {
    content: "\e91c";
}

.icon-account_box-24px1:before {
    content: "\e91d";
}

.icon-categories-24px:before {
    content: "\e91e";
}

.icon-notifications-24px:before {
    content: "\e91f";
}

.icon-add_circle_outline-24px1:before {
    content: "\e920";
}

.icon-insert_chart-24px:before {
    content: "\e921";
}

.icon-table_chart-24px1:before {
    content: "\e922";
}

.icon-pie_chart-24px2:before {
    content: "\e923";
}

.icon-centarix-icons-19:before {
    content: "\e924";
}

.icon-local_offer-24px1:before {
    content: "\e925";
}

.icon-centarix-icons-18:before {
    content: "\e926";
}

.icon-add_box-24px-01:before {
    content: "\e927";
}

.icon-add_box-24px:before {
    content: "\e928";
}

.icon-delete-24px:before {
    content: "\e929";
}

.icon-centarix-icons-17:before {
    content: "\e92a";
}

.icon-arrow_drop_down-24px:before {
    content: "\e92b";
}

.icon-zoom_in-24px-01:before {
    content: "\e92c";
}

.icon-zoom_in-24px:before {
    content: "\e92d";
}

.icon-notifications-24px1:before {
    content: "\e92e";
}

.icon-clear-24px:before {
    content: "\e92f";
}

.icon-centarix-icons-12:before {
    content: "\e930";
}

.icon-centarix-icons-13:before {
    content: "\e931";
}

.icon-centarix-icons-14:before {
    content: "\e932";
}

.icon-centarix-icons-15:before {
    content: "\e933";
}

.icon-comment-24px:before {
    content: "\e934";
}

.icon-centarix-icons-11:before {
    content: "\e935";
}

.icon-centarix-icons-07:before {
    content: "\e936";
}

.icon-centarix-icons-05:before {
    content: "\e937";
}

.icon-camera_alt-24px:before {
    content: "\e938";
}

.icon-credit_card-24px:before {
    content: "\e939";
}

.icon-chrome_reader_mode-24px:before {
    content: "\e93a";
}

.icon-book-24px:before {
    content: "\e93b";
}

.icon-assignment-24px:before {
    content: "\e93c";
}

.icon-history-24px:before {
    content: "\e93d";
}

.icon-attach_file-24px:before {
    content: "\e93e";
}

.icon-category-24px:before {
    content: "\e93f";
}

.icon-centarix-icons-03:before {
    content: "\e940";
}

.icon-centarix-icons-04:before {
    content: "\e941";
}

.icon-format_list_bulleted-24px-01:before {
    content: "\e942";
}

.icon-storefront-24px:before {
    content: "\e943";
}

.icon-add_circle-24px:before {
    content: "\e944";
}

.icon-archive-24px:before {
    content: "\e945";
}

.icon-broken-link:before {
    content: "\e946";
}

.icon-business-24px:before {
    content: "\e947";
}

.icon-category-24px1:before {
    content: "\e948";
}

.icon-check_box_outline_blank-24px:before {
    content: "\e949";
}

.icon-check_box-24px:before {
    content: "\e94a";
}

.icon-create-24px:before {
    content: "\e94b";
}

.icon-delete-24px1:before {
    content: "\e94c";
}

.icon-done-24px:before {
    content: "\e94d";
}

.icon-face-24px:before {
    content: "\e94e";
}

.icon-favorite_border-24px:before {
    content: "\e94f";
}

.icon-favorite-24px:before {
    content: "\e950";
}

.icon-file_copy-24px:before {
    content: "\e951";
}

.icon-folder_open-24px:before {
    content: "\e952";
}

.icon-format_list_numbered-24px:before {
    content: "\e953";
}

.icon-home-24px:before {
    content: "\e954";
}

.icon-library_books-24px:before {
    content: "\e955";
}

.icon-local_mall-24px:before {
    content: "\e956";
}

.icon-monetization_on-24px:before {
    content: "\e957";
}

.icon-more_vert-24px:before {
    content: "\e958";
}

.icon-notification_important-24px:before {
    content: "\e959";
}

.icon-payment-24px:before {
    content: "\e95a";
}

.icon-perm_contact_calendar-24px:before {
    content: "\e95b";
}

.icon-place-24px:before {
    content: "\e95c";
}

.icon-priority_high-24px:before {
    content: "\e95d";
}

.icon-radio_button_checked-24px:before {
    content: "\e95e";
}

.icon-radio_button_unchecked-24px:before {
    content: "\e95f";
}

.icon-remove_red_eye-24px:before {
    content: "\e960";
}

.icon-remove_shopping_cart-24px:before {
    content: "\e961";
}

.icon-report_problem-24px:before {
    content: "\e967";
}

.icon-share-24px1:before {
    content: "\e968";
}

.icon-shopping_cart-24px:before {
    content: "\e969";
}

.icon-storefront-24px1:before {
    content: "\e96a";
}

.icon-update-24px:before {
    content: "\e96b";
}
