@model List<PrototypeWithAuth.ViewModels.EmployeeHoursAwaitingApprovalViewModel>
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Awaiting Approval";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}


    <div class="container-fluid ">
        <div class="row heading-1">Awaiting Approval</div>
        <div class="row render-partial ">
            @{await Html.RenderPartialAsync("_AwaitingApproval", Model);}
        </div>
   
    </div>