@model EmployeeHoursAwaitingApproval;


<div class="modal modal-view deny-approval-modal" id="myModal" role="dialog" aria-labelledby="User" data-backdrop="false">
    <div class="modal-dialog-centered modal-lg mx-auto " role="document" >
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('deny-approval');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" id="denyForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding">
                <div class="modal-header p-0  modal-header-padding">
                    <div class="heading-1">Deny</div>
                </div>
                <div class="modal-body ">

                    @Html.HiddenFor(model => model.EmployeeHoursAwaitingApprovalID)
                    <span class="text">Are you sure you would like to deny this request?</span>
                    <div class="modal-footer-mt ">
                        <div class="mx-auto text-center">
                            <button type="button" value=@Model.EmployeeHoursAwaitingApprovalID id="submit-deny-approval-request" class="custom-button custom-button-font users-background-color between-button-margin submit-deny-approval-request">Deny</button>
                            <input type="button" @*data-dismiss="modal"*@ value="Cancel" class="custom-cancel custom-button" onclick="$.fn.CloseModal('deny-approval');" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/AwaitingApprovalScript.js"></script>
