@model PrototypeWithAuth.ViewModels.EmployeeDetailsViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<input type="hidden" id="PageType" value="@TempData[AppUtility.TempDataTypes.PageType.ToString()]"/>
<div class="container-fluid" id="usersTable">
    @{ await Html.RenderPartialAsync("_Details", Model);}
</div>