@model PrototypeWithAuth.ViewModels.WorkersHoursViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Hours";
    Layout = "~/Views/Shared/RequestNavView.cshtml";


}
<script src="~/js/workerHours.js"></script>
<input type="hidden" asp-for="TotalWorkingDaysInYear" year="@Model.Year" />
<div class="hours-partial">
    @{ await Html.RenderPartialAsync("_Hours", Model);
    }
</div>
