/*color*/
:root {
    --white: white;
    --user-color: #795548;
    --lab-man-color: rgb(125,155,170); /*#7D9BAA;*/
    --lab-man-50-color: rgba(125,155,170, .5);
    --order-inv-color: #2196F3;
    --acc-color: #A26FF0;
    --protocol-color: #009688;
    --expense-color: #00BCD4;
    --income-color: #4CAF50;
    --timekeeper-color: #FF9800;
    --biomarkers-color: #F44336;
    --operations-color: #3F51B5;
    --order-inv-filter: brightness(0) saturate(100%) invert(57%) sepia(42%) saturate(5293%) hue-rotate(184deg) brightness(96%) contrast(99%);
    --lab-man-filter: brightness(0) saturate(100%) invert(44%) sepia(48%) saturate(220%) hue-rotate(155deg) brightness(96%) contrast(87%);
    --acc-filter: brightness(0) saturate(100%) invert(51%) sepia(93%) saturate(1777%) hue-rotate(225deg) brightness(93%) contrast(103%);
    --users-filter: brightness(0) saturate(100%) invert(32%) sepia(36%) saturate(440%) hue-rotate(330deg) brightness(99%) contrast(89%);
    --operations-filter: brightness(0) saturate(100%) invert(25%) sepia(82%) saturate(1564%) hue-rotate(217deg) brightness(90%) contrast(84%);
    --timekeeper-filter: brightness(0) saturate(100%) invert(72%) sepia(32%) saturate(7497%) hue-rotate(1deg) brightness(106%) contrast(104%);
    --notifications-orderlate-color: #DB2127;
    --notifications-ordered-color: #5F79E2;
    --notifications-approved-color: #00CA72;
    --notifications-received-color: #5F79E2;
    --danger-color: #E95252;
    --success-color: #00ca72;
    --bold-regular: 400;
    --bold-medium: 500;
    --bold-light: 300;
    --text-font-size: 1.125rem;
    --text-font-weight: 400;
}

