u;nithtml {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    scrollbar-width: none;
}


/*color*/
:root {
    --black-87: #000000DE;
    --black-50: rgba(0,0,0, .5);
    --white: white;
    --user-color: #795548;
    --lab-man-color: rgb(125,155,170); /*#7D9BAA;*/
    --lab-man-50-color: rgba(125,155,170, .5);
    --order-inv-color: #2196F3;
    --order-inv-25: rgba(33,150,243, .25);
    --lab-man-25: rgb(125,155,170, .25);
    --accounting-25: rgb(162, 111, 240, .25);
    --operations-25: rgb(63, 81, 181, .25);
    --users-25: rgb(121,85,72, .25);
    --protocols-25: rgb(0, 150, 136, .25);
    --biomarkers-25: rgb(244, 67, 54, .25);
    --timekeeper-25: rgb(255, 152, 0, .25);
    --expenses-25: rgb(0, 188, 212, .25);
    --income-25: rgb(76, 175, 80, .25);
    --acc-color: #A26FF0;
    --protocols-color: #009688;
    --expense-color: #00BCD4;
    --income-color: #4CAF50;
    --timekeeper-color: #FF9800;
    --biomarkers-color: #F44336;
    --operations-color: #3F51B5;
    --disabled-color: #B3B3B3;
    --order-inv-filter: brightness(0) saturate(100%) invert(57%) sepia(42%) saturate(5293%) hue-rotate(184deg) brightness(96%) contrast(99%);
    --lab-man-filter: brightness(0) saturate(100%) invert(44%) sepia(48%) saturate(220%) hue-rotate(155deg) brightness(96%) contrast(87%);
    --acc-filter: brightness(0) saturate(100%) invert(51%) sepia(93%) saturate(1777%) hue-rotate(225deg) brightness(93%) contrast(103%);
    --users-filter: brightness(0) saturate(100%) invert(32%) sepia(36%) saturate(440%) hue-rotate(330deg) brightness(99%) contrast(89%);
    --operations-filter: brightness(0) saturate(100%) invert(25%) sepia(82%) saturate(1564%) hue-rotate(217deg) brightness(90%) contrast(84%);
    --timekeeper-filter: brightness(0) saturate(100%) invert(72%) sepia(32%) saturate(7497%) hue-rotate(1deg) brightness(106%) contrast(104%);
    --expense-filter: brightness(0) saturate(100%) invert(45%) sepia(67%) saturate(926%) hue-rotate(146deg) brightness(108%) contrast(101%);
    --protocol-filter: brightness(0) invert(39%) sepia(20%) saturate(3905%) hue-rotate(142deg) brightness(98%) contrast(101%);
    --notifications-orderlate-color: #DB2127;
    --notifications-ordered-color: #5F79E2;
    --notifications-approved-color: #00CA72;
    --notifications-received-color: #5F79E2;
    --danger-color: #E95252;
    --success-color: #00ca72;
    --bold-regular: 400;
    --bold-medium: 500;
    --bold-light: 300;
    --text-font-size: 1rem;
    --text-font-weight: 400;
    --small-text-font-size: .9rem;
    --graduated-table-background-color: #DEDEDE;
    --graduated-table-filter: brightness(0) saturate(100%) invert(91%) sepia(29%) saturate(0%) hue-rotate(314deg) brightness(97%) contrast(106%);
    --tiny-label-font-size: 0.469375rem;
    --select-border-radius: .25rem;
    --timekeeper-alt-color: #009688;
    --disabled-filter: invert(69%) sepia(13%) saturate(0%) hue-rotate(166deg) brightness(100%) contrast(94%);
    --light-gray: #E5E5E5;
}

.success-color {
    background-color: var(--success-color);
}

.small-text {
    font-size: var(--small-text-font-size);
}

.text-danger-centarix, .on-form-modal label.error, .centarix-error-style label.error {
    color: var(--danger-color);
}

.light-gray-color {
    color: var(--light-gray);
}
.light-gray-background-color {
    background-color: var(--light-gray);
}

.danger-color {
    background-color: var(--danger-color);
}

.danger-text {
    color: var(--danger-color) !important;
}

.border-danger-centarix {
    border-color: var(--danger-color) !important;
}

.danger-box-shadow {
    box-shadow: 0 2px 0 0 var(--danger-color) !important;
}

.operations-filter {
    filter: var(--operations-filter);
}

.timekeeper-color {
    background-color: var(--timekeeper-color);
}

.timekeeper-alt-color {
    background-color: var(--timekeeper-alt-color);
}

.timekeeper-font-alt-color {
    color: var(--timekeeper-alt-color);
}

.timekeeper-font-color {
    color: var(--timekeeper-color);
}

.timekeeper-filter {
    filter: var(--timekeeper-filter);
}

.users-color {
    background-color: var(--user-color);
}

.users-alt-color {
    background-color: var(--user-color);
}

.users-filter {
    filter: var(--users-filter);
}

.users-font-color {
    color: var(--user-color);
}

.users-font-alt-color {
    color: var(--user-color);
}

.disabled-color1{
    color: var(--disabled-color);
}

.disabled-color {
    background-color: #B3B3B3;
}

.disabled-filter {
    filter: var(--disabled-filter);
}

.disabled-background-color{
    background-color: var(--disabled-color);
}

.order-inv-color {
    color: var(--order-inv-color);
}

.order-inv-filter {
    filter: var(--order-inv-filter);
}

.oper-filter {
    filter: var(--operations-filter);
}

.order-inv-background-color {
    background-color: var(--order-inv-color) !important;
}

.users-background-color {
    background-color: var(--user-color) !important;
}

.users-border-color {
    border: solid 2px var(--user-color) !important;
}

.lab-man-filter {
    filter: var(--lab-man-filter) !important;
}

.lab-man-color {
    color: var(--lab-man-color) !important;
}

.lab-man-background-color {
    background-color: var(--lab-man-color) !important;
}

.oper-background-color {
    background-color: var(--operations-color) !important;
}

.oper-color {
    color: var(--operations-color) !important;
}

.expenses-color {
    color: var(--expense-color) !important;
}

.expenses-background-color-25 {
    background-color: var(--expenses-25) !important;
}

.expenses-filter {
    filter: var(--expense-filter) !important;
}

.expenses-background-color {
    background-color: var(--expense-color) !important;
}

.protocols-color {
    color: var(--protocol-color) !important;
}

.protocols-filter {
    filter: var(--protocol-filter) !important;
}

.protocols-background-color {
    background-color: var(--protocol-color) !important;
}



.lab-man-50-background-color {
    background-color: var(--lab-man-50-color) !important;
    /*opacity: .5;*/
}

a.yearly-monthly, input[type=button].yearly-monthly {
    border: .125rem solid var(--user-color) !important;
    color: var(--user-color) !important;
}

.accounting-color {
    color: var(--acc-color);
}

.accounting-background-color {
    background-color: var(--acc-color);
}

.accounting-filter {
    filter: var(--acc-filter);
}

.green-overlay {
    filter: invert(56%) sepia(47%) saturate(3021%) hue-rotate(116deg) brightness(98%) contrast(101%);
}

.graduated-table-background-color {
    background-color: var(--graduated-table-background-color) !important;
}

.graduated-table-filter {
    filter: var(--graduated-table-filter);
}

.tiny-label-font-size {
    font-size: var(--tiny-label-font-size);
}

.visual-box {
    border: 1px solid var(--black-87);
}

.disabled-text {
    color: var(--disabled-color) !important;
}

/*.visual-box .row-1{
    height: 75%;
}
.visual-box .row-2{
    height: 25%;
}*/

/*table.visual-locations {
    width: 100%;
}

table.visual-locations td {
    width: 33.33%;
    position: relative;
}

table.visual-locations td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

table.visual-locations td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: gold;
}*/

.bottom-cell-label {
    margin-bottom: 0;
}

.px-2rem {
    padding-right: 2.25rem !important;
    padding-left: 2.25rem !important;
}


body {
    color: var(--black-87);
    text-transform: capitalize;
    font-weight: var(--bold-regular)
}

/*fonts*/
.heading-1 {
    font-size: 1.75rem !important;
    font-weight: var(--bold-medium) !important;
}

.tabs-font {
    font-size: 1.25rem;
    font-weight: var(--bold-medium);
}

.modal-control-label {
    font-size: 1.25rem;
    font-weight: var(--bold-regular);
    margin-bottom: 0px;
}

.top-menu {
    font-size: 1.5rem;
    font-weight: var(--bold-regular);
}

.side-menu {
    font-size: .906rem;
    font-weight: var(--bold-regular)
}

.text {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

.text-field-explanation {
    font-size: 1rem;
    font-weight: var(--bold-light)
}

input:not(input[type=button], input[type=submit], .heading-1) {
    font-size: 1rem !important;
    font-weight: var(--bold-regular) !important;
}

.filter-and-search input:not(input[type=button], input[type=submit], .heading-1) {
    font-size: var(--text-font-size) !important;
    font-weight: var(--bold-regular) !important;
}
.control-label {
    font-size: .75rem;
    font-weight: var(--bold-regular);
    margin-bottom: 0px;
}

.title-label {
    font-size: 1.75rem;
    color: var(--black-87);
    font-weight: var(--bold-medium);
}

.form-group {
    margin-bottom: 0 !important;
}

.button {
    font-size: 1rem;
    font-weight: var(--bold-regular)
}

.custom-button-font {
    font-size: 1.563rem;
    font-weight: var(--bold-regular);
    color: var(--white);
}

.order-inv-custom-button-font {
    font-size: 1.563rem;
    font-weight: var(--bold-regular);
    color: var(--order-inv-color);
}

.custom-button-small-font {
    font-size: .8rem;
    font-weight: var(--bold-medium);
    color: var(--white);
}

.custom-button-table-font {
    font-size: 1rem;
    font-weight: var(--bold-medium);
    color: var(--white);
}

.custom-cancel {
    border: .0625rem solid #000000DB !important;
    background-color: transparent;
    font-weight: var(--bold-light);
    font-size: 1.438rem;
}

.create-modal-submit {
    width: 17.375rem !important;
}

.custom-order-inv {
    border: .125rem solid var(--order-inv-color) !important;
    background-color: transparent;
    font-weight: var(--bold-light);
    font-size: 1.438rem;
    color: var(--order-inv-color) !important;
}

.custom-oper {
    border: .125rem solid var(--operations-color) !important;
    background-color: transparent;
    font-weight: var(--bold-light);
    font-size: 1.438rem;
    color: var(--operations-color) !important;
}

.custom-clear-button-table {
    background-color: transparent;
    font-weight: var(--bold-medium);
    font-size: 1rem;
}

.custom-cancel:hover {
    background-color: rgba(229,229,229, .55);
}

.custom-button-font:hover {
    opacity: 0.67;
}



table td, table td .btn, .text, table th {
    font-size: var(--text-font-size) !important;
    font-weight: var(--text-font-weight) !important;
    text-transform: capitalize
}

/*margins*/
.outer-page-margins {
    margin-left: 5.625rem;
    margin-right: 5.625rem;
}

.nav-top-margin1 {
    padding-top: 4.85rem;
}

.nav-top-margin2 {
    margin-top: 5rem;
}

.m-6 {
    margin: 4rem !important;
}

.mt-6 {
    margin-top: 4rem !important;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.mr-6 {
    margin-right: 4rem !important;
}

.ml-6 {
    margin-left: 4rem !important;
}

.between-button-margin {
    margin-right: 3.125rem;
}

/*body shadows*/
.sidebar-shadow1 {
    box-shadow: 2px 3px 3px rgba(0,0,0, .16);
    height: 100%;
}

.sidebar-shadow2 {
    box-shadow: 2px 0px 6px rgba(0,0,0, .16);
}

.navbar-shadow-1 {
    box-shadow: 0px 0px 12px rgba(0,0,0, .16);
}

.navbar-shadow-2 {
    box-shadow: 0px 6px 6px rgba(0,0,0, .16);
}

/**custom submits*/
.custom-button {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    height: 2.875rem;
    border-radius: 1.438rem;
    border: none;
}

.inverted-custom-button {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    height: 2.875rem;
    border-radius: 1.438rem;
}

.small-custom-button {
    height: 2.313rem;
    width: 6.125rem;
    padding-right: 1.125rem;
    padding-left: 1.125rem;
    border-radius: 1.438rem;
    border-width: .1rem;
    text-align: center !important;
}

.new-modal-body .row,
.modal-body .row,
.new-modal-body .comment-row,
.modal-body .comment-row,
.under-row-margin {
    margin-bottom: 2.063rem;
}

.under-td-padding {
    padding-bottom: 2.063rem !important;
}

.select-box-margin-bottom {
    margin-bottom: 1.3rem;
}

.margin-top-button {
    margin-top: 3.125rem;
}

.top-radio-buttons {
    margin-top: 2.063rem;
}

.no-mb {
    margin-bottom: 0 !important;
}

.table-button {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    border: none;
}



.circular-profile-img-50 {
    height: 50px;
    width: 50px;
}

.circular-profile-img-65 {
    height: 65px;
    width: 65px;
}

.circular-profile-img-89 {
    height: 89px;
    width: 89px;
}

.circular-profile-img-150 {
    height: 150px;
    width: 150px;
}

.circular-profile-img-141 {
    height: 141px;
    width: 141px;
}

.circular-profile-img-400 {
    height: 400px;
    width: 400px;
}

.circular-profile-img-225 {
    height: 225px;
    width: 225px;
}

.circular-profile-img-197 {
    height: 197px;
    width: 197px;
}

.circular-profile-img {
    -webkit-border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, .54) !important;
}

.modal-border-radius {
    border-radius: 2.8125rem !important;
    border: none !important;
}

.modal-padding {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3.5rem;
}

.modal-close-padding {
    margin-top: 1.375rem;
    margin-right: 2rem;
}

.modal-close-style {
    font-size: 2.5rem !important;
    font-weight: 400 !important;
}

.modal-box-shadow {
    box-shadow: 0 0 .625rem #00000091 !important;
}

.modal-footer-mt {
    margin-top: 3.25rem !important;
}

.modal-header-padding {
    padding-bottom: 3.25rem !important;
}

.item-table {
    height: 6rem;
}

.table-icon-div {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
}

.heading-table-margins {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.statistics-project-selected {
    border-left: .3rem solid var(--expense-color) !important
}

.second-graduated-div {
    padding-bottom: 2.063rem !important;
}

    .second-graduated-div tr {
        border-left: 0 !important;
        border-right: 0 !important;
    }

        .second-graduated-div tr:first-child,
        .second-graduated-div tr:first-child td {
            border-top: 0 !important;
        }

        .second-graduated-div tr:last-child {
            border-bottom: 0 !important;
        }

.order-inv-form .document-border:hover, .order-inv-form .document-border.hasFile {
    border: 1px solid var(--order-inv-color) !important;
}

.oper-form .document-border:hover, .oper-form .document-border.hasFile {
    border: 1px solid var(--operations-color) !important;
}

.supplier-form .document-border:hover, .supplier-form .document-border.hasFile {
    border: 1px solid var(--lab-man-color) !important;
}

.accounting-form .document-border:hover, .accounting-form .document-border.hasFile {
    border: 1px solid var(--acc-color) !important;
}

    .accounting-form .document-border:hover i {
        color: var(--acc-color)
    }

.order-inv-form .document-border:hover i {
    color: var(--order-inv-color)
}

.oper-form .document-border:hover i {
    color: var(--operations-color)
}

.supplier-form .document-border:hover i {
    color: var(--lab-man-color)
}

.btn.btn-block.location-font-size {
    font-size: 22px !important;
}

.location-parent-name {
    font-size: 24px !important;
}

.location-visual-font {
    font-size: 11.59px !important;
}

body.modal-open, body.popover-open {
    /* background shouldn't scroll when a modal is open*/
    overflow: hidden !important;
}

.filter-and-search.orders ::placeholder { /*works for Chrome, Firefox, Opera, Safari 10.1+*/
    color: var(--order-inv-color) !important;
    opacity: 1;
}
.filter-and-search.operations ::placeholder { /*works for Chrome, Firefox, Opera, Safari 10.1+*/
    color: var(--operations-color) !important;
    opacity: 1;
}

.filter-and-search.orders ::-ms-input-placeholder { /*works for Edge*/
    color: var(--order-inv-color) !important;
}

.filter-and-search.operations ::-ms-input-placeholder { /*works for Edge*/
    color: var(--operations-color) !important;
}
.filter-and-search :focus {
    outline: none;
}

span.resources-tags-big {
    float: left;
    border: .0125rem solid var(--light-gray);
    margin-bottom: 5px;
    padding: 3px 10px;
    border-radius: 15px;
    
    text-align: center;
}

    span.resources-tags-big:hover, span.resources-tags-big.selected {
        background-color: var(--protocols-color) !important;
        color: white;
        /*filter: var(--disabled-filter);*/
    }

    span.resources-tags-big.add-padding {
        padding: 10px 15px;
        border-radius: 30px;
    }
