/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*BEGIN ADINA ADDED TO MAKE MODAL SCROLLABLE*/
.modal-body{
    max-height: calc(100vh-210px);
    overflow-y: auto;
}
/*END ADINA ADDED TO MAKE MODAL SCROLLABLE*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* <<<<<Dani's added CSS below>>>>> */

.login-field {
    border: 1.5px solid black;
    border-radius: 5px;
    font-size:1.2em;
    padding: 1.2em 1em;
}

.login-button {
    padding: 5px 30px;
    line-height: 120%;
    font-size: 90%;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight:600;
    background-color: #db2127;
    color: white;
}

.ourNavBar li a { color: #333 }

.ourNavBar li.activeNavLink a, .ourNavBar a.activeNavLink, .ourNavBar li button.activeNavLink {
    filter: invert(67%) sepia(92%) saturate(371%) hue-rotate(134deg) brightness(82%) contrast(90%);
}

.ourNavBar li.activeNavLinkAcc a, .ourNavBar a.activeNavLinkAcc {
    
    filter: invert(60%) sepia(64%) saturate(3409%) hue-rotate(224deg) brightness(91%) contrast(109%);
}

.main-btn-img {
    width: 9em;
    
}

a.bold-hover-effects {
    color: black !important;
}

a.bold-hover-effects:hover {
    color: black !important;
    text-decoration: none;
    font-weight: bold;
}

.module-button span {
    font-size: 1.25em;
}

a.owner-link {
    font-size:large;
}

table.table.table-headerspaced tbody:before {
    content: "@";
    display: block;
    line-height: 1em;
    text-indent: -99999px;
    
}

table.table.table-noheaderlines thead th {
    border-width: 0;
}

table.table tbody tr {
    border: 2px solid lightgrey;
}
table.table td {
    vertical-align:middle ;
    margin-right:20px;
}

.vendor-list-item {
    height:60px;
}

.inv-list-item {
    height:120px;
}

