@model PrototypeWithAuth.ViewModels.ChartViewModel

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="columnchart" style="        width: 100%;
        height: 100%;"></div>
<script>

    $(function () {


        function drawChart() {
               //google.charts.setOnLoadCallback(drawChart);
        var colors = JSON.parse('@Html.Raw(Json.Serialize(Model.SectionColor))')
        var values = JSON.parse('@Html.Raw(Json.Serialize(Model.SectionValue))')
        var names = JSON.parse('@Html.Raw(Json.Serialize(Model.SectionName))')
        var currency = JSON.parse('@Html.Raw(Json.Serialize(Model.Currency))')

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
            data.addColumn('number');
            data.addColumn({ role: 'style', type: 'string' });
        var bars = {}
            for (var i = 0, len = values.length; i < len; i++) {
                data.addRow([names[i], values[i], colors[i]])
        //    bars[i] =  { color: colors[i], visibleInLegend: true } 
            }
            var formatter = new google.visualization.NumberFormat({
                prefix: currency
            });
            formatter.format(data, 1);
            var options = {
                title: '',
                sliceVisibilityThreshold: 0,
               // series: bars,

                chartArea: { width: 600, height: 600, left: "20%" },
                legend: { position: 'top'},
                vAxis: {
                    textPosition: 'out',
                },


            }
            var chart = new google.visualization.ColumnChart($('#columnchart')[0]);
                chart.draw(data, options);
                }


        google.charts.load('current', { packages: ['corechart'] }).then(drawChart);
    });
</script>
<style type="text/css">
    path {
        stroke-width: 5;
    }

    g {
    }
</style>