@using PrototypeWithAuth.ViewModels
@model StatisticsWorkerViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "StatisticsWorker";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

<div class="container-fluid">

    <div class="row under-row-margin">
        <div class="col-7 heading-1 p-0">
        </div>
        <div class="col-4 offset-1">
            @Html.DropDownListFor(m => m.CategoryTypesSelected,
            new SelectList(
                Model.CategoryTypes,
                "CategoryTypeID",
                "CategoryTypeDescription"),
            "Select Category Type",
            new { @class = "expenses mdb-select custom select-dropdown form-control-plaintext adjust-small-width float-left mr-4", @multiple="multiple" }
            )
            <select class="expenses mdb-select custom select-dropdown form-control-plaintext adjust-small-width float-left mr-4 ml-3 change-currency"
                    id="select-currency" searchable="Search Currency">
                <option value="@AppUtility.CurrencyEnum.USD" selected>&dollar; USD</option>
                <option value="@AppUtility.CurrencyEnum.NIS">&#8362; NIS</option>
            </select>
            @*</div>
                <div class="col-1 p-0 monthsHours">*@

            @{
                var years = Enumerable.Range(2010, DateTime.Today.Year - 2009);
                int curYear = 2020;
            }

            @Html.DropDownList("select-years", years.Select(x =>
 new SelectListItem
 {
     Text = x.ToString(),
     Value = x.ToString(),
     Selected = (x == curYear)
 }
), htmlAttributes: new { @class = "expenses mdb-select  custom select-dropdown form-control-plaintext adjust-small-width float-left ml-3 change-year", @name = "SelectedYear", @searchable = "Search here.." })
        </div>

    </div>
</div>

@{ await Html.RenderPartialAsync("_StatisticsWorkerChart", Model.Employees);}