@using PrototypeWithAuth.ViewModels;
@model SummaryTablesViewModel

@{
    ViewData["Title"] = "SummaryTables";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

<div class=" container-fluid">


    <div class="row under-row-margin">
        <div class="col-7 heading-1 p-0">
        </div>
        <div class="col-3 offset-2">
            <select class="expenses mdb-select custom select-dropdown form-control-plaintext adjust-small-width float-left mr-4 " searchable="Search Currency">
                <option>Currency</option>
                <option value="dollar" selected>&dollar; USD</option>
                <option value="shekel">&#8362; NIS</option>
            </select>
            @*</div>
                <div class="col-1 p-0 monthsHours">*@

            @{
                int[] years = Enumerable.Range(2010, DateTime.Today.Year).ToArray();
                int curYear = Model.CurrentYear;
            }

            @Html.DropDownList("months", years.Select(x =>
 new SelectListItem
 {
     Text = x.ToString(),
     Value = x.ToString(),
     Selected = (x == curYear)
 }
), htmlAttributes: new { @class = "expenses mdb-select  custom select-dropdown form-control-plaintext adjust-small-width float-left ml-3", @name = "SelectedYear", @searchable = "Search here.." })
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12" id="summaryTable">
        @{ await Html.RenderPartialAsync("_SummaryTables", Model);}
        @*@{await Html.RenderPartialAsync("HoursPage", Model); }*@
    </div>
</div>