@using PrototypeWithAuth.ViewModels;
@model SummaryChartsViewModel
@{
    ViewData["Title"] = "SummaryPieCharts";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

}
<form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="chartForm centarix-error-style">

    <div class="row">

        <div class="col-2">
            <div class=" chart-dropdownlists">
                @{ await Html.RenderPartialAsync("_DDLForCharts", Model);
                }
            </div>
          
            <div class="margin-top-button">
                <input type="submit" value="Create a pie chart" id="createPieChart" style="width:100%; padding-left: 2.875rem; padding-right: 2.875rem;"
                       class="expenses-background-color custom-button custom-button-font float-left text" />
            </div>
        </div>


        <div class="col-10 chartDiv">
            @*@{ await Html.RenderPartialAsync("_PieChart");
                }*@
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/js/piechart.js"></script>
    <script src="~/js/validate.js"></script>

}
