
@{
    ViewData["Title"] = "Add Person";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

<div class="card col-8 offset-2 create-user" style="width:100%;">
    <div class="card-body">
        <form action="" id="createModalForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
        </form>
    </div>
</div>

