@model PrototypeWithAuth.Data.ApplicationUser

<div class="modal modal-view " id="myModal" role="dialog" aria-labelledby="User" data-backdrop="false">
    <div class="modal-dialog modal-lg box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        <div class="modal-content d-inline-block">
            <div class="modal-header">
                <h3>@Model.FirstName @Model.LastName</h3>
                <br />
                @Model.Email
            </div>
            <div class="modal-body">
                <form action="" id="editForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                    @Html.HiddenFor(model => model.Id)
                    <span class="mb-5">Are you sure you would like to delete this user?</span>
                    <br />
                    <input type="submit" value="Delete" asp-action="DeleteUserModal" class="inv-user-button float-left mt-4" />
                    <input data-dismiss="modal" value="Cancel" class="cancel-button float-right mt-4" />
                </form>
            </div>
        </div>
    </div>
</div>