@model PrototypeWithAuth.ViewModels.RegisterUserViewModel;
@using PrototypeWithAuth.AppData;


@{
    //ViewData["Title"] = "Edit User";
    Layout = null;

}

<div class="modal modal-view on-form-modal right fader users-form" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        @*style needed here to override bootstraps modal width limitations*@

        <div class="modal-content d-inline-block">
            @*<div class="card col-8 offset-2 edit-user" style="width:100%; box-shadow: 0px 2px 6px #5656567A;">
                <div class="card-body">*@
            <form action="" id="myForm" method="post" class="usersForm editUser" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                @* HIDDEN INPUTS TO DISABLE AUTOFILLS *@
                <input type="email" class="hidden" />
                <input type="password" class="hidden" />
                <input type="hidden" class="hidden" asp-for="ApplicationUserID" />
                <input type="hidden" asp-for="UserNum" />

                <input type="hidden" text="close" class="modal-open-state" />
                <input type="hidden" asp-for="NewEmployeeImage" />
                <input type="hidden" asp-for="UserImageSaved" value="false" />
                <input type="hidden" id="UserImagePath" value="" />

                <div class="new-modal-header modal-line-1-header-with-back modal-sides" style="padding: 0.5em 6em">
                 
                    <div class="back-button">
                        <button class ="back-button" type="button" @*data-dismiss="modal"*@ style="border-width: 0; background: transparent"  @*onclick="$(this).closest('.modal').modal('hide');*@>
                            <img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" />
                        </button>
                    </div>

                    <div class="row modal-title-line">
                        <div class="col-2 form-group  pl-0  d-table">
                            <button type="button" class="btn no-box-shadow  upload-image border-0 rounded-circle p-0 m-0 mark-readonly" disabled>
                                <div class="userImage upload-image ">
                                    @{
                                        var src = "src=" + "/images/user-image-placeholder.png";
                                        var hiddenIcon = "";
                                        if (Model.UserImage != null)
                                        {
                                            src = "src=/" + AppUtility.GetLastFiles(Model.UserImage, 2);
                                            hiddenIcon = "display: none;";
                                        }

                                    }

                                    <img id="user-image" class=" circular-profile-img circular-profile-img-89" @src />
                                </div>
                            </button>
                        </div>
                        <input class="modal-product-title heading-1 userName form-control-plaintext border-0" disabled value="@Model.FirstName @Model.LastName" />
                    </div>

                    <div class="row">
                        @if (Model.ErrorMessage != null)
                        {
                           <span class="text danger-text view-bag-error">Error: @Model.ErrorMessage</span>
                           
                        }
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center pl-0">
                                <span class="error-message"></span>
                                <ul class="nav nav-tabs container-fluid pr-0 border-bottom-0 nav-tabs-icons">
                                    <li class="nav-item icon">
                                        <a data-toggle="tab" href="#details" id="user-details-tab" class="nav-link user-nav-link next-tab">
                                            <i class="icon-face-24px" style="font-size: 2rem;"></i><br />Details
                                        </a>
                                    </li>
                                    <li class="nav-item icon only-employee">
                                        <a data-toggle="tab" href="#salary" id="user-salary-tab" class="nav-link user-nav-link salary-tab next-tab">
                                            <i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Salary
                                        </a>
                                    </li>
                                    <li class="nav-item icon">
                                        <a data-toggle="tab" href="#security" id="user-security-tab" class="nav-link user-nav-link security-tab next-tab">
                                            <i class="icon-security-24px" style="font-size: 2rem;"></i><br />Security
                                        </a>
                                    </li>
                                    <li class="nav-item icon">
                                        <a data-toggle="tab" href="#permissions" id="user-permissions-tab" class="nav-link user-nav-link permissions-tab  next-tab">
                                            <i class="icon-https-24px" style="font-size: 2rem;"></i><br />Permissions
                                        </a>
                                    </li>
                                    <li class="nav-item icon">
                                        <a data-toggle="tab" href="#budget" id="user-budget-tab" class="nav-link user-nav-link  next-tab">
                                            <i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Budget
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-modal-body edit-modal-outer-body partial-div" style="background: #F6F7F8; padding: 1em">
                    @Html.Partial("EditUserPartial")
                </div>
            </form>
            @*</div>
                </div>*@
        </div>
    </div>
</div>
<script src="~/js/CreateUser.js"></script>
<script>
    $(".upload-image").off("click").on("click", function (e) {
        console.log("in upload image 2");
        $.fn.CallModal2("/Admin/UserImageModal");
        return false;
    });

</script>
