@*@model IEnumerable<PrototypeWithAuth.Data.ApplicationUser>*@
@model PrototypeWithAuth.ViewModels.UserIndexViewModel
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
@*<script src="~/js/UserIndexPartial.js"></script>*@
<input type="hidden" id="PageType" value="@TempData[AppUtility.TempDataTypes.PageType.ToString()]" />
@if (Model.ErrorMessage != null)
{
    <div style="position: absolute; left: 13rem; top: 6rem; z-index: 1000;"><span class="text danger-text view-bag-error">Error: @Model.ErrorMessage</span></div>
    <br />
}
<div id="usersTable">
    @{ await Html.RenderPartialAsync("_Index", Model);}
</div>