@*@model IEnumerable<PrototypeWithAuth.Data.ApplicationUser>*@
@model PrototypeWithAuth.ViewModels.UserIndexViewModel
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

    <input type="hidden" id="PageType" value="@TempData[AppUtility.TempDataTypes.PageType.ToString()]"/>
    <div id="usersTable">
        @{ await Html.RenderPartialAsync("_Index", Model);}
    </div>