@model PrototypeWithAuth.ViewModels.RegisterUserViewModel
@*PrototypeWithAuth.Data.ApplicationUser*@

@{
    ViewData["Title"] = "CMS Register User";
    Layout = "~/Views/Shared/UsersView.cshtml";
}

<h1>
    Register a new User
</h1>

<div class="row">
    <div class="col-md-4">

        <form method="post">
            <h4>Create a new account.</h4>
            <hr />
   
            @*<div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control-plaintext border-bottom" />
                <span asp-validation-for="FirstName" class="text-danger-centarix"></span>
            </div>*@

            @*<div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control-plaintext border-bottom" />
                <span asp-validation-for="LastName" class="text-danger-centarix"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control-plaintext border-bottom" />
                <span asp-validation-for="Email" class="text-danger-centarix"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control-plaintext border-bottom" />
                <span asp-validation-for="Password" class="text-danger-centarix"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control-plaintext border-bottom" />
                <span asp-validation-for="ConfirmPassword" class="text-danger-centarix"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="SecureAppPass">Google Secure App Password</label>
                <input asp-for="SecureAppPass" class="form-control-plaintext border-bottom" />
                <span asp-validation-for="SecureAppPass" class="text-danger-centarix"></span>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Role)
                @Html.DropDownListFor(m => m.Role, new SelectList(Model.Roles, "Name", "Name"), "Select Role", new { @class = "form-control-plaintext border-bottom" })
                @Html.HiddenFor(m => m.Role) 
            </div>*@
            <button type="submit" style="        background-color: var(--user-color);
        border-width: 0;" class="btn btn-lg btn-primary">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
