
@using Microsoft.AspNetCore.Http;
@model PrototypeWithAuth.ViewModels.UserImageViewModel

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<div class="modal modal-document fader on-form-modal users-form  userImageModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true" style="z-index:6000">
    <div class="modal-dialog-centered modal-sm  mx-auto  " style=" min-width: 32%;">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$.fn.CloseModal('user-picture')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding " id="userImageForm">
                <div class="modal-header border-0 border-bottom modal-header-padding">
                    <div class="container">
                        <div class="row ">
                            <div class="col-8 offset-2 text-center">
                   
                                    <img id="user-image-modal" class="circular-profile-img circular-profile-img-197" src="~/images/user-image-placeholder.png" />

                                <div class="">
                                    <div class="">
                                        <div class="custom-button custom-button-font users-color overflow-hidden position-relative text-center mt-4">
                                            <p class="position-absolute m-0 py-1" style="height:100%">Select image</p>
                                            <input type="file" asp-for="FileToSave"
                                           class="form-control-file  ta pt-1" style="
                                           filter: alpha(opacity=0);
                                           opacity: 0;
                                           position: absolute;
                                           z-index: 1;
                                           width: 100%;
                                           height: 100%;" id="UserImageModal">

                                        </div>
                                    </div>
                                </div>
                                <label class="users-font-color text mt-3 file-name"></label>
                                <span class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-4 border-0">
                    <div class="text-center m-auto">
                        <input type="button" class="custom-button custom-button-font users-color between-button-margin " value="Save" id="saveUserImage" />
                        <button type="button" class="custom-button custom-cancel cancel-email" id="cancelUserImage" onclick="$.fn.CloseModal('user-picture')">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
