@model IEnumerable<PrototypeWithAuth.Models.ProductSubcategory>
@using PrototypeWithAuth.AppData

@{

    ViewData["Title"] = "Index";
    AppUtility.PageTypeEnum PageType =  (AppUtility.PageTypeEnum)TempData[AppUtility.TempDataTypes.PageType.ToString()];
    AppUtility.MenuItems SectionType = (AppUtility.MenuItems)TempData[AppUtility.TempDataTypes.MenuType.ToString()];
    Layout = "~/Views/Shared/RequestNavView.cshtml";

}

@*<<<<<<<<<<<< This is the Types page divs >>>>>>>>>>>>>>>*@

@*<table class="table">
    <tbody>*@

@*<div class="d-flex">
        <div>

        </div>
    </div>*@

<div class="text-center">
    <div class="d-flex">

        @{ var firstRow = true;
            var first = true;}
        @for (int i = 0; i < Model.Count(); i++)
        {

            if (i > 0 && i % 7 == 0 )
            {
                first = true;
            @:</div><div class="d-flex type-outer-div">
            }
            var link = "ItemTableType";
            if(PageType == AppUtility.PageTypeEnum.LabManagementEquipment)
            {
                link = "ItemTableEquipmentType";
            }
                        <div class="type-div">
                            <a href="@Url.ActionLink("ItemTableType", "Requests", new { PageType = PageType, SectionType = SectionType, SidebarType = AppUtility.SidebarEnum.Type, SidebarFilterID = Model.ElementAt(i).ProductSubcategoryID + "" } )" class="text text-dark">
                                <fieldset class=" type-fieldset">
                                    @if (Model.ElementAt(i).ImageURL != null)
                                    {
                                        <img class=" type-img " src="@Model.ElementAt(i).ImageURL" alt="Type Bottle" />
                                    }
                                    else
                                    {

                                        <img class=" type-img" src="~/images/css/CategoryImages/placeholder.png" alt="Type Bottle" />
                                    }
                                    <label class="type-label d-block text-truncate p-1"> @Model.ElementAt(i).ProductSubcategoryDescription</label>
                                </fieldset>
                            </a>
                        </div>
        }


    </div>
</div>
