@model IEnumerable<PrototypeWithAuth.Models.ProductSubcategory>
@using PrototypeWithAuth.AppData

@{
    ViewData["Title"] = "Index";
    var pagetype = TempData["PageType"];
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

@*<table class="table">
    <tbody>*@
<div class="container">
    <div class="row">


        @for (int i = 0; i < Model.Count(); i++)
        {

            if (i > 0 && i % 8 == 0)
            {
            @:</div><div class="row">
            }
            <div class="col">
                <fieldset class="border">
                    @Html.ActionLink(Model.ElementAt(i).ProductSubcategoryDescription, "Index", "Requests", new { @subcategoryID = @Model.ElementAt(i).ProductSubcategoryID, @PageType = pagetype }, null)
                </fieldset>
            </div>
        }


    </div>
</div>
