@model PrototypeWithAuth.ViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/InventoryNavView.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>
                @Html.DropDownListFor(c => c.Product.ProductSubcategory.ParentCategoryID,
                new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"),
                "Select Category", new { @class = "form-control",@id="parentlist" })
                <span asp-validation-for="Product.ProductSubcategory.ParentCategoryID" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                <select name="Product.ProductSubcategoryID" id="sublist" class="form-control"></select>
                <span asp-validation-for="Product.ProductSubcategoryID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.VendorID" class="control-label"></label>
                <input asp-for="Product.VendorID" class="form-control" />
                <span asp-validation-for="Product.VendorID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.LocationID" class="control-label"></label>
                <input asp-for="Product.LocationID" class="form-control" />
                <span asp-validation-for="Product.LocationID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.QuantityPerUnit" class="control-label"></label>
                <input asp-for="Product.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.UnitsInStock" class="control-label"></label>
                <input asp-for="Product.UnitsInStock" class="form-control" />
                <span asp-validation-for="Product.UnitsInStock" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.UnitsInOrder" class="control-label"></label>
                <input asp-for="Product.UnitsInOrder" class="form-control" />
                <span asp-validation-for="Product.UnitsInOrder" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.ReorderLevel" class="control-label"></label>
                <input asp-for="Product.ReorderLevel" class="form-control" />
                <span asp-validation-for="Product.ReorderLevel" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.ProductComment" class="control-label"></label>
                <input asp-for="Product.ProductComment" class="form-control" />
                <span asp-validation-for="Product.ProductComment" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.ProductMedia" class="control-label"></label>
                <input asp-for="Product.ProductMedia" class="form-control" />
                <span asp-validation-for="Product.ProductMedia" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@*Javascript that filters according to which parentcategory is selected, you must have the function in the controller for GetSubcategory*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        //Insert default item "Select" in dropdownlist on load
        $(document).ready(function () {
            var items = "<option value='0'>Select Subcategory</option>";
            $("#sublist").html(items);
        });


        $("#parentlist").change(function () {
            var parentCategoryId = $("#parentlist").val();
            var url = "/Products/GetSubCategoryList";

            $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
                var item = "";
                $("#sublist").empty();
                $.each(data, function (i, subCategory) {
                    item += '<option value="' + subCategory.productSubcategoryID  + '">' + subCategory.productSubcategoryDescription  + '</option>'
                });
                $("#sublist").html(item);
            });
        });
    </script>
}

