@model PrototypeWithAuth.ViewModels.CreateProductViewModel

<div class="modal-dialog  modal-dialog-scrollable modal-lg  modal-view">

    <div class="modal-content">


        <form asp-action="Edit" asp-route-id="@Model.Product.ProductID" method="post"  style="height: 100%; overflow: auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductID" />
            <!-- Modal Header -->
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title">@Model.Product.ProductName</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#item" class="btn btn-outline-secondary">Item</a></li>
                        <li><a data-toggle="tab" href="#location" class="btn btn-outline-secondary">Location</a></li>
                        <li><a data-toggle="tab" href="#price" class="btn btn-outline-secondary">Price</a></li>
                        <li><a data-toggle="tab" href="#documents" class="btn btn-outline-secondary">Documents</a></li>
                        <li><a data-toggle="tab" href="#comments" class="btn btn-outline-secondary">Comments</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="item" class="tab-pane fade in active">
                            <h3>ITEM</h3>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Product.ProductName" class="control-label"></label>
                                        <input asp-for="Product.ProductName" class="form-control" />
                                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.VendorID" class="control-label"></label>
                                        <input asp-for="Product.VendorID" class="form-control" />
                                        <span asp-validation-for="Product.VendorID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.ProductSubcategoryID" class="control-label"></label>
                                        <input asp-for="Product.ProductSubcategoryID" class="form-control" />
                                        <span asp-validation-for="Product.ProductSubcategoryID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.LocationID" class="control-label"></label>
                                        <input asp-for="Product.LocationID" class="form-control" />
                                        <span asp-validation-for="Product.LocationID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.QuantityPerUnit" class="control-label"></label>
                                        <input asp-for="Product.QuantityPerUnit" class="form-control" />
                                        <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.UnitsInStock" class="control-label"></label>
                                        <input asp-for="Product.UnitsInStock" class="form-control" />
                                        <span asp-validation-for="Product.UnitsInStock" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.UnitsInOrder" class="control-label"></label>
                                        <input asp-for="Product.UnitsInOrder" class="form-control" />
                                        <span asp-validation-for="Product.UnitsInOrder" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.ReorderLevel" class="control-label"></label>
                                        <input asp-for="Product.ReorderLevel" class="form-control" />
                                        <span asp-validation-for="Product.ReorderLevel" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.ProductComment" class="control-label"></label>
                                        <input asp-for="Product.ProductComment" class="form-control" />
                                        <span asp-validation-for="Product.ProductComment" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Product.ProductMedia" class="control-label"></label>
                                        <input asp-for="Product.ProductMedia" class="form-control" />
                                        <span asp-validation-for="Product.ProductMedia" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="location" class="tab-pane fade">
                            <h3>LOCATION</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="price" class="tab-pane fade">
                            <h3>PRICE</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="documents" class="tab-pane fade">
                            <h3>DOCUMENTS</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div id="comments" class="tab-pane fade">
                            <h3>COMMENTS</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-primary" />
                    @Html.ActionLink("Delete", "Delete", new { @id = Model.Product.ProductID}, new { @class = "btn btn-outline-danger" })
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>

    </div>


</div>