@model IEnumerable<CategoryBase>;

<input type="hidden" id="Model" value="@Model.FirstOrDefault().GetType().Name.ToString()" />
<input type="hidden" id="FirstModel" value="@Model.FirstOrDefault()" />
<div class="row lab-man-form category-cols">
    <div class="col-12">
        <input type="text" placeholder="search" class="search-by-category col-input" />
        @{ 
            var selected = "selected";
        }
        @foreach (var category in Model)
        {
            <button href="#" class="category-field @selected col-input" data-catid="@category.ID">@category.Description</button>
            selected = "";
        }
    </div>
</div>