@model PrototypeWithAuth.ViewModels.CategoryPopoverViewModel
@using PrototypeWithAuth.AppData

<span class="d-inline-block">
    <ul class="list-unstyled p-0 m-0">
        <li>
            <button id="categoryPopover" type="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-container="body" class="btn p-0 m-0 no-box-shadow text">
                <i class="icon-centarix-icons-17" style="font-size:1.6rem;">
                </i>
            </button>
        </li>
        <div style="display:none;" id="categorySortContent" class="">
            <div class="custom-control custom-checkbox plain-form categoryFilter">
                <input type="checkbox" class="custom-control-input categorySort select-category" asp-for="SelectedCategoryOption[0]" />
                <label class="custom-control-label text" asp-for="SelectedCategoryOption[0]">Category</label>
            </div>
            <div class="custom-control custom-checkbox plain-form categoryFilter">
                <input type="checkbox" class="custom-control-input categorySort select-subcategory" asp-for="SelectedCategoryOption[1]" />
                <label class="custom-control-label text" asp-for="SelectedCategoryOption[1]">Subcategory</label>
            </div>
        </div>

    </ul>
</span>


<script>
    $("#categoryPopover").off('click').click(function () {
        $('[data-toggle="popover"]').popover('dispose');
        $(this).addClass("activePopover");
        $('[data-toggle="popover"]').each(function () {
            if (!$(this).hasClass("activePopover")) {
                $(this).popover('dispose');
            }
        });
        $('#categoryPopover').popover({
            sanitize: false,
            placement: 'bottom',
            html: true,
            content: function () {
                return $('#categorySortContent').html();
            }
        });
        $('#categoryPopover').popover('toggle');

        $(".popover").off("click").on("click", ".categoryFilter", function (e) {
            var id = "#" + $(this).children(".categorySort").prop("id")
            $(id).attr("checked", !$(id).prop("checked"));
            if ($('#masterPageType').val() == "RequestCart" || $('#masterPageType').val() == "LabManagementQuotes" || $('#masterPageType').val() == "AccountingPayments" || $('#masterPageType').val() == "AccountingNotifications") {

                ajaxPartialIndexTable($('.request-status-id').val(), "/Requests/_IndexTableDataByVendor", "._IndexTableDataByVendor", "GET");
            }
            else {
                if ($('#masterPageType').val() == "AccountingGeneral") {
                    var year = $("#Years").val();
                    var month = $("#Months").val();
                }
                ajaxPartialIndexTable($('.request-status-id').val(), "/Requests/_IndexTableData", "._IndexTableData", "GET", undefined, "", month, year);
            }
            return false;
        })
    });

    
</script>