@model PrototypeWithAuth.ViewModels.CustomField;
@{
    var customMDBSelect = "mdb-select-" + Model.CustomFieldCounter;
    var customClass = "custom-fields-" + Model.CustomFieldCounter;
}
<div class="custom-fields @customClass row">
    <div class="col-4">
        <div class="form-group">
            <label class="control-label" asp-for="FieldName"></label>
            <input asp-for="FieldName" class="form-control-plaintext border-bottom" />
            <span asp-validation-for="FieldName" class="centarix-error-style"></span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label class="control-label">Data Type</label>
            @Html.DropDownListFor(
                m => m.CustomDataTypeID,
                new SelectList(
            Model.CustomDataTypes,
            dataValueField: "CustomDataTypeID",
            dataTextField: "Name"),
                "Select A Data Type",
                new { @class = "mdb-select custom select-dropdown form-control-plaintext " + customMDBSelect, @searchable = "default value" }
            )
            <span asp-validation-for="FieldName" class="centarix-error-style"></span>
        </div>
    </div>
    <div class="col-2 d-flex ml-5" style="height:auto;">
        <div class="form-check d-flex align-items-end pb-2" style="height:auto;">
            <input type="checkbox" class="form-check-input filled-in" asp-for="Required[0]" />
            <label class="form-check-label align-items-end" asp-for="Required[0]">Required</label>
        </div>
    </div>
    <div class="col-1 d-flex" style="height:auto;">
        <a href="" class="remove-custom-field danger-filter align-items-end pb-2 d-flex" style="height:auto; font-size:1.75rem;">
            <i class="icon-delete-24px align-items-end"></i>
        </a>
    </div>
</div>