@model PrototypeWithAuth.ViewModels.CustomField;
@{
    var customMDBSelect = "mdb-select-" + Model.CustomFieldCounter;
}
<div class="col-4">
    <div class="form-group">
        <label class="control-label" asp-for="FieldName"></label>
        <input asp-for="FieldName" class="form-control-plaintext border-bottom" />
        <span asp-validation-for="FieldName" class="centarix-error-style"></span>
    </div>
</div>
<div class="col-4">
    <div class="form-group">
        <label class="control-label">Data Type</label>
        @Html.DropDownListFor(
            m => m.CustomDataTypeID,
            new SelectList(
        Model.CustomDataTypes,
        dataValueField: "CustomDataTypeID",
        dataTextField: "Name"),
            "Select A Data Type",
            new { @class = "mdb-select custom select-dropdown form-control-plaintext " + customMDBSelect, @searchable = "default value" }
        )
        <span asp-validation-for="FieldName" class="centarix-error-style"></span>
    </div>
</div>
<div class="col-2">
    <div class="form-check">
        <input type="checkbox" class="form-check-input filled-in" asp-for="Required[0]" />
        <label class="form-check-label " asp-for="Required[0]">Required</label>
    </div>
</div>