@model PrototypeWithAuth.ViewModels.RequestItemViewModel

@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@using PrototypeWithAuth.ViewModels
@using React.AspNet

<script src="~/js/site.js"></script>
<script src="~/js/DocumentModalJS.js"></script>
<script src="~/js/DeleteDocModal.js"></script>
<div class="row"><span class="heading-1 modal-tab-name">Documents</span></div>

@{
    var urlAction = Url.Action("DocumentsModal", "Requests");

  
}
@Html.React("DocumentsRootComponent", new {documentsInfo=Model.DocumentsInfo, modalType=Model.ModalType})
    @Html.ReactGetScriptPaths()
    @Html.ReactInitJavaScript()

