@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData
@{

    string newButtonText = "";
    string orderedButtonText = "";
    string receivedButtonText = "";
    string approvedButtonText = "";

    string newActiveClass = "";
    string orderedActiveClass = "";
    string receivedActiveClass = "";
    string approvedActiveClass = "";
    int requestStatusID = Model.RequestStatusID;

    newButtonText = "For Approval [" + Model.NewCount + "]";
    orderedButtonText = "Ordered [" + Model.OrderedCount + "]";
    receivedButtonText = "Received [" + Model.ReceivedCount + "]";
    approvedButtonText = "Approved [" + Model.ApprovedCount + "]";

    newActiveClass = "new-button pt-4 ";
    orderedActiveClass = "new-button pt-4 ";
    receivedActiveClass = "new-button pt-4 ";
    approvedActiveClass = "new-button pt-4 ";

    var activeClasses = "new-button active  pt-4";
    if (Model.PageType == AppUtility.PageTypeEnum.OperationsRequest)
    {
        activeClasses += " new-oper-button ";
    }

    switch (Model.RequestStatusID)
    {
        case 1:
        case 4:
        case 5:
            newActiveClass = activeClasses ;
            break;
        case 2:
            orderedActiveClass = activeClasses;
            break;
        case 3:
            receivedActiveClass = activeClasses;
            break;
        case 6:
            approvedActiveClass = activeClasses;
            break;

    }


}

<div class="">
    <div class="item-table">
        <ul class="pl-0">
            <li class="list-inline-item active m-0">
                <a class="@newActiveClass countStatus" value="1" href=" "><i class="new-icon icon-centarix-icons-04"></i>  <label class="new-button-text">@newButtonText</label> </a>
            </li>
            <li class="list-inline-item m-0">
                <a class="@approvedActiveClass countStatus"  value="6" href=" "> <i class="new-icon icon-approve-24px"></i><label class="new-button-text">@approvedButtonText</label> </a>

            </li>

            <li class="list-inline-item m-0">
                <a class="@orderedActiveClass countStatus"  value="2" href=" "> <i class="new-icon icon-centarix-icons-03"></i><label class="new-button-text">@orderedButtonText</label> </a>
            </li>

            <li class="list-inline-item ">
                <a class="@receivedActiveClass countStatus"  value="3" href=" "> <i class="icon-done-24px new-icon"></i><label class="new-button-text">@receivedButtonText</label> </a>
            </li>
        </ul>
    </div>
</div>
<div class="_IndexTable">
    @{ await Html.RenderPartialAsync("_IndexTable", Model);}
</div>
<script src="~/js/IndexTableWithCounts.js"></script>