@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModelByVendor
@using PrototypeWithAuth.AppData



<div class="_IndexTableByVendor">
    @{
        await Html.RenderPartialAsync("_IndexTableByVendor", Model);
    }
</div>

<script src="~/js/PricePopoverScript.js"></script>
<script src="~/js/ConfirmDeleteScript.js"></script>