@model PrototypeWithAuth.ViewModels.ListSettingsViewModel;
<div class="row">
    <div class="col">
        @if (!Model.SelectedList.IsDefault)
        {
            <a class="btn-link text no-hover requests delete-my-list float-right" value="@Model.SelectedList.ListID">
                <i class="icon-delete-24px danger-text" style="font-size:20px;"></i>
                @*<label class="danger-text">Delete List</label>*@
            </a>
        }
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="SelectedList.Title" class="control-label">Rename List (up to 20 characters)</label>
        <input asp-for="SelectedList.Title" class="form-control-plaintext border-bottom" />
    </div>
</div>

<div class="list-users">
    @{
        await Html.RenderPartialAsync("_ListUsers", Model);
            }
</div>
