@using PrototypeWithAuth.AppData;
@model PrototypeWithAuth.ViewModels.ListSettingsViewModel;

@{
    if(Model.SidebarType == AppUtility.SidebarEnum.MyLists)
    {
        await Html.RenderPartialAsync("_MyListSettings", Model);
    }
    else
    {
        await Html.RenderPartialAsync("_SharedListSettings", Model);
    }
}

<div class="list-users">
    @{
        if (Model.SelectedList!= null || !Model.SelectedSharedList.ViewOnly)
        {
            await Html.RenderPartialAsync("_ListUsers", Model);
        }
    }
</div>
