@model PrototypeWithAuth.ViewModels.RequestItemViewModel

@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@{
    var disabled = "disable-custom-mdbselect";
    var disable = "";
    if (Model.PageType == AppUtility.PageTypeEnum.RequestSummary && Model.RequestStatusID == 7)
    {
        disabled = "";

    }
    if (Model.Requests[0].RequestStatusID == 3)
    {
        disable = "disabled";
    }
}

<div class="row modal-tab-name">
    <span class="heading-1 col-12 modal-tab-name">Location</span>
</div>
<div class="row">
            @{ var name = "";}
            @if (Model.ReceivedModalSublocationsViewModel != null)
            {

                var count = Model.ReceivedModalSublocationsViewModel.locationTypeNames.Count;
                for (int i = 0; i < count - 1; i++) //do count - 1 because we don't want them to select the smallest instances
                {
                    var depth = Model.ReceivedModalSublocationsViewModel.locationInstancesSelected.Count;



                    var nameToAppend = Model.ReceivedModalSublocationsViewModel.locationInstancesSelected[depth - 1 - ((i + (count - (count - depth))) - depth)].LocationInstanceAbbrev;
                    if(nameToAppend==null)
                    {
                        nameToAppend = Model.ReceivedModalSublocationsViewModel.locationInstancesSelected[depth - 1 - ((i + (count - (count - depth))) - depth)].LocationInstanceName;
                    }
                    name += nameToAppend;
                }
            }
        <div class="col-12 heading-1 text-center">@name</div> 
</div>
<div class="row"><input type="hidden" style="pointer-events:none" id="locationSelected" name="locationSelected" @disable /></div>
<div class="row">
    <div class="visualView col-6 m-auto text-center">
        @if (Model.ReceivedModalVisualViewModel != null)
        {
            <div>
                @{ await Html.RenderPartialAsync("ReceivedModalVisual", Model.ReceivedModalVisualViewModel); }
            </div>
        }
    </div>

</div>

<script src="~/js/receivedmodal.js"></script>
<script src="~/js/site.js"></script>