@using PrototypeWithAuth.ViewModels;
@model SettingsForm;

<form action="" method="get" class="lab-man-form" id="myForm">
    <div class="row top-bar border-bottom text-center text-justify under-row-margin">
        <div class="col-12">
            @Model.ItemCount Items &nbsp;&nbsp;&nbsp;&nbsp; @Model.RequestCount Requests
        </div>
    </div>
    <div class="new-modal-header modal-line-1-header-with-back modal-sides">
        <div class="row modal-title-line justify-content-between under-row-margin container">
            @{
                var source = Model.Category.ImageURL ?? "";
                var categoryNameRows = Model.Category.Description != null ? Math.Ceiling((float)(Model.Category.Description.Length) / 30) : 1;
                <div class="col-2">
                    <img src="@Model.Category.ImageURL" class="sub-category-image top-modal-image" alt="Alternate Text" width="75" />
                </div>
                <div class="col-8">
                    <div class="modal-product-title" style=" margin-left: 2rem !important">

                        <textarea asp-for="Category.Description" class="form-control-plaintext border-bottom heading-1 category-name" placeholder="(category name)" rows="@categoryNameRows" cols="50" maxlength="150" style="resize:none;"></textarea>
                    </div>
                    <span asp-validation-for="Category.Description" class="text-danger-centarix"></span>
                </div>
                <div class="col-2">
                    <input type="submit" class="custom-button custom-button-font" value="Save" />
                </div>
            }
        </div>
    </div>
</form> 