@model PrototypeWithAuth.ViewModels.AccountingPaymentsViewModel
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "AccountingPayments";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}


<div class="partial-orders">
    @{
        await Html.RenderPartialAsync("_AccountingPayments", Model);
    }
</div>
<script type="text/javascript">
    $(function () {
        console.log("in fx accounting payments");
        var payNowSidebar = $(".sidebarCount.2");
        payNowSidebar.removeClass("hidden");
        payNowSidebar.html("[" + @TempData["PayNowCount"] + "]");
    });
</script>


