@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModelByVendor
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "AccountingPayments";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
@if (AppUtility.IsAjaxRequest(this.Context.Request))
    {
        Layout = null;
    }

@if (Model.RequestsByVendor.Count() == 0)
{
    <div>
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_EmptyPageFull.cshtml", Model);
        }
    </div>
}
else
{
    <div class="_IndexTableByVendor">
        @{
            await Html.RenderPartialAsync("_IndexTableByVendor", Model);
        }
    </div>

}

<script type="text/javascript">
    $(function () {
        console.log("in fx accounting payments");
        var payNowSidebar = $(".sidebarCount.2");
        payNowSidebar.removeClass("hidden");
        payNowSidebar.html("[" + @TempData["PayNowCount"] + "]");
    });
</script>


