@using System;
@using System.ComponentModel.DataAnnotations;
@using System.Linq;
@using System.Reflection;
@using PrototypeWithAuth.AppData;
@model PrototypeWithAuth.ViewModels.AccountingPaymentsViewModel
@{
    ViewData["Title"] = "AccountingNotifications";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<script src="~/js/accounting.js"></script>
<script src="~/js/site.js"></script>


<div class="partial-orders">
    @{
        await Html.RenderPartialAsync("_AccountingNotifications", Model);
    }
</div>
<script>
    $(".share-payment").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        console.log("in share payments accounting payments");
    });
    $("body").on("click", ".share-payment", function (e) {
        e.preventDefault();
        e.stopPropagation();
        console.log("in share payments accounting payments - body click");
    });
</script>

