@model PrototypeWithAuth.ViewModels.OrdersByVendorViewModel
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (Model.RequestsByVendor.Count() == 0)
    {
    <div class="mt-4">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_EmptyPageFull.cshtml", Model);
        }
    </div>
    }
}

<div class="partial-orders">
    @{
        await Html.RenderPartialAsync("_Cart", Model);
    }
</div>
