
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<div class="container">
    <div class="row m-5">
        <div class="col-12">
            <h1>Cart</h1>
            <br />
        </div>
    </div>
</div>