@model PrototypeWithAuth.ViewModels.ChooseCategoryViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;
}
@*<script src="~/js/DeleteDocModal.js"></script>*@
<div class="modal modal-choose-category fader" id="ChooseCategoryModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false">
    <div class="sm-modal modal-dialog-centered mx-auto">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$(this).closest('.modal').modal('hide');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" id="myForm" class="modal-padding">
                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                <div class="modal-header modal-header-padding">
                    <div class="heading-1">Item Category</div>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="">
                            <div class="">
                                <div class="card document-border m-0">
                                    <div class="card-body text-center">
                                        Choose a Category:
                                        <div class="form-group">
                                            <label asp-for="ParentCategories" class="control-label"></label>
                                            @Html.DropDownListFor(c => c.ParentCategories,
                    new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"), "Select a Category",
                    new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "categorylist", @searchable = "Select Category" })
                                            <span asp-validation-for="ParentCategories" class="text-danger-centarix"></span>
                                        </div>
                                        <input type="submit" value="Save" href="@Url.Action("DeleteDocumentModal", "Requests")" id="submitCategory" style="display: none;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>