@model PrototypeWithAuth.ViewModels.ChooseCategoryViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;
}

<div class="m-4">
    <div class="heading-1">Item Category</div>
    <form action="" id="myForm" class="categoryForm" method="post" enctype="multipart/form-data">
        <div class="card-body">
            Choose a Category:
            <div class="form-group my-4">
                @Html.DropDownListFor(c => c.SelectedCategory,
new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"), "Select a Category",
new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "categorylist", @searchable = "Select Category" })
                <span asp-validation-for="SelectedCategory" class="text-danger-centarix"></span>
            </div>
            @*<div class="form-check">
                <input type="checkbox" class="form-check-input filled-in" asp-for="isRequestQuote"/>
               <label class="form-check-label" asp-for="isRequestQuote">Request</label>
            </div>*@
            <input type="button" value="Save" id="submitCategory" class="text custom-order-inv custom-button mt-lg-4" />
        </div>
    </form>
</div>
<script src="~/js/CreateItem.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    //$('.mdb-select').materialSelect();
</script>