@using PrototypeWithAuth.AppData;
@model AppUtility.MenuItems
@{
    Layout = null;
    var bcColor = "order-inv-background-color";
    switch (Model)
    {
        case AppUtility.MenuItems.Operations:
            bcColor = "oper-background-color";
            break;
        case AppUtility.MenuItems.LabManagement:
            bcColor = "lab-man-background-color";
            break;
        case AppUtility.MenuItems.Accounting:
            bcColor = "accounting-background-color";
            break;
        case AppUtility.MenuItems.Requests:
            bcColor = "order-inv-background-color";
            break;
        case AppUtility.MenuItems.Users:
            bcColor = "users-background-color";
            break;
    }

}
<script src="~/js/site.js"></script>
<script src="~/js/confirmedit.js"></script>
<div class="modal modal-view confirm-edit-modal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index:9999">

    <div class="modal-dialog-centered mx-auto elixir-modal-xs" role="document" >

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow">
            <button type="button" class="close modal-close-padding modal-close-style close-confirm-edit"  aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-padding">
                <div class="modal-header pt-0" style="border-bottom: 0;">
                    <input type="hidden" text="open" class="modal-open-state" />
                    <div class="row heading-1">
                        Save Changes
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        Would you like to save your changes?
                    </div>
                    <div class="row text-center">

                        <button class="text custom-button custom-button-font @bcColor save-request-edits between-button-margin">Save</button>
                        <button class="custom-button custom-cancel text dont-save-request-edits  ">Cancel</button>

                        @*<button class="custom-button custom-cancel float-right text cancel-request-edits">Cancel</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".close-confirm-edit").click(function () {
        $.fn.CloseModal("confirm-edit");
        $('.edit-mode-switch-description').text('Edit Mode On');
        $('.turn-edit-on-off').attr('name', 'edit'); 
        $('.turn-edit-on-off').prop('checked', true);
        $('.turn-edit-on-off').attr('checked', true);
        $('.open-document-modal').attr('data-val', true);
    });
</script>