@using PrototypeWithAuth.AppData;
@model AppUtility.MenuItems
@{
    @using PrototypeWithAuth.AppData
        Layout = null;
        var bcColor = "order-inv-background-color";
        switch (Model)
        {
            case AppUtility.MenuItems.Operation:
                bcColor = "oper-background-color";
                break;
            case AppUtility.MenuItems.LabManagement:
                bcColor = "lab-man-background-color";
                break;
            case AppUtility.MenuItems.Accounting:
                bcColor = "accounting-background-color";
                break;
            case AppUtility.MenuItems.OrdersAndInventory:
                bcColor = "order-inv-background-color";
                break;
            case AppUtility.MenuItems.Users:
                bcColor = "users-background-color";
                break;
        }

    }
<script src="~/js/site.js"></script>
<script src="~/js/confirmedit.js"></script>
<div class="modal confirm-edit-modal modal-view  overflow-auto" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog no-box-shadow modal-lg" role="document" style="max-height:100%; max-width:60rem; ">

        <div class="modal-content d-inline-block  modal-border-radius modal-box-shadow" style="width:58.96rem;">
            <input type="hidden" text="open" class="modal-open-state" />
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="row modal-sides heading-1">
                    Are you sure you would like to save?
                </div>
                <div class="row text-center modal-sides">

                    <button class="text custom-button custom-button-font between-button-margin @bcColor save-request-edits">Save</button>
                    <button class="text custom-button custom-button-font between-button-margin  @bcColor dont-save-request-edits">Don't Save</button>
                    <button class="custom-button custom-cancel float-right text cancel-request-edits">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>