
<div class="modal confirm-edit-modal modal-view  overflow-auto" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog no-box-shadow modal-lg" role="document" style="max-height:100%; max-width:60rem; ">

        <div class="modal-content d-inline-block  modal-border-radius modal-box-shadow" style="width:58.96rem;">

            <div class="modal-header pb-0 border-bottom-0">
                <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Are you sure you would like to save?
                <button>Save</button>
                <button>Don't Save</button>
                <button>Cancel</button>
            </div>

        </div>
    </div>
</div>