@using PrototypeWithAuth.AppData;
@model AppUtility.MenuItems
@{
    Layout = null;
    var bcColor = "order-inv-background-color";
    switch (Model)
    {
        case AppUtility.MenuItems.Operations:
            bcColor = "oper-background-color";
            break;
        case AppUtility.MenuItems.LabManagement:
            bcColor = "lab-man-background-color";
            break;
        case AppUtility.MenuItems.Accounting:
            bcColor = "accounting-background-color";
            break;
        case AppUtility.MenuItems.Requests:
            bcColor = "order-inv-background-color";
            break;
        case AppUtility.MenuItems.Users:
            bcColor = "users-background-color";
            break;
    }

}
<script src="~/js/site.js"></script>
<script src="~/js/confirmedit.js"></script>
<div class="modal modal-view confirm-exit-modal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered mx-auto  modal-lg" role="document" style="max-height:100%; width:32rem;" >

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$(this).closest('.modal').hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-padding">
                <div class="modal-header pt-0" style="border-bottom: 0;">
                    <input type="hidden" text="open" class="modal-open-state" />
                    <div class="row heading-1">
                        Save Changes
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        Are you sure you would like to exit the edit modal without saving changes?
                    </div>
                    <div class="row text-center">

                        <button class="text custom-button custom-button-font @bcColor exit-edit-modal between-button-margin">Yes</button>
                        <button class="custom-button custom-cancel text return-edit-modal ">No</button>

                        @*<button class="custom-button custom-cancel float-right text cancel-request-edits">Cancel</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>