@model PrototypeWithAuth.Models.Request
@{
    var SubjectName = "Order";
    @*New line not working*@
    var OrderText = "Hi, \n We would like to place an order for " + Model.Product.ProductName + "Forward this to: " + Model.Product.Vendor.OrderEmail;
    var IsBeingApproved = TempData["IsBeingApproved"].ToString(); //have to use string and not bool b/c it's tempdata
    var blocked = false;
    if (!User.IsInRole("Admin") && IsBeingApproved == "True")//added the isinrole for added security
    {
        blocked = true;
    }
}

<div class="modal-dialog  modal-dialog-scrollable modal-lg  modal-view">
    <div class="modal-content d-inline-block">

        <div class="modal-header border-bottom-0">
            Confirm Email Modal!
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        @if (blocked)
        {
            <span>Only admins have access to this page</span>
            @Html.ActionLink("Continue", "Index", "Requests");
        }
        else
        {
            <form action="mailto:@Model.ParentRequest.ApplicationUser.Email?Subject= @SubjectName&body=@OrderText" method="post" enctype="application/x-www-form-urlencoded">

            @*</form>
            <form action="" method="post" enctype="multipart/form-data">*@
                <div class="modal-body">
                    @if (IsBeingApproved == "True")
                    {
                        <h4>Would you like to approve this Request for @Model.Product.ProductName ?</h4>
                    }
                    @OrderText
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Confirm & Send Email" />
                    <button class="btn btn-danger close" data-dismiss="modal">Cancel Email</button>@*FAIGE: should this delete the request?*@
                </div>
            </form>
        }

    </div>
</div>