@model PrototypeWithAuth.ViewModels.ConfirmEmailViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;

}

<div class="modal modal-view  overflow-auto" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg" role="document" style="max-height:100%; max-width:60rem; ">

        <div class="modal-content d-inline-block" style="width:58.96rem;">

            <div class="modal-header pb-0 border-bottom-0">
                <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('confirm-email').html('');">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" enctype="multipart/form-data" style="height: 100%;">
                <input asp-for="VendorId" style="display: none;" />
                <input asp-for="RequestID" style="display: none;" />

                @{ await Html.RenderPartialAsync("_TempRequestHiddenFors.cshtml", Model.TempRequestListViewModel);}
                @Html.HiddenFor(model => model.IsResend)

                <div>
                    @{await Html.RenderPartialAsync("_OrderEmail", Model); }
                </div>

                <div class="modal-footer p-4">
                    <div class="m-auto">
                        <input type="submit" class="custom-button custom-button-font lab-man-background-color between-button-margin" asp-action="ConfirmQuoteEmailModal" 
                               value="Confirm & Send Email" />

                        <button class="custom-cancel custom-button cancel-email" @*data-dismiss="modal"*@ onclick="$.fn.CloseModal('confirm-email').html('');">
                            Cancel Email
                        </button>
                    </div>
                </div>

                <script>
                    var today = new Date();
                    var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
                    document.getElementById("date").innerHTML = date;
                </script>


            </form>

        </div>
    </div>
</div>
