@model PrototypeWithAuth.ViewModels.ConfirmEmailViewModel
@using PrototypeWithAuth.AppData


<div class="modal modal-view overflow-auto emailModal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index: 9200">

    <div class="modal-dialog modal-lg" role="document" style="max-height:100%; max-width:60rem; ">

        <div class="modal-content d-inline-block" style="width:58.96rem;">

            <div class="modal-header pb-0 border-bottom-0">
                <button type="button" class="close modal-close-padding modal-close-style cancelEmail" @*data-dismiss="modal"*@ aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; " class="confirmEmailModalForm">
                <div class="row error-message">
                    @{ await Html.RenderPartialAsync("_ErrorMessage", Model.ErrorMessage); }
                </div>
                @{ await Html.RenderPartialAsync("_TempRequestHiddenFors.cshtml", Model.TempRequestListViewModel); }
                <div>
                    @{await Html.RenderPartialAsync("_OrderEmail", Model); }
                </div>

                <div class="modal-footer p-4">
                    <div class="m-auto">
                        <input type="button" class="custom-button custom-button-font section-bg-color between-button-margin complete-order submitConfirmEmail" value="Confirm & Send Email" />

                        <input type="button" class="custom-cancel custom-button cancel-email cancelEmail" value="Cancel Email" />
                    </div>
                </div>
                @*<script> //not sure why setting with js ????
            var today = new Date();
            var date = moment(today);
            document.getElementById("date").innerHTML = date.format("D MMM YYYY");
        </script>*@


            </form>

        </div>
    </div>
</div>
<script src="~/js/CreateItem.js"></script>
<script>
    $(".submitConfirmEmail").off('click').on("click", function (e) {
        e.preventDefault();
        console.log("submit confirm email");
        //alert("validate form");
   
        $('.activeSubmit').removeClass('disabled-submit')
        $(".confirmEmailModalForm").prop('disabled', true)
        $("#loading").show();
        $("#RedirectAction").val(window.location.href);
        //alert("window: " + window.location.href);
        console.log("$('#SectionType').val() : " + $("#masterSectionType").val())
        var formData = new FormData($(".confirmEmailModalForm")[0]);
        $.ajax({
            contentType: false,
            processData: false,
            async: true,
            url: "/Requests/ConfirmEmailModal",
            data: formData,
            traditional: true,
            type: "POST",
            cache: false,
            timeout: 7200000,
            success: function (data) {
                $(".submitConfirmEmail").prop('disabled', false)

                //this if is not necessary right now because everythin is always _indextabledata
                var sidebarType = $('#masterSidebarType').val();
                var viewClass = "_IndexTableData";
                if (sidebarType == "Quotes" || sidebarType == "Orders" || sidebarType == "Cart") {
                    viewClass = "_IndexTableDataByVendor";
                } 
                if (sidebarType == "Add") {
                    window.location.href ="/Requests/?PageType=RequestRequest&SectionType=Requests&SidebarType=List"
                }
                
                else {
                    var url = "/Requests/" + viewClass + "?" + $.fn.getRequestIndexString($(".request-status-id").val());
                    $.fn.ajaxPartialIndexTable(url, "." + viewClass, "POST", undefined, "terms, step-1, reorder-item, confirm-email");

                }
                                         
                $("#loading").hide();
                return true;
            },
            error: function (jqxhr) {
                var guid = $('#GUID').val();
                var sequencePosition = $("#SequencePosition").val();
                $.fn.CloseModal('confirm-email');

                var e = $.fn.AddTempRequestHiddenFors(guid, sequencePosition, '.termsModal .temprequesthiddenfors', false);
                $('.termsModal .error-message').html(jqxhr.responseText)

                $("#loading").hide();
                return true;
            }
        });

     });

    $('.cancelEmail').off('click').on('click', function (e) {
        e.preventDefault();
        console.log("in cancel email");
        var guid = $('#GUID').val();
        var sequence = $("#SequencePosition").val();
        var e = $.fn.AddTempRequestHiddenFors(guid, sequence, '.termsModal .temprequesthiddenfors', true);
        if (!e) {
            $.fn.CloseModal('confirm-email');
        }
    })
</script>