@model PrototypeWithAuth.ViewModels.RequestItemViewModel


<div class="modal-dialog  modal-dialog-scrollable modal-lg  modal-view">
    <div class="modal-content d-inline-block">
        Confirm Email Modal!
    </div>
</div>