@model PrototypeWithAuth.ViewModels.ConfirmEmailViewModel
@using PrototypeWithAuth.AppData
@{
    var bcColor = "order-inv-background-color";
    if (Model.TempRequestListViewModel.RequestIndexObject.SectionType == AppUtility.MenuItems.Operations)
    {
        bcColor = "oper-background-color";
    }
    else if (Model.TempRequestListViewModel.RequestIndexObject.SectionType == AppUtility.MenuItems.LabManagement)
    {
        bcColor = "lab-man-background-color";
    }
    else if (Model.TempRequestListViewModel.RequestIndexObject.SectionType == AppUtility.MenuItems.Requests)
    {
        bcColor = "order-inv-background-color";
    }
}


<div class="modal modal-view overflow-auto emailModal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index: 9200">

    <div class="modal-dialog modal-lg" role="document" style="max-height:100%; max-width:60rem; ">

        <div class="modal-content d-inline-block" style="width:58.96rem;">

            <div class="modal-header pb-0 border-bottom-0">
                <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" 
                        onclick="$('.confirm-email').html(''); $.fn.AddTempRequestHiddenFors($('#TempRequestListViewModel_GUID', '.termsModal .temprequesthiddenfors').val());">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; ">
                @{ await Html.RenderPartialAsync("_TempRequestHiddenFors.cshtml", Model.TempRequestListViewModel);}
                <input asp-for="RequestID" style="display: none;" />

                <div>
                    @{await Html.RenderPartialAsync("_OrderEmail", Model); }
                </div>

                <div class="modal-footer p-4">
                    <div class="m-auto">
                        <input type="submit" class="custom-button custom-button-font @bcColor between-button-margin complete-order" asp-action="ConfirmEmailModal" value="Confirm & Send Email" />

                        <input type="button" class="custom-cancel custom-button cancel-email"  asp-action="CancelEmailModal @bcColor" value="Cancel Email" 
                               onclick="$('.confirm-email').html(''); $.fn.AddTempRequestHiddenFors($('#TempRequestListViewModel_GUID').val(), '.termsModal .temprequesthiddenfors');"/>
                    </div>
                </div>
                <script>
                    var today = new Date();
                    var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
                    document.getElementById("date").innerHTML = date;
                </script>


            </form>

        </div>
    </div>
</div>
<script src="~/js/CreateItem.js"></script>