@model PrototypeWithAuth.ViewModels.DeleteRequestViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;
    var bcColor = "order-inv-background-color";
    if (Model.RequestIndexObject.SectionType == AppUtility.MenuItems.Operations)
    {
        bcColor = "oper-background-color";
    }
    else if (Model.RequestIndexObject.SectionType == AppUtility.MenuItems.LabManagement)
    {
        bcColor = "lab-man-background-color";
    }
    else if (Model.RequestIndexObject.SectionType == AppUtility.MenuItems.Requests)
    {
        bcColor = "order-inv-background-color";
    }
}
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="modal modal-view" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered modal-lg mx-auto " role="document" style="max-height:100%;  overflow-y:auto;">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('delete-item');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding" id="myForm">
                @{ await Html.RenderPartialAsync("_DeleteModal", Model);}
                <div class="modal-footer">
                    <div class="text-center mx-auto modal-footer-mt">
                        <button type="submit"  class="custom-button custom-button-font @bcColor between-button-margin submit-delete" value="@Model.Request.RequestID">Confirm</button>
                        <button type="button" class="custom-cancel custom-button " @*data-dismiss="modal"*@ onclick="$.fn.CloseModal('delete-item');">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $(".submit-delete").off('click').on("click", function (e) {
        console.log("submit delete");
        e.preventDefault();
        $("#loading").show();
        //var PageType = $('#masterPageType').val();
        var sidebarType = $('#masterSidebarType').val();
        var viewClass = "._IndexTableData";
        if (sidebarType == "Quotes" || sidebarType == "Orders" || sidebarType == "Cart") {
            viewClass = "._IndexTableDataByVendor";
        }
        var formdata = new FormData($("#myForm")[0])
        $.fn.ajaxPartialIndexTable($(".request-status-id").val(), "/Requests/DeleteModal", viewClass, "POST", formdata, "delete-item");
        return false;
    });
</script>