@model Request

<div class="modal modal-document-delete fader" id="documentsModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false">
    <div class="modal-dialog reorder-modal  modal-sm " role="document">
        <div class="modal-content d-inline-block" style="border-radius:2rem;">
        </div>
    </div>
</div>