@model PrototypeWithAuth.ViewModels.DeleteDocumentsViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;
    var bcColor = "order-inv-background-color";
    if (Model.SectionType == AppUtility.MenuItems.Operations)
    {
        bcColor = "oper-background-color";
    }
    else if (Model.SectionType == AppUtility.MenuItems.Protocols)
    {
        bcColor = "protocols-background-color";
    }
    else if (Model.SectionType == AppUtility.MenuItems.Accounting)
    {
        bcColor = "accounting-background-color";
    }
    else if (Model.SectionType == AppUtility.MenuItems.LabManagement)
    {
        bcColor = "lab-man-background-color";
    }
}
<script src="~/js/DeleteDocModal.js"></script>
<div class="modal modal-document-delete fader " id="DeleteDocumentsModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false" style="z-index: 9999">
    <div class="sm-modal modal-dialog-centered mx-auto">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$('.documents-delete').html('');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" id="myForm" class="modal-padding DeleteDocumentModalForm">
                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                <input asp-for="ObjectID" type="hidden" />
                <input asp-for="FileName" type="hidden" />
                <input asp-for="FolderName" type="hidden" />
                <input asp-for="ParentFolderName" type="hidden" />
                <input asp-for="IsEdittable" type="hidden" />
                <input asp-for="SectionType" type="hidden" />
                <div class="modal-header modal-header-padding">
                    <div class="heading-1">Delete File</div>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="">
                            <div class="">
                                <div class="card document-border m-0">
                                    <div class="card-body responsive-iframe-container">
                                        @{var iframeFilestring = Model.FileName;
                                            var ext = iframeFilestring.Split(".").Last();
                                            if (ext == "pptx" || ext == "ppt")
                                            {
                                                iframeFilestring = "";
                                            } 
                                       }
                                        <iframe src="/@iframeFilestring" title="View" class="responsive-iframe" scrolling="no"></iframe>

                                    </div>
                                    <div class="card-body text-center">
                                        Are you sure you want to delete?<br />
                                        <input type="submit" value="Save" href="@Url.Action("DeleteDocumentModal", "Requests")" id="submitDelete" style="display: none;" />
                                        <button class="custom-button custom-button-font @bcColor delete-file-perm">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>