@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager

@{
    TempData.Keep();
    ViewData["Title"] = "EditModalView";

    Layout = null;

}


<div class="modal modal-view right fader on-form-modal editModal" aria-labelledby="Request" data-backdrop="false" style="z-index: 1050">
    @{ await Html.RenderPartialAsync("_EditModalView", Model);}
</div>
