@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    TempData.Keep();
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (AppUtility.IsAjaxRequest(this.Context.Request))
    {
        Layout = null;
    }
}
<div class="_IndexTableWithCounts">
    @{ await Html.RenderPartialAsync("_IndexTableWithCounts", Model);}
</div>
