@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    TempData.Keep();
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";


    <input type="hidden" asp-for="PagedList" />
    <input type="hidden" value="@Model.RequestStatusID" class="request-status-id" />
    <input type="hidden" asp-for="PageType" />


    bool search = false;
    if (TempData["Search"] != null)
    {
        if (TempData["Search"].ToString() == "True")
        {
            search = true;
        }
    }

}

@if (TempData["OpenConfirmEmailModal"] != null)
{
    <input type="text" id="tdconfirmemail" class="hidden" value="@TempData["RequestID"]" />
}
@if (TempData["ParentRequestConfirmEmail"] != null)
{
    <input type="text" id="tdprconfirmemail" class="hidden" value="@TempData["ParentRequestID"]" />
}
@if (TempData["OpenTermsModal"] != null)
{
    var termsType = TempData["OpenTermsModal"].ToString();
    switch (termsType)
    {
        case "Single":
            <input type="text" id="tdterms" class="hidden" value="@TempData["RequestID"]" />
            break;
    }
}


<div class="IndexTableRequest">
    @{ await Html.RenderPartialAsync("_IndexTableWithCounts", Model);}
</div>

