@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    TempData.Keep();
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";


    bool search = false;
    if (TempData["Search"] != null)
    {
        if (TempData["Search"].ToString() == "True")
        {
            search = true;
        }
    }
    <input type="hidden" valuer="OrderStepID" id="orderStepID" />
}
@switch (Model.OrderStepsEnum)
{
    case AppUtility.OrderStepsEnum.TermsModal:
        <input type="text" id="tdprconfirmemail" class="hidden" value="@Model.OrderStepID" />
        break;
    case AppUtility.OrderStepsEnum.ConfirmEmail:
        <input type="text" id="tdterms" class="hidden" value="@Model.OrderStepID" />
        break;
    case AppUtility.OrderStepsEnum.UploadQuoteModal:
        <input type="text" id="tduploadquotes" class="hidden" value="@Model.OrderStepID" />
        break;
    case AppUtility.OrderStepsEnum.UploadOrderModal:
        <input type="text" id="tduploadorders" class="hidden" value="@Model.OrderStepID" />
        break;
}



<div class="_IndexTableWithCounts">
    @{ await Html.RenderPartialAsync("_IndexTableWithCounts", Model);}
</div>

