@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    TempData.Keep();
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (AppUtility.IsAjaxRequest(this.Context.Request))
    {
        Layout = null;
    }

    bool search = false;
    if (TempData["Search"] != null)
    {
        if (TempData["Search"].ToString() == "True")
        {
            search = true;
        }
    }

}
@if (Model.ErrorMessage != null)
{
    <div class="row p-4">
        <span class="text danger-text view-bag-error">Error: @Model.ErrorMessage</span>
    </div>
}

@if (Model.PageType != AppUtility.PageTypeEnum.OperationsInventory)
{
    <div class="_IndexTableWithProprietaryTabs">
        @{ await Html.RenderPartialAsync("_IndexTableWithProprietaryTabs", Model);}
    </div>
}
else
{
    <div>
        @{ await Html.RenderPartialAsync("_IndexFilter", Model.InventoryFilterViewModel);}
    </div>
    <div class="_IndexTable">
        @{ await Html.RenderPartialAsync("_IndexTable", Model);}
    </div>
}

<script src="~/js/PricePopoverScript.js"></script>
