@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    TempData.Keep();
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (AppUtility.IsAjaxRequest(this.Context.Request))
    {
        Layout = null;
    }
    var controller = this.Url.ActionContext.ActionDescriptor.RouteValues["Controller"];
    Model.ControllerName = controller;

}
@if (Model.ErrorMessage != null)
{
    <div class="row p-4">
        <span class="text danger-text view-bag-error">Error: @Model.ErrorMessage</span>
    </div>
}

<div class="_IndexTableWithCounts">
    @{ await Html.RenderPartialAsync("_IndexTableWithCounts", Model);}
</div>
