@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "Owner";

    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<div class="row">
    <a href="@Url.ActionLink("Index", "ApplicationUsers", new { @PageType = TempData[AppUtility.TempDataTypes.PageType.ToString()] }).ToString()">
        <i class="fas fa-long-arrow-alt-left"></i>
    </a>
</div>
@if ((AppUtility.PageTypeEnum)TempData[AppUtility.TempDataTypes.PageType.ToString()] == AppUtility.PageTypeEnum.RequestRequest || (AppUtility.PageTypeEnum)TempData[AppUtility.TempDataTypes.PageType.ToString()] == AppUtility.PageTypeEnum.OperationsRequest)
{
    <div class="_IndexTableWithCounts">
       @{  await Html.RenderPartialAsync("_IndexTableWithCounts", Model);}
    </div>

           }
           else
           {
    <div class="_IndexTable">
        @{await Html.RenderPartialAsync("_IndexTable", Model); }
    </div>

            }

