@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModelByVendor
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "LabManageQuotes";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

    if (Model.RequestsByVendor.Count() == 0)
    {
        <div>
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_EmptyPageFull.cshtml", Model);
            }
        </div>
    }
    else
    {
        <div class="_IndexTableByVendor">
            @{
                await Html.RenderPartialAsync("_IndexTableByVendor", Model);
            }
        </div>

    }
}


