@model PrototypeWithAuth.ViewModels.OrdersByVendorViewModel
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "LabManageQuotes";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

    if (Model.RequestsByVendor.Count() == 0)
    {
        <div>
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_EmptyPageFull.cshtml", Model);
            }
        </div>
    }
    else
    {
        <label class="text-danger-centarix">@ViewBag.ErrorMessage</label>
        <form method="post" enctype="multipart/form-data" style="height: 100%; ">
            <table class="table table-headerspaced table-borderless table-hover mb-5 item-table">
                <thead>
                    <tr class="text-center">
                        <td class="pb-0" width="15%"></td>
                        <td class="pb-0" style="width:10%;">
                            Item Name
                        </td>
                        <td class="pb-0" style="width:10%;">
                            Vendor
                        </td>
                        <td class="pb-0" style="width:10%">
                            Type
                        </td>
                        <td class="pb-0" style="width:10%">
                            Amount
                        </td>
                        <td class="pb-0" style="width:10%">
                            Price
                            <div class="d-inline-block">
                                @{
                                    await Html.RenderPartialAsync("_PricePopoverCart", Model);
                                }
                            </div>
                        </td>
                        <td class="pb-0" style="width:15%">
                            Requested By
                        </td>
                        <td class="pb-0" style="width:7%">
                        </td>
                        <td class="pb-0" style="width:13%">
                        </td>
                    </tr>
                </thead>
                <tbody class="partial-orders">
                    @{
                        await Html.RenderPartialAsync("_LabManageQuotes", Model);
                    }
                </tbody>
            </table>
        </form>
    }
}


