@model PrototypeWithAuth.ViewModels.PaymentsPayModalViewModel

<link href="~/css/site.css" rel="stylesheet" />
<div class="modal modal-view fader" id="myModal" data-backdrop="false">
    <div class="modal-dialog-centered mx-auto modal-xl" style="min-width:1000PX !important; top: 20%;">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" class="modal-padding">
                <div class="modal-body">
                    <div class="container ">
                        <div class="row modal-header-padding">
                            <div class="col-6">
                                <span class="heading-1">Pay @Model.Requests.FirstOrDefault().Product.Vendor.VendorEnName.ToLower()</span>
                            </div>
                        </div>
                        <hr />
                        @{
                            var CostShekel = Model.Requests.Sum(r => r.Cost);
                            var VAT = Model.Requests.Sum(r => r.VAT);
                            var TotalShekel = CostShekel + VAT;
                        }
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    Sum
                                </div>
                                <div class="row">
                                    <div class="col-6 pl-0">
                                        <div class="input-group">
                                            <span class="input-group-text">&#x20aa;</span>
                                            <input value="@CostShekel" class="form-control-plaintext border-bottom" disabled />
                                        </div>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <div class="input-group">
                                            <span class="input-group-text">&#36;</span>
                                            <input value="" class="form-control-plaintext border-bottom" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 px-3">
                                <div class="row">
                                    VAT
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <span class="input-group-text">&#x20aa;</span>
                                        <input value="@VAT" class="form-control-plaintext border-bottom" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    Sum
                                </div>
                                <div class="row">
                                    <div class="col-6 pl-0">
                                        <div class="input-group">
                                            <span class="input-group-text">&#x20aa;</span>
                                            <input value="@TotalShekel" class="form-control-plaintext border-bottom" disabled />
                                        </div>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <div class="input-group">
                                            <span class="input-group-text">&#36;</span>
                                            <input value="" class="form-control-plaintext border-bottom" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="modal-footer-mt mx-auto">
                            @*<button class="btn inv-payments-button float-right">Paid</button>*@
                            <input type="submit" class="  custom-button custom-button-font accounting-background-color between-button-margin" value="Paid" />
                            <button class="custom-button custom-cancel ">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>