@model List<PrototypeWithAuth.Models.ProductComment>
@using PrototypeWithAuth.ViewModels
    <div class="modal modal-view productsWarningModal on-form-modal " id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index: 9100">
        <div class="modal-dialog-centered elixir-modal-sm mx-auto order-inv-form" role="document">
            <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">
                <button type="button" class="close modal-close-padding modal-close-style " @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('products-warning-modal');">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form action="" method="post" enctype="multipart/form-data" style="height: 100%;" >
 
                    <div class="modal-padding">
                        <div class="modal-header pt-0" style="border-bottom: 0;">
                            <input type="hidden" text="open" class="modal-open-state" />
                            <div class="row top-menu">
                                <div class="col text-center">Warnings</div>
                            </div>
                        </div>
                        <div class="modal-body">
                            @{int index = 0;}
                            @foreach (var c in Model)
                            {
                                await Html.RenderPartialAsync("_CommentInfoPartialView", new CommentsInfoViewModel { IsEdit = false, Index = index++, Comment =c });
                            }
                        </div>
                        <div class="modal-footer border-0 p-0">
                            <div class="mx-auto modal-footer-mt">
                                @*<button type="submit" class="custom-button custom-button-font between-button-margin order-inv-background-color ">Save</button>*@
                                <button type="button" class="custom-button custom-button-font  order-inv-background-color" onclick="$.fn.CloseModal('products-warning-modal');">OK</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
