@model PrototypeWithAuth.ViewModels.ConfirmEmailViewModel
@{
    ViewData["Title"] = "PurchaseOrderView";
    //Layout = "~/Views/Requests/ConfirmEmailModal.cshtml";

    @*var colspan = 1;
    @if (Model.ParentRequest.Requests.ToList()[0].Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
    {

        colspan = 3;
    }*@

    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

        <title>Order Summary</title>
    </head>
    <body style="font-family: 'Roboto', sans-serif;">
        <div style="padding: 1rem 2rem;">
            <header class="page-header">
                <div class="row">
                    <div class="col-md-6 company-logo">
                        <br />
                        <img src="~/images/centarix_logo-02.png" width="400" alt="Centarix Logo">
                    </div>
                    <div class="col-md-3 offset-3 pt-3 company-info">
                        <span style="font-weight: 700; font-size:1.5rem;">Centarix Biotech</span><br>
                        <span>ID: 51565512</span><br>
                        <span>Hamarpeh 3, Jerusalem</span><br>
                        <span>Tel: 073-7896888</span>
                    </div>
                </div>
                <hr>
            </header>
        
        </div>

        <script>
            var today = new Date();
            var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
            document.getElementById("date").innerHTML = date;
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>

}