@using PrototypeWithAuth.AppData
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels.ReceivedLocationViewModel
@{
    var bcColor = "order-inv-background-color";
    var form = "order-inv-form";
    if (Model.RequestIndexObject.SectionType == AppUtility.MenuItems.Operations)
    {
        bcColor = "oper-background-color";
        form = "oper-form";
    }
}

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Validation/receivedModalFormValidation.js"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<script src="~/js/receivedmodal.js"></script>
<script src="~/js/customDropdown.js"></script>
<div class="modal modal-view on-form-modal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered mx-auto elixir-modal-xl" role="document" style="max-height:100%; max-width:90rem; overflow-y:auto;">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow">
            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('received-item'); $.fn.removeOpenPopovers();">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%;" class="modal-padding @form receivedModalForm">
                @{ await Html.RenderPartialAsync("_ReceivedModal", Model);}
                <div class="modal-footer border-0 modal-footer-mt">
                    <div class="m-auto">
                        <input type="submit" class="submit-received custom-button custom-button-font @bcColor between-button-margin" />
                        <input type="button" value="Cancel" @*data-dismiss="modal"*@ class="custom-cancel custom-button" onclick="$.fn.CloseModal('received-item'); $.fn.removeOpenPopovers;" />
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
<script>
   
    $(".submit-received").click(function (e) {
        //console.log('in submit received');
        //alert("validate form");
        e.preventDefault();
        $("#myForm").data("validator").settings.ignore = "";
        var valid = $("#myForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {

            e.stopPropagation();
            if (!$('.activeSubmit').hasClass('disabled-submit')) {
                $('.activeSubmit').addClass('disabled-submit')
            }

        }
        else {
            $('.activeSubmit').removeClass('disabled-submit')
            $("#loading").show();
            var formData = new FormData($("#myForm")[0]);
            //console.log(...formData)
            $.fn.ajaxPartialIndexTable($(".request-status-id").val(), "/Requests/ReceivedModal/", "._IndexTableWithCounts", "POST", formData, "received-item");
        }
        $("#myForm").data("validator").settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';

        return false;
    });

</script>
