@model PrototypeWithAuth.ViewModels.RequestIndexPartialViewModel
@using PrototypeWithAuth.AppData
@using Microsoft.Extensions.Primitives
@using React.AspNet
@{
    StringValues action;
    Context.Request.Headers.TryGetValue("Referer", out action);
}

<div class="row pb-3">
    <a style="z-index:100" url="@action" class="title-label back-to-search btn-link heading-1 ">
        <i class="icon-arrow_back_ios-24px-1" style="font-size:1.4rem;"></i>
        <label class="pl-2">Search</label>
    </a>
</div>
<form id="searchHiddenForsForm">
    <input type="hidden" asp-for="RequestsSearchViewModel.ParentCategoryID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ProductSubcategoryID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.VendorID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ItemName" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ProductSecondaryName" />
    <input type="hidden" asp-for="RequestsSearchViewModel.InvoiceNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.InvoiceDate" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Batch" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ExpirationDate" />
    <input type="hidden" asp-for="RequestsSearchViewModel.CreationDate" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Currency" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ArrivalDate" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ApplicationUserReceiverID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.QuoteNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.CatalogNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.SerialNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.OrderDate" />
    <input type="hidden" asp-for="RequestsSearchViewModel.OrderNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.SupplierOrderNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.ApplicationUserOwnerID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Payment.CompanyAccountID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Payment.PaymentTypeID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Payment.PaymentReferenceDate" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Payment.CheckNumber" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Payment.CreditCardID" />
    <input type="hidden" asp-for="RequestsSearchViewModel.Payment.Reference" />
</form>
@

@Html.React("RootComponent", new { viewModel = Model, viewEnum = "/_IndexTable" })

@Html.ReactGetScriptPaths()
@Html.ReactInitJavaScript()
<script>
    $('.back-to-search').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var url = $(this).attr('url');
        console.log(url)
        var formdata = new FormData($("#searchHiddenForsForm")[0]);
        var formdataAsString = new URLSearchParams(formdata).toString();
        $.ajax({
            async: true,
            url: url + '&' + formdataAsString,
            traditional: true,
            type: "GET",
            cache: false,
            success: function (data) {
                $('.render-body').html(data);
                $('#search-form .mdb-select').materialSelect();
            },
            error: function (jqxhr) {
                $('.error-message').html(jqxhr.responseText);
            }
        })
    })
</script>