@model PrototypeWithAuth.ViewModels.SettingsInventory;
@{
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
<script src="~/js/Settings.js"></script>
<form class="lab-man-form">
    <div class="row">
        <div class="item-table">
            <ul class="pl-0">
                <li class="list-inline-item m-0">
                    <a class="lm-top pt-4 active text-center " value="2" href="#"><label class="new-button-text">Main</label> </a>
                </li>
                <li class="list-inline-item m-0">
                    <a class="lm-top pt-4 " value="2" href="#"><label class="new-button-text">Samples</label> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border p-2">
            @{ await Html.RenderPartialAsync("_CategoryList", Model.Categories);}
        </div>
        <div class="col-2 border p-2">

            @{ await Html.RenderPartialAsync("_CategoryList", Model.Subcategories);}
        </div>
        <div class="col-8 border settings-form">
            @{ await Html.RenderPartialAsync("_SettingsForm", Model.SettingsForm);}
        </div>
    </div>
</form>
