@model PrototypeWithAuth.ViewModels.TermsViewModel;
@using PrototypeWithAuth.AppData


<div class="modal modal-view termsModal " id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index: 9100">
    <div class="modal-dialog-centered modal-xl mx-auto on-form-modal order-inv-form" role="document" style="max-height:100%; max-width:60rem; ">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow " style="width:60rem;">
            <button type="button" class="close modal-close-padding modal-close-style" onclick="$.fn.CloseModal('terms');" @*data-dismiss="modal"*@ aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%;" id="myForm" class="modal-padding termsModalForm">

                @{ await Html.RenderPartialAsync("_TermsModal", Model);}
                <div class="modal-footer border-0 p-0">
                    <div class="mx-auto modal-footer-mt">
                        <input type="submit" asp value="Save" class="custom-button custom-button-font order-inv-background-color between-button-margin submitTerms" />
                        <button type="button" class="custom-button custom-cancel" @*data-dismiss="modal"*@ onclick="$.fn.CloseModal('terms');">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
