@using PrototypeWithAuth.AppData;
@model AppUtility.MenuItems
@{
    Layout = null;

}
<div class="modal modal-view unitWarningModal"  role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index:9999">

    <div class="modal-dialog-centered mx-auto elixir-modal-xs" role="document">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow">
            <button type="button" class="close modal-close-padding modal-close-style keep-change" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-padding">
                <div class="modal-header pt-0" style="border-bottom: 0;">
                    <input type="hidden" text="open" class="modal-open-state" />
                    <div class="row heading-1">
                        Warning:
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        Changing this amount after the item is received will be inconsistent with what was actually ordered. Maybe you mean to do this in a reorder.
                    </div>
                    <div class="row text-center">

                        <button type="button" class="text custom-button custom-button-font section-bg-color   between-button-margin keep-change" >OK</button>
                        <button type="button" class="custom-button custom-cancel text  cancel-change ">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".keep-change").click(function () {
        $(".showUnitAmountWarning").attr("old-val", $(".showUnitAmountWarning").val());
        $.fn.CloseModal("unit-warning-modal");
    });
    $(".cancel-change").click(function () {
        $(".showUnitAmountWarning").val($(".showUnitAmountWarning").attr("old-val"));
        $.fn.CloseModal("unit-warning-modal");
    });
</script>
